agentic_ai_briefing.json
{
  "name": "Hyperscaler - Full Autonomous Branding Factory v5.1 FIXED PIPELINE",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -608,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GOOGLE_AI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": `You are the Lead Editor for HYPERSCALER. Analyze this news item from Reddit/Web.\n\nTitle: ${$json.title}\nContent: ${$json.text}\nScore: ${$json.original_score}\nURL: ${$json.source_url}\n\nTASK 1: Curation\nDetermine if this is highly relevant to Agentic AI (Agents, LLM Workflows, Autonomy, Tool-use Frameworks, etc.).\n\nTASK 2: Real News Headline Generation\nWrite a headline exactly like a real tech news editor would write it. The headline must tell the full story at a glance \u2014 who did what, and what makes it notable.\n\nGOOD EXAMPLES:\n- \"French Engineers Develop a Highly Stable Omnidirectional Drone That Reaches 124 mph\"\n- \"Anthropic Is Now Offering Free AI Courses With Certificates at Zero Cost\"\n- \"OpenAI Launches SearchGPT to Directly Challenge Google Search\"\n- \"Meta Releases Open-Source AI Model That Outperforms GPT-4 on Key Benchmarks\"\n\nBAD EXAMPLES (do NOT do this):\n- \"OPENAI RELEASES SEARCHGPT\" (too vague, no detail)\n- \"AI DRONE SYSTEM\" (not a sentence, tells nothing)\n- \"REVOLUTIONARY AI BREAKTHROUGH\" (fluff, meaningless)\n\nRULES FOR HEADLINES:\n- Format: Title Case (capitalize main words), NOT all caps.\n- Length: 10 to 18 words \u2014 long enough to be specific, short enough to be punchy.\n- Must include: WHO (company/person/team), WHAT they did, and WHY it matters or WHAT makes it notable (a number, a price, a comparison, a specific feature).\n- Factual: Must be 100% grounded in the source content \u2014 do not invent or exaggerate.\n- Plain English: No fluff words like Amazing, Revolutionary, Game-changing, Groundbreaking, Industry-leading.\n- Clarity: A reader must understand the full story from the headline alone, with zero additional context.\n\nRULES FOR HIGHLIGHTS:\n- Select 5 to 8 of the most impactful individual WORDS from the headline to highlight in Cyan #00D4FF.\n- WHAT TO HIGHLIGHT: Proper nouns (person names, company names, product names), numbers/amounts ($100M, GPT-5, 124mph), key technical terms (GPU, AGI, LLM, API), strong action verbs (Warns, Beats, Builds, Outperforms, Bans, Cuts, Surpasses), key adjectives (Compact, Open-Source, Free, Fastest), and any notable descriptor from the headline.\n- Each entry in headline_highlights must be a SINGLE WORD exactly as it appears in the headline (e.g. \"SAM\", \"ALTMAN\", \"GPT-5\", \"ANTHROPIC\", \"$2B\").\n- If a name has two words (Sam Altman), include BOTH separately: [\"SAM\", \"ALTMAN\"].\n- DO NOT highlight: prepositions (For, In, With, On, At, To, By, From), articles (A, An, The), conjunctions (And, Or, But, That, Which), filler words (Now, Just, Also, Only, More).\n- GOOD: headline \"Sam Altman Launches GPT-5 That Beats Claude for $20\" \u2192 [\"SAM\", \"ALTMAN\", \"GPT-5\", \"CLAUDE\", \"$20\"]\n- BAD: [\"LAUNCHES\", \"THAT\", \"FOR\"] \u2014 never highlight verbs or prepositions.\n\nRULES FOR CONTENT:\n- summary: 1-2 sentence professional overview.\n- full_article: 3-4 paragraph technical analysis.\n- image_prompt: Describe a SCENE that visually tells the news story \u2014 like a movie still or editorial photo. Think: what is the most compelling visual moment from this news? SCENE EXAMPLES by news type:\n- AI model launch \u2192 person reacting with wide-eyed excitement staring at a glowing laptop screen showing the AI interface\n- Hacking/security \u2192 dark hooded figure hunched over multiple monitors filled with scrolling code\n- GPU/hardware launch \u2192 engineer or CEO holding the physical chip/GPU card up, clean studio background\n- Research paper \u2192 scientist at whiteboard covered in diagrams, lab environment\n- Funding/deal \u2192 handshake in a modern glass office, city skyline behind\n- Country policy \u2192 official at a podium or government building exterior\n- Robot/automation \u2192 robot arm or humanoid robot in a factory or lab setting\nScene must have: a clear subject (person or object), meaningful background context, natural props related to the story. Cinestill 800t film style. No floating text labels or captions. Natural screen/console content (blurred code, terminal output) is fine. Company logo may appear naturally on products, screens, or walls. Purely visual storytelling.\n- image_search_query: A precise search query to find a REAL press photo of the specific person or subject. RULES: Always include the person's full name if known (e.g. 'Sam Altman OpenAI CEO portrait'). For persons: '[Full Name] [title/company] press photo portrait'. For companies: '[Company Name] [CEO full name] interview'. For products/tech: '[product name] real photo hands-on'. For countries: '[Country] [specific event or topic] news photo'. NEVER use generic terms like 'AI technology' or 'artificial intelligence concept' \u2014 always be name-specific.\n- linkedin: Professional post text.\n- facebook: Casual post text.\n- is_agentic_relevant: boolean.\n- confidence: 1-10.\n\n\\\\n\\\\nRULES FOR SUBJECT IDENTIFICATION:\\\\n- subject_type: \\\"person\\\" if about a specific individual; \\\"company\\\" if about an organization, brand, model, or product; \\\"country\\\" if about a nation or government.\\\\n- subject_name: The PRIMARY brand/entity name. For persons \u2192 their COMPANY name (e.g., Sam Altman \u2192 \\\"Anthropic\\\"). For companies/models \u2192 the company (e.g., GPT-5 \u2192 \\\"OpenAI\\\", Claude \u2192 \\\"Anthropic\\\", Gemini \u2192 \\\"Google\\\"). For frameworks \u2192 the framework (e.g., \\\"LangChain\\\", \\\"NVIDIA\\\"). For countries \u2192 country name.\\\\n- company_domain: The official website domain of the primary company/brand (e.g. \\\"microsoft.com\\\", \\\"anthropic.com\\\", \\\"openai.com\\\", \\\"nvidia.com\\\", \\\"google.com\\\", \\\"meta.com\\\"). For countries use empty string.\\\\n- logo_search_query: ALWAYS required \u2014 every news item has a brand. Rules:\\\\n  \u2022 AI model (GPT, Claude, Gemini, Llama): \\\"[creator company] logo transparent PNG\\\" (e.g. \\\"OpenAI logo PNG transparent\\\")\\\\n  \u2022 Company or startup: \\\"[company name] logo transparent PNG white background\\\"\\\\n  \u2022 Person (CEO, researcher): \\\"[their company name] logo transparent PNG\\\"\\\\n  \u2022 AI framework (LangChain, LlamaIndex, AutoGen): \\\"[framework name] logo transparent PNG\\\"\\\\n  \u2022 Hardware/chip (NVIDIA GPU, Apple Silicon): \\\"[brand name] logo transparent PNG\\\"\\\\n  \u2022 Country or government: \\\"[country name] flag PNG\\\" or \\\"[country name] map silhouette\\\"\\\\n  \u2022 Generic AI news: \\\"artificial intelligence logo PNG\\\"\\\\n\\\\nReturn ONLY valid JSON:\n{\n  \"is_agentic_relevant\": true,\n  \"headline\": \"...\",\n  \"headline_highlights\": [...],\n  \"summary\": \"...\",\n  \"full_article\": \"...\",\n  \"image_prompt\": \"...\",\n  \"image_search_query\": \"...\",\n  \"linkedin\": \"...\",\n  \"facebook\": \"...\",\n  \"source_url\": \"${$json.source_url}\",\n  \"subreddit\": \"${$json.subreddit}\",\n  \"reddit_url\": \"${$json.reddit_url}\",\n  \"date\": \"${$json.date}\",\n  \"row_number\": ${$json.row_number},\n  \"confidence\": 8\n}`\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"maxOutputTokens\": 4096,\n    \"temperature\": 0.4\n  }\n}) }}",
        "options": {}
      },
      "id": "node-claude-analysis",
      "name": "Gemini Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.item.json.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  if (!raw) throw new Error('Empty Gemini response');\n\n  const FENCE = String.fromCharCode(96, 96, 96);\n\n  // \u2500\u2500 Extract JSON string from response \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  function extractJsonStr(text) {\n    // Try fence blocks first\n    const fi = text.indexOf(FENCE);\n    if (fi !== -1) {\n      const after = text.slice(fi + 3);\n      const stripped = after.toLowerCase().startsWith('json') ? after.slice(4) : after;\n      const fe = stripped.indexOf(FENCE);\n      const s = (fe !== -1 ? stripped.slice(0, fe) : stripped).trim();\n      if (s.startsWith('{')) return s;\n    }\n    // Find outermost { ... }\n    const start = text.indexOf('{');\n    const end = text.lastIndexOf('}');\n    if (start !== -1 && end > start) return text.slice(start, end + 1);\n    return text.trim();\n  }\n\n  // \u2500\u2500 JSON sanitizer \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  function sanitize(str) {\n    return str\n      .replace(/^\\uFEFF/, '')\n      .replace(/,\\s*([}\\]])/g, '$1')          // trailing commas\n      .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]/g, '');  // bad control chars\n  }\n\n  // \u2500\u2500 Field-by-field regex extractor (nuclear fallback) \u2500\u2500\u2500\u2500\u2500\n  function extractFields(text) {\n    const get = (key, isArr) => {\n      if (isArr) {\n        const m = text.match(new RegExp(`\"${key}\"\\\\s*:\\\\s*(\\\\[(?:[^\\\\[\\\\]]*|\\\\[[^\\\\[\\\\]]*\\\\])*\\\\])`));\n        if (!m) return null;\n        try { return JSON.parse(sanitize(m[1])); } catch(e) { return []; }\n      }\n      // String value\n      const m = text.match(new RegExp(`\"${key}\"\\\\s*:\\\\s*\"((?:[^\"\\\\\\\\]|\\\\\\\\.)*)\"`));\n      if (m) return m[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"');\n      // Number/bool\n      const m2 = text.match(new RegExp(`\"${key}\"\\\\s*:\\\\s*([0-9.]+|true|false)`));\n      if (m2) {\n        const v = m2[1];\n        if (v === 'true') return true;\n        if (v === 'false') return false;\n        return isNaN(v) ? v : Number(v);\n      }\n      return null;\n    };\n    return {\n      is_agentic_relevant:  get('is_agentic_relevant') ?? true,\n      headline:             get('headline') || '',\n      headline_highlights:  get('headline_highlights', true) || [],\n      summary:              get('summary') || '',\n      full_article:         get('full_article') || '',\n      image_prompt:         get('image_prompt') || '',\n      image_search_query:   get('image_search_query') || '',\n      linkedin:             get('linkedin') || '',\n      facebook:             get('facebook') || '',\n      source_url:           get('source_url') || '',\n      subreddit:            get('subreddit') || '',\n      reddit_url:           get('reddit_url') || '',\n      date:                 get('date') || '',\n      row_number:           get('row_number') || 0,\n      confidence:           get('confidence') || 7,\n      subject_type:         get('subject_type') || 'company',\n      subject_name:         get('subject_name') || '',\n      company_domain:       get('company_domain') || '',\n      logo_search_query:    get('logo_search_query') || '',\n    };\n  }\n\n  const jsonStr = extractJsonStr(raw);\n\n  // Try 1: direct parse\n  let parsed;\n  try { parsed = JSON.parse(jsonStr); } catch(_) {}\n\n  // Try 2: sanitize then parse\n  if (!parsed) {\n    try { parsed = JSON.parse(sanitize(jsonStr)); } catch(_) {}\n  }\n\n  // Try 3: field-by-field regex (works even on truncated/malformed JSON)\n  if (!parsed || !parsed.headline) {\n    parsed = extractFields(raw);\n  }\n\n  if (!parsed.headline) throw new Error('Could not extract headline from Gemini response');\n  return [{ json: parsed }];\n} catch(e) {\n  const raw = $input.item.json.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  return [{ json: { _parse_error: e.message, _raw: raw.substring(0, 3000) } }];\n}"
      },
      "id": "node-parse-claude",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json._parse_error || '' }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "node-error-check",
      "name": "Valid Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        944,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ parseInt($json.confidence) || 0 }}",
              "operation": "largerEqual",
              "value2": 6
            }
          ]
        }
      },
      "id": "node-confidence-gate",
      "name": "Confidence Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1168,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $env.TAVILY_API_KEY }}\",\n  \"query\": \"{{ $json.image_search_query }}\",\n  \"search_depth\": \"advanced\",\n  \"include_images\": true,\n  \"max_results\": 5,\n  \"include_answer\": false\n}",
        "options": {}
      },
      "id": "node-tavily-search",
      "name": "Tavily Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1392,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const tavilyResult = $input.item.json;\nconst images = tavilyResult.images || [];\n\n// Score each image URL for likelihood of being a real press/portrait photo\nfunction scoreImage(url) {\n  let score = 0;\n  // Prefer larger image hints\n  if (/[_-](1200|1024|900|800|large|full|hires|hd|original)/i.test(url)) score += 3;\n  // Prefer known press/media CDNs\n  if (/(reuters|apimages|gettyimages|afp|bloomberg|wsj|nytimes|techcrunch|wired|theatlantic)/i.test(url)) score += 4;\n  // Prefer portrait/headshot/profile signals\n  if (/(portrait|headshot|profile|ceo|founder|speaker|press)/i.test(url)) score += 2;\n  // Penalise noise\n  if (/(logo|icon|favicon|thumb|banner|badge|avatar|placeholder|stock|generic|abstract)/i.test(url)) score -= 5;\n  if (url.includes('.svg')) score -= 10;\n  // Prefer jpg/jpeg/png\n  if (/\\.(jpg|jpeg|png)(\\?|$)/i.test(url)) score += 1;\n  return score;\n}\n\nconst validImages = images\n  .filter(url => typeof url === 'string' && url.length > 12)\n  .map(url => ({ url, score: scoreImage(url) }))\n  .filter(({ score }) => score >= -1)\n  .sort((a, b) => b.score - a.score)\n  .map(({ url }) => url);\n\nconst goodImage = validImages.length > 0 ? validImages[0] : null;\nconst claudeData = $('Confidence Gate').item.json;\n\n// Ensure logo_search_query always has a value so Tavily Logo Search never gets empty query\nconst subjectName = claudeData.subject_name || '';\nconst headline = claudeData.headline || '';\nlet logoQuery = claudeData.logo_search_query || '';\nif (!logoQuery.trim()) {\n  // Build fallback from subject_name or first 3 words of headline\n  if (subjectName) {\n    logoQuery = `${subjectName} logo transparent PNG`;\n  } else {\n    const words = headline.split(' ').slice(0, 3).join(' ');\n    logoQuery = `${words} logo PNG`;\n  }\n}\n\nreturn [{\n  json: {\n    ...claudeData,\n    press_image_url: goodImage,\n    all_reference_images: validImages.slice(0, 5),\n    has_press_image: !!goodImage,\n    logo_search_query: logoQuery\n  }\n}];"
      },
      "id": "node-merge-tavily",
      "name": "Merge Image Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_press_image }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-image-branch",
      "name": "Has Press Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1808,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const json = $input.item.json;\nconst urls = json.all_reference_images || [];\nconst base64Images = [];\nfor (const url of urls.slice(0, 5)) {\n  try {\n    const response = await fetch(url);\n    const arrayBuffer = await response.arrayBuffer();\n    const base64 = Buffer.from(arrayBuffer).toString('base64');\n    base64Images.push(base64);\n  } catch (e) {}\n}\nreturn { json: { ...json, reference_base64_images: base64Images } };"
      },
      "id": "node-download-refs",
      "name": "Download Multi-References",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GOOGLE_AI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function() {\n  const json = $input.item.json;\n  const images = json.reference_base64_images || [];\n  const logob64 = json.logo_base64 || null;\n  const subjectName = json.subject_name || '';\n\n  const parts = [\n    {\n      \"text\": `You are a professional news graphic designer. Refine the visual prompt for Seedream-v4 based on news context and reference photos.\n\nCRITICAL RULE: Return ONLY the raw visual prompt text. No explanation, no markdown. Just the prompt.\n\nYour job: read the headline and summary, then write a SCENE PROMPT that tells the story visually \u2014 like a film still or magazine editorial photo.\n\nSCENE RULES:\n- Ask yourself: what is the KEY VISUAL MOMENT of this news story?\n- MEDIUM SHOT or ENVIRONMENTAL SHOT \u2014 show enough context to tell the story, not just a face\n- If person is in reference photos: use their actual likeness (face, hair, clothing)\n- If a logo image is provided: incorporate it NATURALLY in the scene \u2014 on a laptop lid, on a screen, on a building wall, on a product, on a t-shirt. Do NOT force it. Place it where it would realistically appear.\n\nSCREEN / CONSOLE RULE:\n- Screens showing blurred code, terminal output, or console text ARE allowed \u2014 they look realistic and tell the story\n- Example: \"monitor showing scrolling green terminal code\", \"laptop screen with dark IDE open, code visible\"\n- FORBIDDEN: floating text labels, speech bubbles, title cards, captions, name badges, explicit product name text written in the air\n\nNO explicit text labels or captions floating in the scene. Natural screen/console content is fine.\n\nSCENE EXAMPLES:\n- AI model launch \u2192 person at desk amazed, laptop screen showing a chat interface with blurred text\n- Cybersecurity \u2192 hooded figure at multiple monitors with scrolling terminal code, dim blue atmosphere\n- GPU/hardware launch \u2192 engineer holding chip up, ${subjectName} logo visible on packaging behind them\n- AI framework release \u2192 developer at desk with VS Code open, code on screen, coffee mug nearby\n- Funding/deal \u2192 handshake in glass office, city skyline behind\n- Robot/automation \u2192 humanoid robot or robotic arm in modern lab\n\nNEVER: sci-fi holographic UI, floating interfaces, neon god rays, cartoon, anime, CGI, 3D render\n\nCinestill 800t film style. Sharp subject, contextual background.\n\nNEWS HEADLINE: \\${json.headline}\nNEWS SUMMARY: \\${json.summary}\n\n` + (images.length > 0 ? \"Reference photos provided \u2014 use the actual person's likeness.\" : \"\") + (logob64 ? ` Logo image provided \u2014 incorporate the ${subjectName} logo naturally in the scene where it would realistically appear.` : \"\")\n    }\n  ];\n\n  // Add press photo references\n  images.forEach(b64 => {\n    parts.push({ \"inline_data\": { \"mime_type\": \"image/jpeg\", \"data\": b64 } });\n  });\n\n  // Add logo as a reference image so Gemini can see it\n  if (logob64) {\n    const logoMime = logob64.startsWith('/9j') ? 'image/jpeg' : 'image/png';\n    parts.push({ \"inline_data\": { \"mime_type\": logoMime, \"data\": logob64 } });\n  }\n\n  return JSON.stringify({\n    \"contents\": [{ \"parts\": parts }],\n    \"generationConfig\": { \"maxOutputTokens\": 4096, \"temperature\": 0.4 }\n  });\n})() }}",
        "options": {}
      },
      "id": "node-gemini-visual-refine",
      "name": "Gemini Visual Designer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const json = $input.item.json;\nlet prompt = json.image_prompt;\ntry {\n  const res = $('Gemini Visual Designer').item.json;\n  let raw = res.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  if (raw.includes('**VISUAL PROMPT:**')) raw = raw.split('**VISUAL PROMPT:**')[1];\n  else if (raw.includes('VISUAL PROMPT:')) raw = raw.split('VISUAL PROMPT:')[1];\n  raw = raw.replace(/^(Here's|This is|I have refined|Designed as).*?[:\\n]/si, '');\n  raw = raw.replace(/\\*\\*/g, '').trim();\n  if (raw) prompt = raw;\n} catch (e) {}\n\nconst cleanPrompt = prompt.replace(/\\\\n/g, ' ').replace(/\"/g, \"'\");\n\nreturn [{\n  json: {\n    ...json,\n    wavespeed_payload: {\n      prompt: cleanPrompt + \" -- cinestill 800t film grain, high fidelity editorial photo, real people real environments, story-driven scene, sharp focus on subject, natural cinematic lighting, screens may show blurred code or terminal output. NEGATIVE PROMPT: floating text labels, speech bubbles, captions, subtitles, title cards, name badges, watermark, text overlay, words floating in air, sci-fi, futuristic, holographic UI, floating interface, abstract digital art, CGI render, 3D render, illustration, anime, cartoon, fantasy\",\n      aspect_ratio: '4:5',\n      output_format: 'png',\n      enable_sync_mode: true\n    }\n  }\n}];"
      },
      "id": "node-prep-wavespeed",
      "name": "Prep WaveSpeed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wavespeed.ai/api/v3/bytedance/seedream-v4",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.WAVESPEED_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.wavespeed_payload) }}",
        "options": {}
      },
      "id": "node-wavespeed-generate",
      "name": "WaveSpeed Seedream",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2320,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// HYPERSCALER NEWS CARD COMPOSITOR v6.2\n// Composites text overlay onto AI-generated background\n// V14: Logo passed as separate field to sharp-worker (librsvg fix)\n// ============================================================\n\nconst geminiData = $('Confidence Gate').item.json;\n\nlet logo_base64 = null;\nlet logo_url_for_output = null;\nlet subjectType = 'company';\n\nconst binaryItems = $input.item.binary || {};\nconst binKeys = Object.keys(binaryItems);\n\n// \u2500\u2500 Binary resolution (n8n 2.x Buffer handling) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst propName = binaryItems.data ? 'data' : (binKeys.length > 0 ? binKeys[0] : null);\nif (!propName) {\n  throw new Error('[Compositor] No binary found in input. Available keys: ' + binKeys.join(', '));\n}\n\nconst testBuf = await this.helpers.getBinaryDataBuffer(0, propName);\nif (!testBuf || testBuf.length < 100) {\n  throw new Error(`[Compositor] Binary is only ${testBuf ? testBuf.length : 0} bytes \u2014 download failed or URL expired.`);\n}\n\n// Support JPEG & PNG magic bytes\nconst isPng = [0x89, 0x50, 0x4E, 0x47].every((b, i) => testBuf[i] === b);\nconst isJpeg = [0xFF, 0xD8, 0xFF].every((b, i) => testBuf[i] === b);\nif (!isPng && !isJpeg) {\n  const hex = Array.from(testBuf.slice(0, 4)).map(b => b.toString(16).padStart(2,'0')).join(' ');\n  throw new Error(`[Compositor] Unsupported format (magic: ${hex}). WaveSpeed may have returned an error page.`);\n}\n\n// ---- Extract card data ----\nconst headline = (geminiData.headline || 'AI NEWS TODAY').toUpperCase().trim();\nconst highlights = (geminiData.headline_highlights || []).map(h => h.toUpperCase().trim());\nconst brandName = 'HYPERSCALER';\n\n// ---- Build SVG overlay ----\nconst W = 1080;\nconst H = 1350;\n\nfunction xmlEscape(str) {\n  return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;').replace(/'/g, '&apos;');\n}\n\nfunction colorizeWords(text, highlights) {\n  // Build a set of individual highlight words for exact matching\n  const highlightSet = new Set();\n  for (const h of highlights) {\n    // Split multi-word highlights and add each word individually\n    String(h).toUpperCase().replace(/[^A-Z0-9 $]/g, '').split(' ')\n      .filter(w => w.length >= 1)\n      .forEach(w => highlightSet.add(w));\n  }\n  const words = text.split(' ');\n  return words.map(word => {\n    // Strip punctuation for comparison but preserve original for rendering\n    const clean = word.replace(/[^A-Z0-9$]/g, '');\n    // Exact match only \u2014 no substring matching to avoid false positives\n    const isCyan = clean.length >= 1 && highlightSet.has(clean);\n    return { word, isCyan };\n  });\n}\n\nfunction wrapWords(colorWords, maxCharsPerLine) {\n  const lines = [];\n  let currentLine = [];\n  let currentLen = 0;\n  for (const cw of colorWords) {\n    if (currentLen + cw.word.length + (currentLine.length > 0 ? 1 : 0) > maxCharsPerLine && currentLine.length > 0) {\n      lines.push(currentLine);\n      currentLine = [cw];\n      currentLen = cw.word.length;\n    } else {\n      if (currentLine.length > 0) currentLen += 1;\n      currentLen += cw.word.length;\n      currentLine.push(cw);\n    }\n  }\n  if (currentLine.length > 0) lines.push(currentLine);\n  \n  // Balance orphan last line if applicable\n  if (lines.length > 1) {\n    const lastLine = lines[lines.length - 1];\n    const prevLine = lines[lines.length - 2];\n    \n    // If last line has 1 word and previous has > 2 words, balance it\n    if (lastLine.length === 1 && prevLine.length > 2) {\n      const lastLineStrLen = lastLine[0].word.length;\n      if (lastLineStrLen <= 12) {\n        lastLine.unshift(prevLine.pop());\n      }\n    }\n  }\n  \n  return lines;\n}\n\nconst colorWords = colorizeWords(headline, highlights);\n// Wrap at 22 characters max per line\nconst wrappedLines = wrapWords(colorWords, 22);\n\n// Calculate the longest line character count for dynamic scaling\nlet longestCharCount = 0;\nfor (const line of wrappedLines) {\n    const charCount = line.reduce((sum, cw) => sum + cw.word.length, 0) + Math.max(0, line.length - 1);\n    if (charCount > longestCharCount) {\n        longestCharCount = charCount;\n    }\n}\nif (longestCharCount === 0) longestCharCount = 10;\n\n// Dynamic font scaling \nconst targetMargin = 100;\nconst targetWidth = W - (targetMargin * 2); \nconst charWidthFactor = 0.65; \nconst calcFontSize = Math.round(targetWidth / (longestCharCount * charWidthFactor));\n\n// Enforce bounds on font size\nconst minFontSize = 70;\nconst maxFontSize = 120;\nconst baseFontSize = Math.min(maxFontSize, Math.max(minFontSize, calcFontSize));\n\nconst lineHeight = baseFontSize * 1.15; \nconst lineCount = wrappedLines.length;\nconst totalTextHeight = lineCount * lineHeight;\n\n// V13: Push the text ensemble much lower, closer to the bottom edge\nconst bottomMargin = 80; // Significantly reduced from 130\nconst startY = H - bottomMargin - totalTextHeight + baseFontSize; \nconst brandY = startY - baseFontSize - 80; // Reduced gap above text\n\nlet textSvg = '';\nwrappedLines.forEach((line, lineIdx) => {\n  const y = startY + (lineIdx * lineHeight);\n  textSvg += `<text x=\"${W/2}\" y=\"${y}\" font-family=\"'Arial Black', 'Impact', sans-serif\" font-size=\"${baseFontSize}\" font-weight=\"900\" text-anchor=\"middle\" letter-spacing=\"-1\" xml:space=\"preserve\">`;\n  line.forEach((cw, wi) => {\n    const color = cw.isCyan ? '#00D4FF' : '#FFFFFF';\n    textSvg += `<tspan fill=\"${color}\">${xmlEscape(cw.word)}</tspan>`;\n    if (wi < line.length - 1) textSvg += ' '; \n  });\n  textSvg += `</text>`;\n});\n\n// V13: Move gradient start lower to reveal more of the top image\nconst GRAD_START_FRAC = 0.45; // Moved down from 0.35\nconst svg = `<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"${W}\" height=\"${H}\">\n  <defs>\n    <linearGradient id=\"darkGrad\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\">\n      <stop offset=\"${GRAD_START_FRAC}\" stop-color=\"#000000\" stop-opacity=\"0\"/>\n      <stop offset=\"0.75\" stop-color=\"#060810\" stop-opacity=\"0.95\"/>\n      <stop offset=\"1\" stop-color=\"#000000\" stop-opacity=\"1\"/>\n    </linearGradient>\n    <filter id=\"textShadow\" x=\"-5%\" y=\"-5%\" width=\"110%\" height=\"110%\">\n      <feDropShadow dx=\"0\" dy=\"4\" stdDeviation=\"8\" flood-color=\"#000000\" flood-opacity=\"0.9\"/>\n    </filter>\n  </defs>\n  <rect x=\"0\" y=\"0\" width=\"${W}\" height=\"${H}\" fill=\"url(#darkGrad)\"/>\n  \n  <!-- GETINTOAI Style Brand Divider -->\n  <line x1=\"140\" y1=\"${brandY}\" x2=\"${W/2 - 145}\" y2=\"${brandY}\" stroke=\"#FFFFFF\" stroke-width=\"1.5\" opacity=\"0.6\"/>\n  <text x=\"${W/2}\" y=\"${brandY + 8}\" font-family=\"'Arial', sans-serif\" font-size=\"24\" font-weight=\"500\" fill=\"#FFFFFF\" text-anchor=\"middle\" letter-spacing=\"4\" filter=\"url(#textShadow)\">${xmlEscape(brandName)}</text>\n  <line x1=\"${W/2 + 145}\" y1=\"${brandY}\" x2=\"${W - 140}\" y2=\"${brandY}\" stroke=\"#FFFFFF\" stroke-width=\"1.5\" opacity=\"0.6\"/>\n  \n  <g filter=\"url(#textShadow)\">${textSvg}</g>\n${(function() {\n  if (!logo_base64) return '';\n  const cx = 918, cy = 158, r = 100;\n  const ro = r + 14; // outer metallic ring radius\n  return `\n    <defs>\n      <!-- Metallic ring gradient -->\n      <linearGradient id=\"ringGrad\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n        <stop offset=\"0%\"   stop-color=\"#d0d0d0\"/>\n        <stop offset=\"35%\"  stop-color=\"#707070\"/>\n        <stop offset=\"65%\"  stop-color=\"#404040\"/>\n        <stop offset=\"100%\" stop-color=\"#1a1a1a\"/>\n      </linearGradient>\n      <!-- Cyan glow ring gradient -->\n      <linearGradient id=\"cyanRingGrad\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n        <stop offset=\"0%\"   stop-color=\"#00D4FF\" stop-opacity=\"1\"/>\n        <stop offset=\"50%\"  stop-color=\"#0099CC\" stop-opacity=\"0.8\"/>\n        <stop offset=\"100%\" stop-color=\"#00D4FF\" stop-opacity=\"0.6\"/>\n      </linearGradient>\n      <!-- Glass highlight inside lens -->\n      <radialGradient id=\"glassHL\" cx=\"35%\" cy=\"28%\" r=\"55%\">\n        <stop offset=\"0%\"   stop-color=\"white\" stop-opacity=\"0.35\"/>\n        <stop offset=\"60%\"  stop-color=\"white\" stop-opacity=\"0.05\"/>\n        <stop offset=\"100%\" stop-color=\"white\" stop-opacity=\"0\"/>\n      </radialGradient>\n      <!-- Logo background dark radial -->\n      <radialGradient id=\"lensBg\" cx=\"50%\" cy=\"50%\" r=\"50%\">\n        <stop offset=\"0%\"   stop-color=\"#111111\"/>\n        <stop offset=\"100%\" stop-color=\"#000000\"/>\n      </radialGradient>\n      <!-- Drop shadow filter -->\n      <filter id=\"lensShadow\" x=\"-30%\" y=\"-30%\" width=\"160%\" height=\"160%\">\n        <feDropShadow dx=\"0\" dy=\"8\" stdDeviation=\"16\" flood-color=\"#000000\" flood-opacity=\"0.75\"/>\n      </filter>\n      <!-- Cyan outer glow -->\n      <filter id=\"cyanGlow\" x=\"-20%\" y=\"-20%\" width=\"140%\" height=\"140%\">\n        <feGaussianBlur stdDeviation=\"6\" result=\"blur\"/>\n        <feMerge><feMergeNode in=\"blur\"/><feMergeNode in=\"SourceGraphic\"/></feMerge>\n      </filter>\n    </defs>\n\n    <!-- Outer drop shadow base -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${ro + 2}\" fill=\"#000\" opacity=\"0.01\" filter=\"url(#lensShadow)\"/>\n\n    <!-- Cyan glow outer ring -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${ro + 4}\" fill=\"none\" stroke=\"url(#cyanRingGrad)\" stroke-width=\"3\" opacity=\"0.9\" filter=\"url(#cyanGlow)\"/>\n\n    <!-- Metallic outer ring -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${ro}\" fill=\"url(#ringGrad)\"/>\n\n    <!-- Thin white inner border -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${r + 2}\" fill=\"none\" stroke=\"white\" stroke-width=\"1.5\" opacity=\"0.25\"/>\n\n    <!-- Lens dark background -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${r}\" fill=\"url(#lensBg)\"/>\n\n    <!-- Logo image is now composited by sharp-worker natively (librsvg cannot render base64 images) -->\n\n    <!-- Glass reflection highlight overlay -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${r}\" fill=\"url(#glassHL)\"/>\n\n    <!-- Cyan crosshair tick marks (camera viewfinder style) -->\n    <line x1=\"${cx}\" y1=\"${cy - ro - 10}\" x2=\"${cx}\" y2=\"${cy - ro + 6}\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.8\"/>\n    <line x1=\"${cx}\" y1=\"${cy + ro - 6}\" x2=\"${cx}\" y2=\"${cy + ro + 10}\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.8\"/>\n    <line x1=\"${cx - ro - 10}\" y1=\"${cy}\" x2=\"${cx - ro + 6}\" y2=\"${cy}\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.8\"/>\n    <line x1=\"${cx + ro - 6}\" y1=\"${cy}\" x2=\"${cx + ro + 10}\" y2=\"${cy}\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.8\"/>\n\n    <!-- Corner arc brackets (top-left, top-right) -->\n    <path d=\"M ${cx - ro - 6} ${cy - 18} A ${ro + 6} ${ro + 6} 0 0 1 ${cx - 18} ${cy - ro - 6}\" fill=\"none\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.5\"/>\n    <path d=\"M ${cx + 18} ${cy - ro - 6} A ${ro + 6} ${ro + 6} 0 0 1 ${cx + ro + 6} ${cy - 18}\" fill=\"none\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.5\"/>`;\n})()}\n</svg>`;\n\nconst svgBase64 = Buffer.from(svg).toString('base64');\nconst bgBase64 = testBuf.toString('base64');\n\nreturn [{\n  json: { \n    ...geminiData, \n    compositor_mode: 'svg_overlay', \n    svg_overlay_base64: svgBase64, \n    bg_image_base64: bgBase64, \n    logo_base64: logo_base64 || null,\n    logo_url: logo_url_for_output || null,\n    company_domain: $input.item.json.company_domain || '',\n    image_source: 'wavespeed_seedream' \n  },\n  binary: {\n    bg_image: binaryItems[propName] || { data: bgBase64, mimeType: isPng ? 'image/png' : 'image/jpeg', fileName: 'background.' + (isPng ? 'png' : 'jpg') },\n    svg_overlay: { data: svgBase64, mimeType: 'image/svg+xml', fileName: 'overlay.svg' }\n  }\n}];"
      },
      "id": "node-compositor",
      "name": "Build SVG Text Overlay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://sharp-worker:3000/composite",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SHARP_WORKER_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "base_image_b64",
              "value": "={{ $json.bg_image_base64 }}"
            },
            {
              "name": "svg_overlay_b64",
              "value": "={{ $json.svg_overlay_base64 }}"
            },
            {
              "name": "logo_b64",
              "value": "={{ $json.logo_base64 || '' }}"
            },
            {
              "name": "company_domain",
              "value": "={{ $json.company_domain || '' }}"
            },
            {
              "name": "width",
              "value": 1080
            },
            {
              "name": "height",
              "value": 1350
            },
            {
              "name": "logo_url",
              "value": "={{ $json.logo_url || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-sharp-composite",
      "name": "Sharp Composite Photo (+ native HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2768,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const bin = $input.item.binary || {};\nconst finalBin = bin.final_card || bin.data || Object.values(bin)[0] || null;\nif (!finalBin) throw new Error('No final card binary found.');\nreturn [{ json: $input.item.json, binary: { final_card: finalBin } }];"
      },
      "id": "node-pick-final",
      "name": "Set Final Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const analysisData = $('Confidence Gate').item.json;\nreturn [{ json: analysisData, binary: $input.item.binary }];"
      },
      "id": "node-merge-drive-claude",
      "name": "Prepare Post Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        112
      ]
    },
    {
      "parameters": {},
      "id": "node-noop-error",
      "name": "Drop Parse Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        944,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { FINAL_SUMMARY: { brand: 'HYPERSCALER', title: $input.item.json.headline, status: 'complete' } } }];"
      },
      "id": "node-final-summary",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4752,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.wavespeed_image_url }}",
        "options": {}
      },
      "id": "node-download-wavespeed-image",
      "name": "Download WaveSpeed Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2528,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Robustly extract the WaveSpeed generated image URL from multiple possible response shapes\nconst resp = $input.item.json;\n\nconst url =\n  resp?.data?.outputs?.[0] ||\n  resp?.outputs?.[0] ||\n  resp?.data?.images?.[0] ||\n  resp?.images?.[0] ||\n  resp?.data?.url ||\n  resp?.url ||\n  resp?.data?.result ||\n  resp?.result;\n\nif (!url || typeof url !== 'string' || !url.startsWith('http')) {\n  const raw = JSON.stringify(resp).slice(0, 500);\n  throw new Error(`[WaveSpeed] Could not extract image URL from response. Tried data.outputs[0], outputs[0], data.images[0], images[0], data.url, url. Raw response: ${raw}`);\n}\n\nreturn [{ json: { ...$input.item.json, wavespeed_image_url: url } }];"
      },
      "id": "node-parse-wavespeed-url",
      "name": "Parse WaveSpeed URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        -240
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.gsheetIdPosts }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Reddit News",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1myoWz2ntz-HNEPhxRGBEWnbRiFWkhFwtmwUBXJDcnXU/edit#gid=0"
        },
        "options": {}
      },
      "id": "gsheet-read-briefing",
      "name": "Read Reddit News Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -304,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return [];\n\n// --- ROBUST FILTER: Only process items manually marked as \"Approved\" ---\nconst approved = items.filter(item => {\n  const status = item.json['Status'] || '';\n  return status.includes('Approved') || status === 'Approved';\n});\n\nif (approved.length === 0) {\n  console.log('No approved items found in this batch.');\n  return [];\n}\n\n// Sort by Engagement Score descending\nconst sorted = approved.sort((a, b) => (parseInt(b.json['Engagement Score']) || 0) - (parseInt(a.json['Engagement Score']) || 0));\n\n// Pick the top one for processing\nconst selected = sorted.slice(0, 1);\n\n// Map headers to internal briefing keys for compatibility\nreturn selected.map(item => ({\n  json: {\n    row_number: item.json.row_number,\n    title: item.json['Title'],\n    text: item.json['Body'],\n    author: item.json['Author'],\n    original_score: item.json['Upvotes'],\n    source_url: item.json['Article Link'] || item.json['URL'],\n    reddit_url: item.json['Reddit Link'],\n    subreddit: item.json['Subreddit'],\n    date: item.json['Date'],\n    status: item.json['Status']\n  }\n}));"
      },
      "id": "code-pick-top-post",
      "name": "Pick Top Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_agentic_relevant }}",
              "value2": true
            }
          ]
        }
      },
      "id": "relevance-gate-briefing",
      "name": "Relevance Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        912,
        112
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Configure Workflow\"].json.gsheetIdPosts }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Configure Workflow\"].json.gsheetNamePosts }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Posted",
            "row_number": "={{ $('Pick Top Post').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time Scraped",
              "displayName": "Time Scraped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subreddit",
              "displayName": "Subreddit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Category",
              "displayName": "AI Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reddit Link",
              "displayName": "Reddit Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Upvotes",
              "displayName": "Upvotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Upvote Ratio %",
              "displayName": "Upvote Ratio %",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Engagement Score",
              "displayName": "Engagement Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trending Level",
              "displayName": "Trending Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Type",
              "displayName": "Post Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Domain / Source",
              "displayName": "Domain / Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Age (hrs)",
              "displayName": "Post Age (hrs)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Posted At",
              "displayName": "Posted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flair",
              "displayName": "Flair",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Awards",
              "displayName": "Awards",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article Link",
              "displayName": "Article Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "gsheet-update-status",
      "name": "Mark as Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4496,
        352
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Configure Workflow\"].json.gsheetIdPosts }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Configure Workflow\"].json.gsheetNamePosts }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Rejected"
          }
        },
        "options": {}
      },
      "id": "gsheet-mark-irrelevant",
      "name": "Mark Irrelevant",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1104,
        512
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    gsheetIdPosts:   $env.GOOGLE_SHEET_ID_POSTS,\n    gsheetNamePosts: $env.GOOGLE_SHEET_NAME_POSTS\n  }\n}];"
      },
      "id": "node-config-env-v6",
      "name": "Configure Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/images?action=initializeUpload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ initializeUploadRequest: { owner: $env.LINKEDIN_PERSON_URN } }) }}",
        "options": {}
      },
      "id": "node-linkedin-register-upload",
      "name": "LinkedIn Register Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4080,
        -80
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "zZyXFhaWEOwf0PAL",
          "name": "LinkedIn account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const reg = $input.item.json;\nconst postData = $('Prepare Post Data').item.json;\nconst assetUrn = reg?.value?.image;\nconst uploadUrl = reg?.value?.uploadUrl;\nif (!assetUrn || !uploadUrl) {\n  throw new Error('LinkedIn image init failed: ' + JSON.stringify(reg).slice(0, 500));\n}\nreturn [{\n  json: { ...postData, linkedin_asset_urn: assetUrn, linkedin_upload_url: uploadUrl },\n  binary: $('Prepare Post Data').item.binary\n}];"
      },
      "id": "node-linkedin-merge-data",
      "name": "LinkedIn Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4280,
        -80
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.linkedin_upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "final_card",
        "options": {}
      },
      "id": "node-linkedin-upload-image",
      "name": "LinkedIn Upload Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4480,
        -80
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "zZyXFhaWEOwf0PAL",
          "name": "LinkedIn account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202504"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const d = $('LinkedIn Merge Data').item.json;\n  const text = d.linkedin || d.summary || d.headline || '';\n  const assetUrn = d.linkedin_asset_urn || '';\n  const headline = d.headline || '';\n  return JSON.stringify({\n    \"author\": $env.LINKEDIN_PERSON_URN,\n    \"commentary\": text,\n    \"visibility\": \"PUBLIC\",\n    \"distribution\": {\n      \"feedDistribution\": \"MAIN_FEED\",\n      \"targetEntities\": [],\n      \"thirdPartyDistributionChannels\": []\n    },\n    \"content\": {\n      \"media\": { \"title\": headline, \"id\": assetUrn }\n    },\n    \"lifecycleState\": \"PUBLISHED\",\n    \"isReshareDisabledByAuthor\": false\n  });\n})() }}",
        "options": {}
      },
      "id": "node-linkedin-create-post",
      "name": "LinkedIn Create Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4680,
        -80
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "zZyXFhaWEOwf0PAL",
          "name": "LinkedIn account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $env.HYPERSCALER_FB_PAGE_ID }}/photos?caption={{ encodeURIComponent($json.facebook) }}&access_token={{ $env.HYPERSCALER_FB_PAGE_ACCESS_TOKEN }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $json.facebook }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.HYPERSCALER_FB_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "source",
              "inputDataFieldName": "final_card"
            }
          ]
        },
        "options": {}
      },
      "id": "node-post-facebook-new",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4080,
        160
      ],
      "disabled": false
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configure Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analysis": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Valid Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Response": {
      "main": [
        [
          {
            "node": "Relevance Gate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drop Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Gate": {
      "main": [
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Merge Image Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Image Data": {
      "main": [
        [
          {
            "node": "Has Press Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Press Image": {
      "main": [
        [
          {
            "node": "Download Multi-References",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep WaveSpeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Multi-References": {
      "main": [
        [
          {
            "node": "Gemini Visual Designer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Visual Designer": {
      "main": [
        [
          {
            "node": "Prep WaveSpeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep WaveSpeed": {
      "main": [
        [
          {
            "node": "WaveSpeed Seedream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WaveSpeed Seedream": {
      "main": [
        [
          {
            "node": "Parse WaveSpeed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SVG Text Overlay": {
      "main": [
        [
          {
            "node": "Sharp Composite Photo (+ native HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sharp Composite Photo (+ native HTTP)": {
      "main": [
        [
          {
            "node": "Set Final Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Final Binary": {
      "main": [
        [
          {
            "node": "Prepare Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download WaveSpeed Image": {
      "main": [
        [
          {
            "node": "Build SVG Text Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WaveSpeed URL": {
      "main": [
        [
          {
            "node": "Download WaveSpeed Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Reddit News Sheet": {
      "main": [
        [
          {
            "node": "Pick Top Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Top Post": {
      "main": [
        [
          {
            "node": "Gemini Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relevance Gate": {
      "main": [
        [
          {
            "node": "Confidence Gate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Irrelevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Workflow": {
      "main": [
        [
          {
            "node": "Read Reddit News Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Post Data": {
      "main": [
        [
          {
            "node": "LinkedIn Register Upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Summary": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Register Upload": {
      "main": [
        [
          {
            "node": "LinkedIn Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Merge Data": {
      "main": [
        [
          {
            "node": "LinkedIn Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Upload Image": {
      "main": [
        [
          {
            "node": "LinkedIn Create Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Create Post": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "UTC"
  },
  "versionId": "44518911-3ffc-498b-9bc0-c3bcfb53262b",
  "meta": {
    "instanceId": "bfa881661c018749d441660d36f63fdf552d02437db15de1ed54bb7a572d9e36"
  },
  "id": "2",
  "tags": []
}