agentic_ai_briefing.json
{
    "name": "Hyperscaler - Full Autonomous Branding Factory v5.1 FIXED PIPELINE",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 6
                        }
                    ]
                }
            },
            "id": "node-trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                -608,
                304
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-goog-api-key",
                            "value": "={{ $env.GOOGLE_AI_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": `You are the Lead Editor for HYPERSCALER. Analyze this news item from Reddit/Web.\n\nTitle: ${$json.title}\nContent: ${$json.text}\nScore: ${$json.original_score}\nURL: ${$json.source_url}\n\nTASK 1: Curation\nDetermine if this is highly relevant to Agentic AI (Agents, LLM Workflows, Autonomy, Tool-use Frameworks, etc.).\n\nTASK 2: Real News Headline Generation\nWrite a headline exactly like a real tech news editor would write it. The headline must tell the full story at a glance — who did what, and what makes it notable.\n\nGOOD EXAMPLES:\n- \"French Engineers Develop a Highly Stable Omnidirectional Drone That Reaches 124 mph\"\n- \"Anthropic Is Now Offering Free AI Courses With Certificates at Zero Cost\"\n- \"OpenAI Launches SearchGPT to Directly Challenge Google Search\"\n- \"Meta Releases Open-Source AI Model That Outperforms GPT-4 on Key Benchmarks\"\n\nBAD EXAMPLES (do NOT do this):\n- \"OPENAI RELEASES SEARCHGPT\" (too vague, no detail)\n- \"AI DRONE SYSTEM\" (not a sentence, tells nothing)\n- \"REVOLUTIONARY AI BREAKTHROUGH\" (fluff, meaningless)\n\nRULES FOR HEADLINES:\n- Format: Title Case (capitalize main words), NOT all caps.\n- Length: 10 to 18 words — long enough to be specific, short enough to be punchy.\n- Must include: WHO (company/person/team), WHAT they did, and WHY it matters or WHAT makes it notable (a number, a price, a comparison, a specific feature).\n- Factual: Must be 100% grounded in the source content — do not invent or exaggerate.\n- Plain English: No fluff words like Amazing, Revolutionary, Game-changing, Groundbreaking, Industry-leading.\n- Clarity: A reader must understand the full story from the headline alone, with zero additional context.\n\nRULES FOR HIGHLIGHTS:\n- Select 3 to 5 of the most impactful individual WORDS from the headline to highlight in Cyan #00D4FF.\n- WHAT TO HIGHLIGHT: Proper nouns (person names, company names, product names), numbers/amounts ($100M, GPT-5, 124mph), key technical terms (GPU, AGI, LLM, API).\n- Each entry in headline_highlights must be a SINGLE WORD exactly as it appears in the headline (e.g. \"SAM\", \"ALTMAN\", \"GPT-5\", \"ANTHROPIC\", \"$2B\").\n- If a name has two words (Sam Altman), include BOTH separately: [\"SAM\", \"ALTMAN\"].\n- DO NOT highlight: verbs (Launches, Releases, Beats, Builds), prepositions (For, In, With, On, At), articles (A, An, The), conjunctions (And, Or, But), generic words (New, Now, Just).\n- GOOD: headline \"Sam Altman Launches GPT-5 That Beats Claude for $20\" → [\"SAM\", \"ALTMAN\", \"GPT-5\", \"CLAUDE\", \"$20\"]\n- BAD: [\"LAUNCHES\", \"THAT\", \"FOR\"] — never highlight verbs or prepositions.\n\nRULES FOR CONTENT:\n- summary: 1-2 sentence professional overview.\n- full_article: 3-4 paragraph technical analysis.\n- image_prompt: Describe a SCENE that visually tells the news story — like a movie still or editorial photo. Think: what is the most compelling visual moment from this news? SCENE EXAMPLES by news type:\n- AI model launch → person reacting with wide-eyed excitement staring at a glowing laptop screen showing the AI interface\n- Hacking/security → dark hooded figure hunched over multiple monitors filled with scrolling code\n- GPU/hardware launch → engineer or CEO holding the physical chip/GPU card up, clean studio background\n- Research paper → scientist at whiteboard covered in diagrams, lab environment\n- Funding/deal → handshake in a modern glass office, city skyline behind\n- Country policy → official at a podium or government building exterior\n- Robot/automation → robot arm or humanoid robot in a factory or lab setting\nScene must have: a clear subject (person or object), meaningful background context, natural props related to the story. Cinestill 800t film style. No floating text labels or captions. Natural screen/console content (blurred code, terminal output) is fine. Company logo may appear naturally on products, screens, or walls. Purely visual storytelling.\n- image_search_query: A precise search query to find a REAL press photo of the specific person or subject. RULES: Always include the person's full name if known (e.g. 'Sam Altman OpenAI CEO portrait'). For persons: '[Full Name] [title/company] press photo portrait'. For companies: '[Company Name] [CEO full name] interview'. For products/tech: '[product name] real photo hands-on'. For countries: '[Country] [specific event or topic] news photo'. NEVER use generic terms like 'AI technology' or 'artificial intelligence concept' — always be name-specific.\n- linkedin: Professional post text.\n- facebook: Casual post text.\n- is_agentic_relevant: boolean.\n- confidence: 1-10.\n\n\\\\n\\\\nRULES FOR SUBJECT IDENTIFICATION:\\\\n- subject_type: \\\"person\\\" if about a specific individual; \\\"company\\\" if about an organization, brand, model, or product; \\\"country\\\" if about a nation or government.\\\\n- subject_name: The PRIMARY brand/entity name. For persons → their COMPANY name (e.g., Sam Altman → \\\"Anthropic\\\"). For companies/models → the company (e.g., GPT-5 → \\\"OpenAI\\\", Claude → \\\"Anthropic\\\", Gemini → \\\"Google\\\"). For frameworks → the framework (e.g., \\\"LangChain\\\", \\\"NVIDIA\\\"). For countries → country name.\\\\n- company_domain: The official website domain of the primary company/brand (e.g. \\\"microsoft.com\\\", \\\"anthropic.com\\\", \\\"openai.com\\\", \\\"nvidia.com\\\", \\\"google.com\\\", \\\"meta.com\\\"). For countries use empty string.\\\\n- logo_search_query: ALWAYS required — every news item has a brand. Rules:\\\\n  • AI model (GPT, Claude, Gemini, Llama): \\\"[creator company] logo transparent PNG\\\" (e.g. \\\"OpenAI logo PNG transparent\\\")\\\\n  • Company or startup: \\\"[company name] logo transparent PNG white background\\\"\\\\n  • Person (CEO, researcher): \\\"[their company name] logo transparent PNG\\\"\\\\n  • AI framework (LangChain, LlamaIndex, AutoGen): \\\"[framework name] logo transparent PNG\\\"\\\\n  • Hardware/chip (NVIDIA GPU, Apple Silicon): \\\"[brand name] logo transparent PNG\\\"\\\\n  • Country or government: \\\"[country name] flag PNG\\\" or \\\"[country name] map silhouette\\\"\\\\n  • Generic AI news: \\\"artificial intelligence logo PNG\\\"\\\\n\\\\nReturn ONLY valid JSON:\n{\n  \"is_agentic_relevant\": true,\n  \"headline\": \"...\",\n  \"headline_highlights\": [...],\n  \"summary\": \"...\",\n  \"full_article\": \"...\",\n  \"image_prompt\": \"...\",\n  \"image_search_query\": \"...\",\n  \"linkedin\": \"...\",\n  \"facebook\": \"...\",\n  \"source_url\": \"${$json.source_url}\",\n  \"subreddit\": \"${$json.subreddit}\",\n  \"reddit_url\": \"${$json.reddit_url}\",\n  \"date\": \"${$json.date}\",\n  \"row_number\": ${$json.row_number},\n  \"confidence\": 8\n}`\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"maxOutputTokens\": 4096,\n    \"temperature\": 0.4\n  }\n}) }}",
                "options": {}
            },
            "id": "node-claude-analysis",
            "name": "Gemini Analysis",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                512,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "try {\n  const raw = $input.item.json.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\n  let jsonStr = '';\n\n  // Build the fence string without writing backtick characters directly\n  const FENCE = String.fromCharCode(96, 96, 96);\n\n  // Strategy 1: extract content between code fences\n  const fenceStart = raw.indexOf(FENCE);\n  if (fenceStart !== -1) {\n    const afterOpen = raw.slice(fenceStart + 3);\n    // Skip optional \"json\" language tag\n    const noLang = afterOpen.toLowerCase().startsWith('json')\n      ? afterOpen.slice(4)\n      : afterOpen;\n    const fenceEnd = noLang.indexOf(FENCE);\n    jsonStr = (fenceEnd !== -1 ? noLang.slice(0, fenceEnd) : noLang).trim();\n  }\n\n  // Strategy 2: find first { to last }\n  if (!jsonStr) {\n    const start = raw.indexOf('{');\n    const end = raw.lastIndexOf('}');\n    if (start !== -1 && end > start) jsonStr = raw.slice(start, end + 1);\n  }\n\n  // Strategy 3: use raw directly\n  if (!jsonStr) jsonStr = raw.trim();\n\n  if (!jsonStr) throw new Error('No JSON found in Gemini response');\n\n  const parsed = JSON.parse(jsonStr);\n  if (!parsed.headline) throw new Error('Missing headline field');\n  return [{ json: parsed }];\n} catch(e) {\n  const raw = $input.item.json.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  return [{ json: { _parse_error: e.message, _raw: raw.substring(0, 2000) } }];\n}"
            },
            "id": "node-parse-claude",
            "name": "Parse Gemini Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                720,
                304
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json._parse_error || '' }}",
                            "operation": "isEmpty"
                        }
                    ]
                }
            },
            "id": "node-error-check",
            "name": "Valid Response",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                944,
                304
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ parseInt($json.confidence) || 0 }}",
                            "operation": "largerEqual",
                            "value2": 6
                        }
                    ]
                }
            },
            "id": "node-confidence-gate",
            "name": "Confidence Gate",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1168,
                208
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.tavily.com/search",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"api_key\": \"{{ $env.TAVILY_API_KEY }}\",\n  \"query\": \"{{ $json.image_search_query }}\",\n  \"search_depth\": \"advanced\",\n  \"include_images\": true,\n  \"max_results\": 5,\n  \"include_answer\": false\n}",
                "options": {}
            },
            "id": "node-tavily-search",
            "name": "Tavily Search",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1392,
                112
            ]
        },
        {
            "parameters": {
                "jsCode": "const tavilyResult = $input.item.json;\nconst images = tavilyResult.images || [];\n\n// Score each image URL for likelihood of being a real press/portrait photo\nfunction scoreImage(url) {\n  let score = 0;\n  // Prefer larger image hints\n  if (/[_-](1200|1024|900|800|large|full|hires|hd|original)/i.test(url)) score += 3;\n  // Prefer known press/media CDNs\n  if (/(reuters|apimages|gettyimages|afp|bloomberg|wsj|nytimes|techcrunch|wired|theatlantic)/i.test(url)) score += 4;\n  // Prefer portrait/headshot/profile signals\n  if (/(portrait|headshot|profile|ceo|founder|speaker|press)/i.test(url)) score += 2;\n  // Penalise noise\n  if (/(logo|icon|favicon|thumb|banner|badge|avatar|placeholder|stock|generic|abstract)/i.test(url)) score -= 5;\n  if (url.includes('.svg')) score -= 10;\n  // Prefer jpg/jpeg/png\n  if (/\\.(jpg|jpeg|png)(\\?|$)/i.test(url)) score += 1;\n  return score;\n}\n\nconst validImages = images\n  .filter(url => typeof url === 'string' && url.length > 12)\n  .map(url => ({ url, score: scoreImage(url) }))\n  .filter(({ score }) => score >= -1)\n  .sort((a, b) => b.score - a.score)\n  .map(({ url }) => url);\n\nconst goodImage = validImages.length > 0 ? validImages[0] : null;\nconst claudeData = $('Confidence Gate').item.json;\n\n// Ensure logo_search_query always has a value so Tavily Logo Search never gets empty query\nconst subjectName = claudeData.subject_name || '';\nconst headline = claudeData.headline || '';\nlet logoQuery = claudeData.logo_search_query || '';\nif (!logoQuery.trim()) {\n  // Build fallback from subject_name or first 3 words of headline\n  if (subjectName) {\n    logoQuery = `${subjectName} logo transparent PNG`;\n  } else {\n    const words = headline.split(' ').slice(0, 3).join(' ');\n    logoQuery = `${words} logo PNG`;\n  }\n}\n\nreturn [{\n  json: {\n    ...claudeData,\n    press_image_url: goodImage,\n    all_reference_images: validImages.slice(0, 5),\n    has_press_image: !!goodImage,\n    logo_search_query: logoQuery\n  }\n}];"
            },
            "id": "node-merge-tavily",
            "name": "Merge Image Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1600,
                112
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.has_press_image }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "node-image-branch",
            "name": "Has Press Image",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1808,
                112
            ]
        },
        {
            "parameters": {
                "jsCode": "const json = $input.item.json;\nconst urls = json.all_reference_images || [];\nconst base64Images = [];\nfor (const url of urls.slice(0, 5)) {\n  try {\n    const response = await fetch(url);\n    const arrayBuffer = await response.arrayBuffer();\n    const base64 = Buffer.from(arrayBuffer).toString('base64');\n    base64Images.push(base64);\n  } catch (e) {}\n}\nreturn { json: { ...json, reference_base64_images: base64Images } };"
            },
            "id": "node-download-refs",
            "name": "Download Multi-References",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2000,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-goog-api-key",
                            "value": "={{ $env.GOOGLE_AI_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ (function() {\n  const json = $input.item.json;\n  const images = json.reference_base64_images || [];\n  const logob64 = json.logo_base64 || null;\n  const subjectName = json.subject_name || '';\n\n  const parts = [\n    {\n      \"text\": `You are a professional news graphic designer. Refine the visual prompt for Seedream-v4 based on news context and reference photos.\n\nCRITICAL RULE: Return ONLY the raw visual prompt text. No explanation, no markdown. Just the prompt.\n\nYour job: read the headline and summary, then write a SCENE PROMPT that tells the story visually — like a film still or magazine editorial photo.\n\nSCENE RULES:\n- Ask yourself: what is the KEY VISUAL MOMENT of this news story?\n- MEDIUM SHOT or ENVIRONMENTAL SHOT — show enough context to tell the story, not just a face\n- If person is in reference photos: use their actual likeness (face, hair, clothing)\n- If a logo image is provided: incorporate it NATURALLY in the scene — on a laptop lid, on a screen, on a building wall, on a product, on a t-shirt. Do NOT force it. Place it where it would realistically appear.\n\nSCREEN / CONSOLE RULE:\n- Screens showing blurred code, terminal output, or console text ARE allowed — they look realistic and tell the story\n- Example: \"monitor showing scrolling green terminal code\", \"laptop screen with dark IDE open, code visible\"\n- FORBIDDEN: floating text labels, speech bubbles, title cards, captions, name badges, explicit product name text written in the air\n\nNO explicit text labels or captions floating in the scene. Natural screen/console content is fine.\n\nSCENE EXAMPLES:\n- AI model launch → person at desk amazed, laptop screen showing a chat interface with blurred text\n- Cybersecurity → hooded figure at multiple monitors with scrolling terminal code, dim blue atmosphere\n- GPU/hardware launch → engineer holding chip up, ${subjectName} logo visible on packaging behind them\n- AI framework release → developer at desk with VS Code open, code on screen, coffee mug nearby\n- Funding/deal → handshake in glass office, city skyline behind\n- Robot/automation → humanoid robot or robotic arm in modern lab\n\nNEVER: sci-fi holographic UI, floating interfaces, neon god rays, cartoon, anime, CGI, 3D render\n\nCinestill 800t film style. Sharp subject, contextual background.\n\nNEWS HEADLINE: \\${json.headline}\nNEWS SUMMARY: \\${json.summary}\n\n` + (images.length > 0 ? \"Reference photos provided — use the actual person's likeness.\" : \"\") + (logob64 ? ` Logo image provided — incorporate the ${subjectName} logo naturally in the scene where it would realistically appear.` : \"\")\n    }\n  ];\n\n  // Add press photo references\n  images.forEach(b64 => {\n    parts.push({ \"inline_data\": { \"mime_type\": \"image/jpeg\", \"data\": b64 } });\n  });\n\n  // Add logo as a reference image so Gemini can see it\n  if (logob64) {\n    const logoMime = logob64.startsWith('/9j') ? 'image/jpeg' : 'image/png';\n    parts.push({ \"inline_data\": { \"mime_type\": logoMime, \"data\": logob64 } });\n  }\n\n  return JSON.stringify({\n    \"contents\": [{ \"parts\": parts }],\n    \"generationConfig\": { \"maxOutputTokens\": 4096, \"temperature\": 0.4 }\n  });\n})() }}",
                "options": {}
            },
            "id": "node-gemini-visual-refine",
            "name": "Gemini Visual Designer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2224,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const json = $input.item.json;\nlet prompt = json.image_prompt;\ntry {\n  const res = $('Gemini Visual Designer').item.json;\n  let raw = res.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  // Strip Markdown headers and conversational crutch\n  if (raw.includes('**VISUAL PROMPT:**')) raw = raw.split('**VISUAL PROMPT:**')[1];\n  else if (raw.includes('VISUAL PROMPT:')) raw = raw.split('VISUAL PROMPT:')[1];\n  raw = raw.replace(/^(Here's|This is|I have refined|Designed as).*?[:\\n]/si, '');\n  raw = raw.replace(/\\*\\*/g, '').trim();\n  if (raw) prompt = raw;\n} catch (e) {}\nreturn [{\n  json: {\n    ...json,\n    wavespeed_payload: {\n      prompt: prompt.replace(/\\\\n/g, ' ').replace(/\"/g, \"'\") + \" -- cinestill 800t film grain, high fidelity editorial photo, real people real environments, story-driven scene, sharp focus on subject, natural cinematic lighting, screens may show blurred code or terminal output. NEGATIVE PROMPT: floating text labels, speech bubbles, captions, subtitles, title cards, name badges, watermark, text overlay, words floating in air, sci-fi, futuristic, holographic UI, floating interface, abstract digital art, CGI render, 3D render, illustration, anime, cartoon, fantasy, extreme close-up face only, disembodied floating head\",\n      aspect_ratio: '4:5',\n      output_format: 'png',\n      enable_sync_mode: true,\n      image: json.reference_base64_images?.[0] || json.press_image_url,\n      reference_images: json.reference_base64_images || []\n    }\n  }\n}];"
            },
            "id": "node-prep-wavespeed",
            "name": "Prep WaveSpeed",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2112,
                208
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.wavespeed.ai/api/v3/bytedance/seedream-v4",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer a9e0a891e510e19069e6d13bc5b83d52ad1d1411fae9b301330b68747a7910df"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.wavespeed_payload) }}",
                "options": {}
            },
            "id": "node-wavespeed-generate",
            "name": "WaveSpeed Seedream",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2320,
                112
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// HYPERSCALER NEWS CARD COMPOSITOR v6.2\n// Composites text overlay onto AI-generated background\n// V14: Logo passed as separate field to sharp-worker (librsvg fix)\n// ============================================================\n\nconst geminiData = $('Confidence Gate').item.json;\n\n// ─── Logo / Map Badge setup ───────────────────────────────────\n// Read directly from Merge Logo Data node — survives the HTTP download step\nlet logo_base64 = null;\nlet subjectType = 'company';\ntry {\n  const logoData = $('Merge Logo Data').item.json;\n  logo_base64 = logoData.logo_base64 || null;\n  subjectType = logoData.subject_type || 'company';\n} catch(e) {}\n\nconst binaryItems = $input.item.binary || {};\nconst binKeys = Object.keys(binaryItems);\n\n// ── Binary resolution (n8n 2.x Buffer handling) ──────────────\nconst propName = binaryItems.data ? 'data' : (binKeys.length > 0 ? binKeys[0] : null);\nif (!propName) {\n  throw new Error('[Compositor] No binary found in input. Available keys: ' + binKeys.join(', '));\n}\n\nconst testBuf = await this.helpers.getBinaryDataBuffer(0, propName);\nif (!testBuf || testBuf.length < 100) {\n  throw new Error(`[Compositor] Binary is only ${testBuf ? testBuf.length : 0} bytes — download failed or URL expired.`);\n}\n\n// Support JPEG & PNG magic bytes\nconst isPng = [0x89, 0x50, 0x4E, 0x47].every((b, i) => testBuf[i] === b);\nconst isJpeg = [0xFF, 0xD8, 0xFF].every((b, i) => testBuf[i] === b);\nif (!isPng && !isJpeg) {\n  const hex = Array.from(testBuf.slice(0, 4)).map(b => b.toString(16).padStart(2,'0')).join(' ');\n  throw new Error(`[Compositor] Unsupported format (magic: ${hex}). WaveSpeed may have returned an error page.`);\n}\n\n// ---- Extract card data ----\nconst headline = (geminiData.headline || 'AI NEWS TODAY').toUpperCase().trim();\nconst highlights = (geminiData.headline_highlights || []).map(h => h.toUpperCase().trim());\nconst brandName = 'HYPERSCALER';\n\n// ---- Build SVG overlay ----\nconst W = 1080;\nconst H = 1350;\n\nfunction xmlEscape(str) {\n  return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;').replace(/'/g, '&apos;');\n}\n\nfunction colorizeWords(text, highlights) {\n  // Build a set of individual highlight words for exact matching\n  const highlightSet = new Set();\n  for (const h of highlights) {\n    // Split multi-word highlights and add each word individually\n    String(h).toUpperCase().replace(/[^A-Z0-9 $]/g, '').split(' ')\n      .filter(w => w.length >= 1)\n      .forEach(w => highlightSet.add(w));\n  }\n  const words = text.split(' ');\n  return words.map(word => {\n    // Strip punctuation for comparison but preserve original for rendering\n    const clean = word.replace(/[^A-Z0-9$]/g, '');\n    // Exact match only — no substring matching to avoid false positives\n    const isCyan = clean.length >= 1 && highlightSet.has(clean);\n    return { word, isCyan };\n  });\n}\n\nfunction wrapWords(colorWords, maxCharsPerLine) {\n  const lines = [];\n  let currentLine = [];\n  let currentLen = 0;\n  for (const cw of colorWords) {\n    if (currentLen + cw.word.length + (currentLine.length > 0 ? 1 : 0) > maxCharsPerLine && currentLine.length > 0) {\n      lines.push(currentLine);\n      currentLine = [cw];\n      currentLen = cw.word.length;\n    } else {\n      if (currentLine.length > 0) currentLen += 1;\n      currentLen += cw.word.length;\n      currentLine.push(cw);\n    }\n  }\n  if (currentLine.length > 0) lines.push(currentLine);\n  \n  // Balance orphan last line if applicable\n  if (lines.length > 1) {\n    const lastLine = lines[lines.length - 1];\n    const prevLine = lines[lines.length - 2];\n    \n    // If last line has 1 word and previous has > 2 words, balance it\n    if (lastLine.length === 1 && prevLine.length > 2) {\n      const lastLineStrLen = lastLine[0].word.length;\n      if (lastLineStrLen <= 12) {\n        lastLine.unshift(prevLine.pop());\n      }\n    }\n  }\n  \n  return lines;\n}\n\nconst colorWords = colorizeWords(headline, highlights);\n// Wrap at 22 characters max per line\nconst wrappedLines = wrapWords(colorWords, 22);\n\n// Calculate the longest line character count for dynamic scaling\nlet longestCharCount = 0;\nfor (const line of wrappedLines) {\n    const charCount = line.reduce((sum, cw) => sum + cw.word.length, 0) + Math.max(0, line.length - 1);\n    if (charCount > longestCharCount) {\n        longestCharCount = charCount;\n    }\n}\nif (longestCharCount === 0) longestCharCount = 10;\n\n// Dynamic font scaling \nconst targetMargin = 100;\nconst targetWidth = W - (targetMargin * 2); \nconst charWidthFactor = 0.65; \nconst calcFontSize = Math.round(targetWidth / (longestCharCount * charWidthFactor));\n\n// Enforce bounds on font size\nconst minFontSize = 70;\nconst maxFontSize = 120;\nconst baseFontSize = Math.min(maxFontSize, Math.max(minFontSize, calcFontSize));\n\nconst lineHeight = baseFontSize * 1.15; \nconst lineCount = wrappedLines.length;\nconst totalTextHeight = lineCount * lineHeight;\n\n// V13: Push the text ensemble much lower, closer to the bottom edge\nconst bottomMargin = 80; // Significantly reduced from 130\nconst startY = H - bottomMargin - totalTextHeight + baseFontSize; \nconst brandY = startY - baseFontSize - 80; // Reduced gap above text\n\nlet textSvg = '';\nwrappedLines.forEach((line, lineIdx) => {\n  const y = startY + (lineIdx * lineHeight);\n  textSvg += `<text x=\"${W/2}\" y=\"${y}\" font-family=\"'Arial Black', 'Impact', sans-serif\" font-size=\"${baseFontSize}\" font-weight=\"900\" text-anchor=\"middle\" letter-spacing=\"-1\" xml:space=\"preserve\">`;\n  line.forEach((cw, wi) => {\n    const color = cw.isCyan ? '#00D4FF' : '#FFFFFF';\n    textSvg += `<tspan fill=\"${color}\">${xmlEscape(cw.word)}</tspan>`;\n    if (wi < line.length - 1) textSvg += ' '; \n  });\n  textSvg += `</text>`;\n});\n\n// V13: Move gradient start lower to reveal more of the top image\nconst GRAD_START_FRAC = 0.45; // Moved down from 0.35\nconst svg = `<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"${W}\" height=\"${H}\">\n  <defs>\n    <linearGradient id=\"darkGrad\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\">\n      <stop offset=\"${GRAD_START_FRAC}\" stop-color=\"#000000\" stop-opacity=\"0\"/>\n      <stop offset=\"0.75\" stop-color=\"#060810\" stop-opacity=\"0.95\"/>\n      <stop offset=\"1\" stop-color=\"#000000\" stop-opacity=\"1\"/>\n    </linearGradient>\n    <filter id=\"textShadow\" x=\"-5%\" y=\"-5%\" width=\"110%\" height=\"110%\">\n      <feDropShadow dx=\"0\" dy=\"4\" stdDeviation=\"8\" flood-color=\"#000000\" flood-opacity=\"0.9\"/>\n    </filter>\n  </defs>\n  <rect x=\"0\" y=\"0\" width=\"${W}\" height=\"${H}\" fill=\"url(#darkGrad)\"/>\n  \n  <!-- GETINTOAI Style Brand Divider -->\n  <line x1=\"140\" y1=\"${brandY}\" x2=\"${W/2 - 145}\" y2=\"${brandY}\" stroke=\"#FFFFFF\" stroke-width=\"1.5\" opacity=\"0.6\"/>\n  <text x=\"${W/2}\" y=\"${brandY + 8}\" font-family=\"'Arial', sans-serif\" font-size=\"24\" font-weight=\"500\" fill=\"#FFFFFF\" text-anchor=\"middle\" letter-spacing=\"4\" filter=\"url(#textShadow)\">${xmlEscape(brandName)}</text>\n  <line x1=\"${W/2 + 145}\" y1=\"${brandY}\" x2=\"${W - 140}\" y2=\"${brandY}\" stroke=\"#FFFFFF\" stroke-width=\"1.5\" opacity=\"0.6\"/>\n  \n  <g filter=\"url(#textShadow)\">${textSvg}</g>\n${(function() {\n  if (!logo_base64) return '';\n  const cx = 918, cy = 148, r = 90;\n  const ro = r + 14; // outer metallic ring radius\n  return `\n    <defs>\n      <!-- Metallic ring gradient -->\n      <linearGradient id=\"ringGrad\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n        <stop offset=\"0%\"   stop-color=\"#d0d0d0\"/>\n        <stop offset=\"35%\"  stop-color=\"#707070\"/>\n        <stop offset=\"65%\"  stop-color=\"#404040\"/>\n        <stop offset=\"100%\" stop-color=\"#1a1a1a\"/>\n      </linearGradient>\n      <!-- Cyan glow ring gradient -->\n      <linearGradient id=\"cyanRingGrad\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n        <stop offset=\"0%\"   stop-color=\"#00D4FF\" stop-opacity=\"1\"/>\n        <stop offset=\"50%\"  stop-color=\"#0099CC\" stop-opacity=\"0.8\"/>\n        <stop offset=\"100%\" stop-color=\"#00D4FF\" stop-opacity=\"0.6\"/>\n      </linearGradient>\n      <!-- Glass highlight inside lens -->\n      <radialGradient id=\"glassHL\" cx=\"35%\" cy=\"28%\" r=\"55%\">\n        <stop offset=\"0%\"   stop-color=\"white\" stop-opacity=\"0.35\"/>\n        <stop offset=\"60%\"  stop-color=\"white\" stop-opacity=\"0.05\"/>\n        <stop offset=\"100%\" stop-color=\"white\" stop-opacity=\"0\"/>\n      </radialGradient>\n      <!-- Logo background dark radial -->\n      <radialGradient id=\"lensBg\" cx=\"50%\" cy=\"50%\" r=\"50%\">\n        <stop offset=\"0%\"   stop-color=\"#111111\"/>\n        <stop offset=\"100%\" stop-color=\"#000000\"/>\n      </radialGradient>\n      <!-- Drop shadow filter -->\n      <filter id=\"lensShadow\" x=\"-30%\" y=\"-30%\" width=\"160%\" height=\"160%\">\n        <feDropShadow dx=\"0\" dy=\"8\" stdDeviation=\"16\" flood-color=\"#000000\" flood-opacity=\"0.75\"/>\n      </filter>\n      <!-- Cyan outer glow -->\n      <filter id=\"cyanGlow\" x=\"-20%\" y=\"-20%\" width=\"140%\" height=\"140%\">\n        <feGaussianBlur stdDeviation=\"6\" result=\"blur\"/>\n        <feMerge><feMergeNode in=\"blur\"/><feMergeNode in=\"SourceGraphic\"/></feMerge>\n      </filter>\n    </defs>\n\n    <!-- Outer drop shadow base -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${ro + 2}\" fill=\"#000\" opacity=\"0.01\" filter=\"url(#lensShadow)\"/>\n\n    <!-- Cyan glow outer ring -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${ro + 4}\" fill=\"none\" stroke=\"url(#cyanRingGrad)\" stroke-width=\"3\" opacity=\"0.9\" filter=\"url(#cyanGlow)\"/>\n\n    <!-- Metallic outer ring -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${ro}\" fill=\"url(#ringGrad)\"/>\n\n    <!-- Thin white inner border -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${r + 2}\" fill=\"none\" stroke=\"white\" stroke-width=\"1.5\" opacity=\"0.25\"/>\n\n    <!-- Lens dark background -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${r}\" fill=\"url(#lensBg)\"/>\n\n    <!-- Logo image is now composited by sharp-worker natively (librsvg cannot render base64 images) -->\n\n    <!-- Glass reflection highlight overlay -->\n    <circle cx=\"${cx}\" cy=\"${cy}\" r=\"${r}\" fill=\"url(#glassHL)\"/>\n\n    <!-- Cyan crosshair tick marks (camera viewfinder style) -->\n    <line x1=\"${cx}\" y1=\"${cy - ro - 10}\" x2=\"${cx}\" y2=\"${cy - ro + 6}\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.8\"/>\n    <line x1=\"${cx}\" y1=\"${cy + ro - 6}\" x2=\"${cx}\" y2=\"${cy + ro + 10}\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.8\"/>\n    <line x1=\"${cx - ro - 10}\" y1=\"${cy}\" x2=\"${cx - ro + 6}\" y2=\"${cy}\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.8\"/>\n    <line x1=\"${cx + ro - 6}\" y1=\"${cy}\" x2=\"${cx + ro + 10}\" y2=\"${cy}\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.8\"/>\n\n    <!-- Corner arc brackets (top-left, top-right) -->\n    <path d=\"M ${cx - ro - 6} ${cy - 18} A ${ro + 6} ${ro + 6} 0 0 1 ${cx - 18} ${cy - ro - 6}\" fill=\"none\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.5\"/>\n    <path d=\"M ${cx + 18} ${cy - ro - 6} A ${ro + 6} ${ro + 6} 0 0 1 ${cx + ro + 6} ${cy - 18}\" fill=\"none\" stroke=\"#00D4FF\" stroke-width=\"2\" opacity=\"0.5\"/>`;\n})()}\n</svg>`;\n\nconst svgBase64 = Buffer.from(svg).toString('base64');\nconst bgBase64 = testBuf.toString('base64');\n\nreturn [{\n  json: { \n    ...geminiData, \n    compositor_mode: 'svg_overlay', \n    svg_overlay_base64: svgBase64, \n    bg_image_base64: bgBase64, \n    logo_base64: logo_base64 || null,\n    image_source: 'wavespeed_seedream' \n  },\n  binary: {\n    bg_image: binaryItems[propName] || { data: bgBase64, mimeType: isPng ? 'image/png' : 'image/jpeg', fileName: 'background.' + (isPng ? 'png' : 'jpg') },\n    svg_overlay: { data: svgBase64, mimeType: 'image/svg+xml', fileName: 'overlay.svg' }\n  }\n}];"
            },
            "id": "node-compositor",
            "name": "Build SVG Text Overlay",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2656,
                112
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://sharp-worker:3000/composite",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 45d1d0df8a0056d287bce5f36a1ea061ed69024bf9cb92a9"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "base_image_b64",
                            "value": "={{ $json.bg_image_base64 }}"
                        },
                        {
                            "name": "svg_overlay_b64",
                            "value": "={{ $json.svg_overlay_base64 }}"
                        },
                        {
                            "name": "logo_b64",
                            "value": "={{ $json.logo_base64 || '' }}"
                        },
                        {
                            "name": "width",
                            "value": 1080
                        },
                        {
                            "name": "height",
                            "value": 1350
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-sharp-composite",
            "name": "Sharp Composite Photo (+ native HTTP)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2768,
                112
            ]
        },
        {
            "parameters": {
                "jsCode": "const bin = $input.item.binary || {};\nconst finalBin = bin.final_card || bin.data || Object.values(bin)[0] || null;\nif (!finalBin) throw new Error('No final card binary found.');\nreturn [{ json: $input.item.json, binary: { final_card: finalBin } }];"
            },
            "id": "node-pick-final",
            "name": "Set Final Binary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2992,
                112
            ]
        },
        {
            "parameters": {
                "name": "={{ ($json.headline || 'AI_Card').replace(/[^a-zA-Z0-9 ]/g, '').substring(0, 55) + '_' + $now.format('YYYYMMDD_HHmm') + '.png' }}",
                "driveId": {
                    "value": "myDrive"
                },
                "folderId": {
                    "value": "={{ $env.GOOGLE_DRIVE_FOLDER_ID }}"
                },
                "options": {}
            },
            "id": "node-gdrive-upload",
            "name": "GDrive Upload",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                3200,
                112
            ],
            "disabled": true
        },
        {
            "parameters": {
                "jsCode": "const driveData = $input.item.json;\nreturn [{ json: { ...driveData, drive_file_id: driveData.id || '', drive_view_url: driveData.webViewLink || '', drive_download_url: driveData.webContentLink || `https://drive.google.com/uc?id=${driveData.id}`, drive_direct_img: `https://drive.google.com/thumbnail?id=${driveData.id}&sz=w800` }, binary: $input.item.binary }];"
            },
            "id": "node-set-drive-url",
            "name": "Extract Drive URL",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3424,
                112
            ]
        },
        {
            "parameters": {
                "jsCode": "const driveInfo = $input.item.json;\nconst claudeData = $('Confidence Gate').item.json;\nreturn [{ json: { ...claudeData, drive_file_id: driveInfo.drive_file_id || driveInfo.id || '', drive_view_url: driveInfo.drive_view_url || driveInfo.webViewLink || '', drive_download_url: driveInfo.drive_download_url || driveInfo.webContentLink || '', drive_direct_img: driveInfo.drive_direct_img || `https://drive.google.com/thumbnail?id=${driveInfo.id}&sz=w800`, image_source: claudeData.image_source || 'ai_generated' }, binary: $input.item.binary }];"
            },
            "id": "node-merge-drive-claude",
            "name": "Merge Drive and Claude Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3648,
                112
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "base": {
                    "value": "={{ $env.AIRTABLE_BASE_ID }}"
                },
                "table": {
                    "value": "HYPERSCALER_BRIEFS"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Headline": "={{ $json.headline }}",
                        "Summary": "={{ $json.summary }}",
                        "Full_Article": "={{ $json.full_article }}",
                        "Confidence": "={{ $json.confidence }}",
                        "Subreddit": "={{ $json.subreddit }}",
                        "Reddit_URL": "={{ $json.reddit_url }}",
                        "Source_URL": "={{ $json.source_url }}",
                        "Date": "={{ $json.date }}",
                        "Drive_Image_URL": "={{ $json.drive_view_url }}",
                        "Drive_Direct_IMG": "={{ $json.drive_direct_img }}",
                        "LinkedIn_Post": "={{ $json.linkedin }}",
                        "Facebook_Post": "={{ $json.facebook }}",
                        "Status": "Ready to Post",
                        "Image_Source": "={{ $json.image_source || 'ai_generated' }}"
                    }
                },
                "options": {}
            },
            "id": "node-airtable-create",
            "name": "Airtable Warehouse",
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2.1,
            "position": [
                3872,
                112
            ],
            "credentials": {
                "airtableTokenApi": {
                    "id": "bXon4Q0NJZr2Hm1g",
                    "name": "Airtable Personal Access Token account"
                }
            },
            "disabled": true
        },
        {
            "parameters": {
                "person": "={{ $env.LINKEDIN_PERSON_URN }}",
                "text": "={{ $json.linkedin }}",
                "shareMediaCategory": "IMAGE",
                "binaryPropertyName": "final_card",
                "additionalFields": {}
            },
            "id": "node-post-linkedin",
            "name": "Post LinkedIn",
            "type": "n8n-nodes-base.linkedIn",
            "typeVersion": 1,
            "position": [
                4080,
                32
            ],
            "disabled": true
        },
        {
            "parameters": {
                "httpRequestMethod": "POST",
                "node": "={{ $env.FACEBOOK_PAGE_ID }}",
                "edge": "photos",
                "sendBinaryData": true,
                "binaryPropertyName": "final_card",
                "options": {
                    "queryParameters": {
                        "parameter": [
                            {
                                "name": "published",
                                "value": "false"
                            }
                        ]
                    }
                }
            },
            "id": "node-facebook-upload-photo",
            "name": "Facebook Upload Photo",
            "type": "n8n-nodes-base.facebookGraphApi",
            "typeVersion": 1,
            "position": [
                4080,
                160
            ],
            "disabled": true
        },
        {
            "parameters": {
                "httpRequestMethod": "POST",
                "node": "={{ $env.FACEBOOK_PAGE_ID }}",
                "edge": "feed",
                "options": {
                    "queryParameters": {
                        "parameter": [
                            {
                                "name": "message",
                                "value": "={{ $json.facebook }}"
                            },
                            {
                                "name": "attached_media",
                                "value": "=[{\"media_fbid\":\"{{ $('Facebook Upload Photo').item.json.id }}\"}]"
                            }
                        ]
                    }
                }
            },
            "id": "node-facebook-publish-post",
            "name": "Facebook Publish Post",
            "type": "n8n-nodes-base.facebookGraphApi",
            "typeVersion": 1,
            "position": [
                4304,
                160
            ],
            "disabled": true
        },
        {
            "parameters": {
                "text": "=*HYPERSCALER Posted:* {{ $json.headline }}\nConfidence: {{ $json.confidence }}/10\n{{ $json.drive_view_url }}\nPosted to LinkedIn and Facebook",
                "otherOptions": {}
            },
            "id": "node-success-notify",
            "name": "Slack Success",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                4528,
                160
            ],
            "webhookId": "03c81381-0404-4682-aa2a-df2ff32933be",
            "disabled": true
        },
        {
            "parameters": {
                "text": "=*Skipped (low confidence):*\n{{ $json.headline || $json.title }}\nConfidence: {{ $json.confidence || 'N/A' }}/10\nReason: {{ $json._parse_error || 'Below threshold' }}",
                "otherOptions": {}
            },
            "id": "node-low-conf-notify",
            "name": "Slack Low Confidence",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                1168,
                400
            ],
            "webhookId": "198f8b34-60c1-442d-b695-8580492c0919",
            "disabled": true
        },
        {
            "parameters": {},
            "id": "node-noop-error",
            "name": "Drop Parse Error",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                944,
                464
            ]
        },
        {
            "parameters": {
                "jsCode": "return [{ json: { FINAL_SUMMARY: { brand: 'HYPERSCALER', title: $input.item.json.headline, status: 'complete' } } }];"
            },
            "id": "node-final-summary",
            "name": "Final Summary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4752,
                160
            ]
        },
        {
            "parameters": {
                "url": "={{ $json.wavespeed_image_url }}",
                "options": {}
            },
            "id": "node-download-wavespeed-image",
            "name": "Download WaveSpeed Image",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2432,
                112
            ]
        },
        {
            "parameters": {
                "jsCode": "// Robustly extract the WaveSpeed generated image URL from multiple possible response shapes\nconst resp = $input.item.json;\n\nconst url =\n  resp?.data?.outputs?.[0] ||\n  resp?.outputs?.[0] ||\n  resp?.data?.images?.[0] ||\n  resp?.images?.[0] ||\n  resp?.data?.url ||\n  resp?.url ||\n  resp?.data?.result ||\n  resp?.result;\n\nif (!url || typeof url !== 'string' || !url.startsWith('http')) {\n  const raw = JSON.stringify(resp).slice(0, 500);\n  throw new Error(`[WaveSpeed] Could not extract image URL from response. Tried data.outputs[0], outputs[0], data.images[0], images[0], data.url, url. Raw response: ${raw}`);\n}\n\nreturn [{ json: { ...$input.item.json, wavespeed_image_url: url } }];"
            },
            "id": "node-parse-wavespeed-url",
            "name": "Parse WaveSpeed URL",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2496,
                -240
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "={{ $json.gsheetIdPosts }}",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Reddit News",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1myoWz2ntz-HNEPhxRGBEWnbRiFWkhFwtmwUBXJDcnXU/edit#gid=0"
                },
                "options": {
                    "view": "Everything"
                }
            },
            "id": "gsheet-read-briefing",
            "name": "Read Reddit News Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                -304,
                304
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "HopOeXjaGgSku8RO",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nif (items.length === 0) return [];\n\n// --- ROBUST FILTER: Only process items manually marked as \"✅ Approved\" ---\nconst approved = items.filter(item => {\n  const status = item.json['Status'] || '';\n  return status.includes('✅ Approved') || status === '✅ Approved';\n});\n\nif (approved.length === 0) {\n  console.log('No approved items found in this batch.');\n  return [];\n}\n\n// Sort by Engagement Score descending\nconst sorted = approved.sort((a, b) => (parseInt(b.json['Engagement Score']) || 0) - (parseInt(a.json['Engagement Score']) || 0));\n\n// Pick the top one for processing\nconst selected = sorted.slice(0, 1);\n\n// Map headers to internal briefing keys for compatibility\nreturn selected.map(item => ({\n  json: {\n    row_number: item.json.row_number,\n    title: item.json['Title'],\n    text: item.json['Body'],\n    author: item.json['Author'],\n    original_score: item.json['Upvotes'],\n    source_url: item.json['Article Link'] || item.json['URL'],\n    reddit_url: item.json['Reddit Link'],\n    subreddit: item.json['Subreddit'],\n    date: item.json['Date'],\n    status: item.json['Status']\n  }\n}));"
            },
            "id": "code-pick-top-post",
            "name": "Pick Top Post",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -96,
                304
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.is_agentic_relevant }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "relevance-gate-briefing",
            "name": "Relevance Gate",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                912,
                112
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "={{ $node[\"Configure Workflow\"].json.gsheetIdPosts }}",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "={{ $node[\"Configure Workflow\"].json.gsheetNamePosts }}",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "📤 Posted"
                    }
                },
                "options": {}
            },
            "id": "gsheet-update-status",
            "name": "Mark as Posted",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                4512,
                352
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "HopOeXjaGgSku8RO",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "={{ $node[\"Configure Workflow\"].json.gsheetIdPosts }}",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "={{ $node[\"Configure Workflow\"].json.gsheetNamePosts }}",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "❌ Rejected"
                    }
                },
                "options": {}
            },
            "id": "gsheet-mark-irrelevant",
            "name": "Mark Irrelevant",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1104,
                512
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "HopOeXjaGgSku8RO",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return [{\n  json: {\n    gsheetIdPosts:   $env.GOOGLE_SHEET_ID_POSTS,\n    gsheetNamePosts: $env.GOOGLE_SHEET_NAME_POSTS\n  }\n}];"
            },
            "id": "node-config-env-v6",
            "name": "Configure Workflow",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -496,
                304
            ]
        },
        {
            "id": "node-tavily-logo",
            "name": "Tavily Logo Search",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1840,
                252
            ],
            "parameters": {
                "method": "POST",
                "url": "https://api.tavily.com/search",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"api_key\": \"{{ $env.TAVILY_API_KEY }}\",\n  \"query\": \"{{ $json.logo_search_query }}\",\n  \"search_depth\": \"basic\",\n  \"include_images\": true,\n  \"include_image_descriptions\": false,\n  \"max_results\": 6\n}",
                "options": {}
            }
        },
        {
            "id": "node-merge-logo",
            "name": "Merge Logo Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2080,
                252
            ],
            "parameters": {
                "jsCode": "const tavilyLogoResult = $input.item.json;\nconst rawImages = (tavilyLogoResult.images || []);\nconst existingData = $('Merge Image Data').item.json;\n\nconst companyDomain = existingData.company_domain || '';\nconst subjectName   = existingData.subject_name || '';\n\nconst validLogos = rawImages.filter(url =>\n  typeof url === 'string' && url.length > 12 &&\n  /\\.(png|jpg|jpeg)(\\?|$)/i.test(url) &&\n  !/favicon|\\.ico|sprite|placeholder/i.test(url)\n);\n\nlet logo_base64 = null;\nlet logo_url    = null;\n\nasync function downloadImage(url, minSize) {\n  try {\n    const res = await fetch(url, { signal: AbortSignal.timeout(8000) });\n    if (!res.ok) return null;\n    const buf = Buffer.from(await res.arrayBuffer());\n    const isPng  = buf[0]===0x89 && buf[1]===0x50;\n    const isJpeg = buf[0]===0xFF && buf[1]===0xD8;\n    if (buf.length >= (minSize || 200) && (isPng || isJpeg)) return buf;\n  } catch(e) {}\n  return null;\n}\n\nif (companyDomain) {\n  // Strategy 1: Clearbit — no key, no signup, high quality PNG logos\n  let buf = await downloadImage(`https://logo.clearbit.com/${companyDomain}?size=256`, 200);\n  if (buf) { logo_base64 = buf.toString('base64'); logo_url = `clearbit:${companyDomain}`; }\n\n  // Strategy 2: Google Favicon at 256px — no key, always works\n  if (!logo_base64) {\n    buf = await downloadImage(`https://www.google.com/s2/favicons?domain=${companyDomain}&sz=256`, 100);\n    if (buf) { logo_base64 = buf.toString('base64'); logo_url = `google:${companyDomain}`; }\n  }\n\n  // Strategy 3: DuckDuckGo icon service — no key, no signup\n  if (!logo_base64) {\n    buf = await downloadImage(`https://icons.duckduckgo.com/ip3/${companyDomain}.ico`, 100);\n    if (buf) { logo_base64 = buf.toString('base64'); logo_url = `ddg:${companyDomain}`; }\n  }\n}\n\n// Strategy 4: Tavily image results fallback\nif (!logo_base64) {\n  for (const url of validLogos.slice(0, 5)) {\n    const buf = await downloadImage(url, 500);\n    if (buf) { logo_base64 = buf.toString('base64'); logo_url = url; break; }\n  }\n}\n\nreturn [{\n  json: {\n    ...existingData,\n    logo_base64,\n    logo_url,\n    subject_type:   existingData.subject_type || 'company',\n    subject_name:   subjectName,\n    company_domain: companyDomain\n  }\n}];"
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Configure Workflow",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Analysis": {
            "main": [
                [
                    {
                        "node": "Parse Gemini Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Gemini Response": {
            "main": [
                [
                    {
                        "node": "Valid Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Valid Response": {
            "main": [
                [
                    {
                        "node": "Relevance Gate",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Drop Parse Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Confidence Gate": {
            "main": [
                [
                    {
                        "node": "Tavily Search",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Slack Low Confidence",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tavily Search": {
            "main": [
                [
                    {
                        "node": "Merge Image Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Image Data": {
            "main": [
                [
                    {
                        "node": "Tavily Logo Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Press Image": {
            "main": [
                [
                    {
                        "node": "Download Multi-References",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prep WaveSpeed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Multi-References": {
            "main": [
                [
                    {
                        "node": "Gemini Visual Designer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Visual Designer": {
            "main": [
                [
                    {
                        "node": "Prep WaveSpeed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep WaveSpeed": {
            "main": [
                [
                    {
                        "node": "WaveSpeed Seedream",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WaveSpeed Seedream": {
            "main": [
                [
                    {
                        "node": "Parse WaveSpeed URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build SVG Text Overlay": {
            "main": [
                [
                    {
                        "node": "Sharp Composite Photo (+ native HTTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sharp Composite Photo (+ native HTTP)": {
            "main": [
                [
                    {
                        "node": "Set Final Binary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Final Binary": {
            "main": [
                [
                    {
                        "node": "GDrive Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GDrive Upload": {
            "main": [
                [
                    {
                        "node": "Extract Drive URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Drive URL": {
            "main": [
                [
                    {
                        "node": "Merge Drive and Claude Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Drive and Claude Data": {
            "main": [
                [
                    {
                        "node": "Airtable Warehouse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Airtable Warehouse": {
            "main": [
                [
                    {
                        "node": "Post LinkedIn",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Facebook Upload Photo",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Mark as Posted",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Post LinkedIn": {
            "main": [
                [
                    {
                        "node": "Slack Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Facebook Upload Photo": {
            "main": [
                [
                    {
                        "node": "Facebook Publish Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Facebook Publish Post": {
            "main": [
                [
                    {
                        "node": "Slack Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Slack Success": {
            "main": [
                [
                    {
                        "node": "Final Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Slack Low Confidence": {
            "main": [
                [
                    {
                        "node": "Final Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download WaveSpeed Image": {
            "main": [
                [
                    {
                        "node": "Build SVG Text Overlay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse WaveSpeed URL": {
            "main": [
                [
                    {
                        "node": "Download WaveSpeed Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Reddit News Sheet": {
            "main": [
                [
                    {
                        "node": "Pick Top Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pick Top Post": {
            "main": [
                [
                    {
                        "node": "Gemini Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Relevance Gate": {
            "main": [
                [
                    {
                        "node": "Confidence Gate",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mark Irrelevant",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Configure Workflow": {
            "main": [
                [
                    {
                        "node": "Read Reddit News Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tavily Logo Search": {
            "main": [
                [
                    {
                        "node": "Merge Logo Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Logo Data": {
            "main": [
                [
                    {
                        "node": "Has Press Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "timezone": "UTC"
    },
    "versionId": "6aaf4164-c31e-4946-a7d9-8d474cd07f9b",
    "meta": {
        "instanceId": "bfa881661c018749d441660d36f63fdf552d02437db15de1ed54bb7a572d9e36"
    },
    "id": "2",
    "tags": []
}