agency.json
{
  "name": "DealHunter - Agency & RFP Platforms",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "cron-agency",
      "name": "Cron - Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        0
      ]
    },
    {
      "parameters": {},
      "id": "manual-agency",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const queries = [\n  // === CLUTCH.CO ===\n  { q: 'site:clutch.co \"AI development\" OR \"machine learning\" OR \"automation\" \"project\" \"hired\"', platform: 'clutch' },\n  { q: 'site:clutch.co \"custom software\" OR \"AI\" OR \"automation\" \"looking for agency\" OR \"vendor\" \"project\"', platform: 'clutch' },\n\n  // === GOODFIRMS.CO — has real /rfp/ section ===\n  { q: 'site:goodfirms.co/rfp \"AI\" OR \"machine learning\" OR \"automation\" OR \"SaaS\" OR \"software\"', platform: 'goodfirms' },\n  { q: 'site:goodfirms.co/projects OR site:goodfirms.co/rfp \"custom software\" OR \"AI development\" OR \"data pipeline\"', platform: 'goodfirms' },\n\n  // === GETPROJECTS.AI — AI-focused project board ===\n  { q: 'site:getprojects.ai \"AI agent\" OR \"LLM\" OR \"RAG\" OR \"computer vision\" OR \"machine learning\"', platform: 'getprojects' },\n  { q: 'site:getprojects.ai \"automation\" OR \"data pipeline\" OR \"SaaS\" OR \"software development\"', platform: 'getprojects' },\n\n  // === DESIGNRUSH.COM ===\n  { q: 'site:designrush.com \"AI development\" OR \"machine learning\" OR \"automation\" \"project\" OR \"agency\"', platform: 'designrush' },\n  { q: 'site:designrush.com \"software development\" OR \"custom software\" \"company\" \"project brief\" OR \"hire\"', platform: 'designrush' },\n\n  // === SORTLIST.COM ===\n  { q: 'site:sortlist.com \"AI\" OR \"machine learning\" OR \"automation\" \"project\" OR \"brief\" OR \"looking for\"', platform: 'sortlist' },\n\n  // === CREDO (GETCREDO.COM) ===\n  { q: 'site:getcredo.com \"AI\" OR \"software\" OR \"tech\" OR \"automation\" \"project\" OR \"agency\" OR \"service\"', platform: 'credo' },\n\n  // === UPCITY ===\n  { q: 'site:upcity.com \"AI development\" OR \"software development\" OR \"machine learning\" \"agency\" OR \"hire\"', platform: 'upcity' },\n\n  // === AGENCY SPOTTER ===\n  { q: 'site:agencyspotter.com \"AI\" OR \"machine learning\" OR \"software\" OR \"automation\" \"project\" OR \"brief\"', platform: 'agency_spotter' },\n\n  // === BARK.COM — actual service request listings ===\n  { q: 'site:bark.com \"software development\" OR \"AI development\" OR \"machine learning\" OR \"web app development\"', platform: 'bark' },\n  { q: 'site:bark.com \"automation\" OR \"data pipeline\" OR \"computer vision\" OR \"custom software\" OR \"API\"', platform: 'bark' },\n  { q: 'site:bark.com \"SaaS\" OR \"mobile app\" OR \"chatbot\" OR \"AI assistant\" OR \"ML model\"', platform: 'bark' },\n];\nreturn queries.map(q => ({ json: q }));"
      },
      "id": "build-queries-agency",
      "name": "Build Agency Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q }}"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "api_key",
              "value": "={{ $env.SERPAPI_KEY }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "tbs",
              "value": "qdr:w"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "hl",
              "value": "en"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "serpapi-agency",
      "name": "SerpAPI - Agency Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const skipKeywords = [\n  'agency profile', 'company profile', 'reviews', 'top agencies',\n  'best agencies', 'find agencies', 'compare agencies', 'directory',\n  'for hire', 'logo design', 'seo services', 'social media manager',\n  'content writer', 'virtual assistant', 'data entry', 'graphic design',\n  'video editing', 'copywriting'\n];\n\nconst platformMap = {\n  'clutch.co': 'clutch',\n  'goodfirms.co': 'goodfirms',\n  'getprojects.ai': 'getprojects',\n  'designrush.com': 'designrush',\n  'sortlist.com': 'sortlist',\n  'getcredo.com': 'credo',\n  'upcity.com': 'upcity',\n  'agencyspotter.com': 'agency_spotter',\n  'bark.com': 'bark'\n};\n\nconst budgetPatterns = [\n  /budget[:\\s]+([\\$\\€\\£][\\d,k.]+[\\s\\w-]*)/i,\n  /([\\$\\€\\£][\\d,]+(?:,\\d{3})*(?:k)?(?:\\s*[-–]\\s*[\\$\\€\\£]?[\\d,]+(?:k)?)?(?:\\s*(?:USD|EUR|GBP))?)/i,\n  /(\\d+[kK][\\s\\-–]+\\d+[kK])/,\n  /([\\$\\€\\£]\\d+(?:\\.\\d+)?[kK])/i\n];\n\nconst results = [];\nconst seenInRun = new Set();\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  if (!data || data.error) continue;\n\n  const searchQ = data.search_parameters?.q || '';\n  const organicResults = data.organic_results || [];\n\n  // Detect platform from query\n  let platform = 'unknown';\n  for (const [domain, pname] of Object.entries(platformMap)) {\n    if (searchQ.includes(domain)) { platform = pname; break; }\n  }\n\n  for (const r of organicResults) {\n    const link = r.link || '';\n    if (!link) continue;\n\n    // Detect platform from actual URL if unknown\n    let actualPlatform = platform;\n    if (actualPlatform === 'unknown') {\n      for (const [domain, pname] of Object.entries(platformMap)) {\n        if (link.includes(domain)) { actualPlatform = pname; break; }\n      }\n    }\n    if (actualPlatform === 'unknown') continue;\n\n    // Skip pure agency profile/directory pages (not project briefs)\n    const skipPaths = [\n      'clutch.co/agencies', 'clutch.co/directory',\n      'designrush.com/agency-directory', 'designrush.com/agencies',\n      'upcity.com/local', 'agencyspotter.com/agencies'\n    ];\n    if (skipPaths.some(p => link.includes(p))) continue;\n\n    const id = actualPlatform + '_' + link.replace(/[^a-z0-9]/gi, '').slice(-60);\n    if (seenInRun.has(id)) continue;\n    seenInRun.add(id);\n\n    const title   = String(r.title   || '').substring(0, 500);\n    const snippet = String(r.snippet || '').replace(/<[^>]*>/g, '').substring(0, 3000);\n    if (!title) continue;\n\n    const fullText = (title + ' ' + snippet).toLowerCase();\n    if (skipKeywords.some(kw => fullText.includes(kw))) continue;\n\n    // Extract budget from snippet\n    let budget_text = '';\n    for (const pat of budgetPatterns) {\n      const m = (snippet + ' ' + title).match(pat);\n      if (m) { budget_text = m[1]?.trim().substring(0, 80) || ''; break; }\n    }\n\n    results.push({ json: {\n      title,\n      description: snippet,\n      source: actualPlatform,\n      source_url: link,\n      source_id: id,\n      posted_at: (() => { try { const d = r.date ? new Date(r.date) : null; return (d && !isNaN(d)) ? d.toISOString() : new Date().toISOString(); } catch(e) { return new Date().toISOString(); } })(),\n      author: '',\n      subreddit: actualPlatform,\n      upvotes: 0,\n      num_comments: 0,\n      flair_text: 'Agency/RFP',\n      budget_text,\n      platform: actualPlatform\n    }});\n  }\n}\n\nif (results.length === 0) return [{ json: { _empty: true, platform: 'agency' } }];\nreturn results;"
      },
      "id": "normalize-agency",
      "name": "Normalize - Agency Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const post = $input.item.json;\nif (post._empty || post._noData) return { json: post };\n\nconst apiKey = $env.GOOGLE_AI_API_KEY;\n\nconst SYSTEM_PROMPT = `You are a senior business development analyst for ScaleBuild AI (CEO: Ujjwal Roy, ex-Intel/IBM/Micron), a custom AI/ML software development company.\n\nScaleBuild BUILDS: AI/ML models, computer vision, enterprise automation, custom software, data pipelines.\n\nThese leads come from agency matching platforms and RFP boards (Clutch, GoodFirms, GetProjects, DesignRush, Sortlist, Bark, Credo, UpCity, AgencySpotter) — companies actively seeking a tech agency or posting project briefs.\n\nIDEAL LEAD: A company that posted a project brief or is actively seeking a software/AI agency partner.\n\nHARD EXCLUSIONS — Score overall_score 0.0 immediately, do not process:\n- Lead is from India or an Indian company (location: India, .in domain, Indian city/company name context) → 0.0\n- Lead is requesting to build a SaaS subscription product (we do NOT build SaaS products) → 0.0  \n- Budget is clearly under $10,000 OR budget_score would be below 0.3 → 0.0\n- Individual freelancer or [For Hire] ad → 0.0\n\nSCORE 4 DIMENSIONS (0.0-1.0):\n1. relevance_score: 1.0=explicit AI/ML/automation brief | 0.8=custom software with AI potential | 0.6=general software project | 0.3=design/marketing only | 0.0=no fit\n2. budget_score: 1.0=$100K+ | 0.8=$50-100K | 0.6=$25-50K | 0.5=unknown enterprise context | 0.3=$10-25K | 0.1=<$10K\n3. urgency_score: 1.0=ASAP/posted this week/now | 0.7=this month | 0.5=reviewing proposals | 0.3=exploring | 0.1=no urgency\n4. win_probability: 1.0=perfect AI fit, seeking agency explicitly | 0.8=strong fit, good signals | 0.6=good fit, competitive | 0.4=tangential fit | 0.2=low fit\n\nBUDGET ESTIMATION (ALWAYS fill estimated_budget_text, never null):\n- Enterprise project brief → \"$50K-$500K (enterprise scope)\"\n- Mid-market RFP → \"$25K-$150K (mid-market)\"\n- Startup seeking agency → \"$15K-$75K (startup scope)\"\n- Small business project → \"$5K-$25K (SMB scope)\"\n- Unknown budget, enterprise context → \"$50K-$200K (estimated enterprise)\"\n- Unknown budget, SMB context → \"$10K-$50K (estimated SMB)\"\n\nCOMPANY EXTRACTION: Extract company name, founder/contact name, website URL from snippet and URL. Never invent. Return null if not found.`;\n\nconst prompt = SYSTEM_PROMPT + `\n\nScore this agency RFP/project brief. Return ONLY a single valid JSON object:\n{\"relevance_score\":0.0,\"budget_score\":0.0,\"urgency_score\":0.0,\"win_probability\":0.0,\"client_context\":\"Detailed description of who the client is (company, industry, current situation)\",\"project_context\":\"Detailed description of what they want built (specific technical requirements, goals)\",\"summary\":\"1-2 sentence high-level summary\",\"industry\":\"FinTech/HealthTech/SaaS/Manufacturing/eCommerce/General\",\"tags\":[\"tag1\",\"tag2\"],\"reasoning\":\"Full detailed AI reasoning: explain each score dimension in 2-3 sentences — why this relevance score, why this budget score, why this urgency score, why this win probability.\",\"estimated_budget_text\":\"$X-$Y (reason)\",\"tech_stack\":[],\"company_name\":null,\"lead_founder_name\":null,\"lead_website\":null}\n\nTitle: ${post.title}\nPlatform: ${post.source}\nDescription: ${(post.description||'').substring(0, 1200)}${post.budget_text ? '\\nBudget: ' + post.budget_text : ''}`;\n\nconst body = {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { maxOutputTokens: 100000, temperature: 0.2, responseMimeType: 'application/json' }\n};\n\nlet s = null;\ntry {\n  const respRaw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + apiKey,\n    body\n  });\n  const resp = typeof respRaw === 'string' ? JSON.parse(respRaw) : respRaw;\n  const raw = resp?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const cleaned = raw.replace(/```json[\\s\\S]*?```|```/g, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) s = JSON.parse(match[0]);\n} catch(e) {}\n\nif (!s) s = {\n  relevance_score:0.4, budget_score:0.4, urgency_score:0.3, win_probability:0.3,\n  client_context:'Could not extract client context',\n  project_context:'Could not extract project context',\n  summary:'Parse error - using defaults', industry:'General', tags:[], reasoning:'Could not parse Gemini response',\n  estimated_budget_text:'$10K-$50K (estimated)', tech_stack:[],\n  company_name:null, lead_founder_name:null, lead_website:null\n};\n\nconst overall = Math.round(((s.relevance_score*0.35)+(s.budget_score*0.30)+(s.urgency_score*0.15)+(s.win_probability*0.20))*100)/100;\nconst alert_tier = overall>=0.85?'instant':overall>=0.70?'digest':overall>=0.30?'dashboard':'discard';\n\nreturn { json: {\n  source_id: post.source_id, title: post.title, description: post.description,\n  source: post.source, source_url: post.source_url, posted_at: post.posted_at,\n  author: post.author||'', subreddit: post.subreddit||post.source||'',\n  upvotes: 0, num_comments: 0, flair_text: post.flair_text||'Agency/RFP',\n  relevance_score: s.relevance_score, budget_score: s.budget_score,\n  urgency_score: s.urgency_score, win_probability: s.win_probability,\n  overall_score: overall, \n  ai_summary: s.summary, \n  client_context: s.client_context,\n  project_context: s.project_context,\n  industry: s.industry, ai_tags: s.tags||[], ai_reasoning: s.reasoning,\n  estimated_budget_text: s.estimated_budget_text||'',\n  budget_mentioned: post.budget_text || s.estimated_budget_text || '',\n  tech_stack: s.tech_stack||[], company_name: s.company_name||null,\n  lead_founder: s.lead_founder_name||null, lead_company: s.company_name||null,\n  lead_website: s.lead_website||null, lead_contact: null,\n  lead_score: Math.round(overall*10),\n  alert_tier, discovered_at: new Date().toISOString(), status:'new',\n  location: s.location||null, deadline_text: s.deadline_text||null,\n  outreach_draft: '',\n  hunter_name:'', hunter_email:'', hunter_title:'', hunter_company:''\n}};"
      },
      "id": "gemini-agency",
      "name": "Gemini - Score & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-score",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-lead-info",
      "name": "Check - Has Lead Info",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-real-company",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.lead_website || $json.lead_company || $json.company_name || '' }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-company-signal",
      "name": "Check - Has Company Signal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -160
      ]
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "={{ $json.lead_website ? 'domain' : 'company' }}",
              "value": "={{ $json.lead_website ? ($json.lead_website).replace(/^https?:\\/\\/(www\\.)?/, '').split('/')[0] : ($json.lead_company||'') }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.HUNTER_API_KEY }}"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "hunter-agency",
      "name": "Hunter - Enrich Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const hunterResp = $input.item.json;\nconst original = $('Check - Has Lead Info').item.json;\nconst data = hunterResp?.data || {};\nconst emails = data.emails || [];\nconst priority = ['ceo','founder','co-founder','cto','owner','president','vp','director','manager'];\nlet person = emails.find(e => priority.some(t => (e.position||'').toLowerCase().includes(t))) || emails[0] || null;\nreturn [{ json: {\n  ...original,\n  hunter_name: person ? `${person.first_name||''} ${person.last_name||''}`.trim() : '',\n  hunter_email: person?.value || '',\n  hunter_title: person?.position || '',\n  hunter_company: data.organization || original.lead_company || ''\n}}];"
      },
      "id": "parse-hunter-agency",
      "name": "Parse Hunter Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-email-exists",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.hunter_email }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-hunter-email",
      "name": "Check - Hunter Has Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: { ...item.json, enrichment_source: 'hunter-miss' }\n}));"
      },
      "id": "flag-hunter-miss",
      "name": "Flag - Hunter Miss",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{ json: {\n  ...$input.item.json,\n  hunter_name: '',\n  hunter_email: '',\n  hunter_title: '',\n  hunter_company: ''\n}}];"
      },
      "id": "set-empty-hunter",
      "name": "Set Empty Hunter Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const seen = new Map();\nfor (const item of $input.all()) {\n  const id = item.json.source_id;\n  if (!id) continue;\n  if (!seen.has(id)) {\n    seen.set(id, item.json);\n  } else {\n    if (item.json.hunter_email && !seen.get(id).hunter_email) {\n      seen.set(id, item.json);\n    }\n  }\n}\nreturn [...seen.values()]\n  .sort((a, b) => (b.overall_score||0) - (a.overall_score||0))\n  .map(json => ({ json }));"
      },
      "id": "dedup-agency",
      "name": "Dedup by Source ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "score-check",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 0.8
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-agency",
      "name": "Filter - Score >= 0.80",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1dPe3iitwzXQnVh0hPrGW8uIB3Xnf0Gzu2sx2-mflDkQ/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opportunities"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source ID": "={{ $json.source_id }}",
            "Title": "={{ $json.title }}",
            "Subreddit": "={{ $json.subreddit }}",
            "Source URL": "={{ $json.source_url }}",
            "Posted At": "={{ $json.posted_at }}",
            "Discovered At": "={{ $json.discovered_at }}",
            "Author": "={{ $json.author }}",
            "Overall Score": "={{ $json.overall_score }}",
            "Relevance Score": "={{ $json.relevance_score }}",
            "Budget Score": "={{ $json.budget_score }}",
            "Urgency Score": "={{ $json.urgency_score }}",
            "Win Probability": "={{ $json.win_probability }}",
            "Alert Tier": "={{ $json.alert_tier }}",
            "Industry": "={{ $json.industry }}",
            "AI Summary": "={{ $json.ai_summary }}",
            "Client Context": "={{ $json.client_context }}",
            "Project Context": "={{ $json.project_context }}",
            "AI Tags": "={{ ($json.ai_tags||[]).join(', ') }}",
            "Tech Stack": "={{ ($json.tech_stack||[]).join(', ') }}",
            "Budget Mentioned": "={{ $json.estimated_budget_text }}",
            "Location": "={{ $json.location }}",
            "Upvotes": "={{ $json.upvotes }}",
            "Comments": "={{ $json.num_comments }}",
            "Status": "new",
            "AI Reasoning": "={{ $json.ai_reasoning }}",
            "Lead Founder": "={{ $json.lead_founder||'' }}",
            "Lead Company": "={{ $json.lead_company||'' }}",
            "Lead Website": "={{ $json.lead_website||'' }}",
            "Lead Contact": "={{ $json.lead_contact||'' }}",
            "Lead Score": "={{ $json.lead_score||'' }}",
            "Hunter Name": "={{ $json.hunter_name||'' }}",
            "Hunter Email": "={{ $json.hunter_email||'' }}",
            "Hunter Title": "={{ $json.hunter_title||'' }}",
            "Hunter Company": "={{ $json.hunter_company||'' }}"
          },
          "matchingColumns": [
            "Source ID"
          ],
          "schema": [
            {
              "id": "Source ID",
              "displayName": "Source ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheet-agency",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1920,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Cron - Every 6 Hours": {
      "main": [
        [
          {
            "node": "Build Agency Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Agency Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agency Queries": {
      "main": [
        [
          {
            "node": "SerpAPI - Agency Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI - Agency Search": {
      "main": [
        [
          {
            "node": "Normalize - Agency Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize - Agency Results": {
      "main": [
        [
          {
            "node": "Gemini - Score & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Score & Parse": {
      "main": [
        [
          {
            "node": "Check - Has Lead Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Has Lead Info": {
      "main": [
        [
          {
            "node": "Check - Has Company Signal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Empty Hunter Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Has Company Signal": {
      "main": [
        [
          {
            "node": "Hunter - Enrich Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag - Hunter Miss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter - Enrich Lead": {
      "main": [
        [
          {
            "node": "Parse Hunter Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hunter Response": {
      "main": [
        [
          {
            "node": "Check - Hunter Has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Hunter Has Email": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag - Hunter Miss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag - Hunter Miss": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Empty Hunter Fields": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup by Source ID": {
      "main": [
        [
          {
            "node": "Filter - Score >= 0.55",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Score >= 0.55": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "agency-rfp-v1",
  "meta": {
    "instanceId": "bfa881661c018749d441660d36f63fdf552d02437db15de1ed54bb7a572d9e36"
  },
  "id": "dealhunter-agency",
  "tags": []
}