linkedin_outreach_fixed.json
{
  "name": "DealHunter - Source: LinkedIn (Google Proxy)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "cron-li",
      "name": "Cron - Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1008,
        -208
      ]
    },
    {
      "parameters": {},
      "id": "webhook-li",
      "name": "Manual Trigger - On-Demand Outreach",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const queries = [\n  // === CONTRACT JOBS — company has budget, hiring AI contractors ===\n  { q: 'site:linkedin.com/jobs \"contract\" \"AI agent\" OR \"agentic AI\" OR \"automation workflow\"', type: 'linkedin_jobs' },\n  { q: 'site:linkedin.com/jobs \"contract\" \"LLM\" OR \"RAG\" OR \"langchain\" OR \"AI engineer\"', type: 'linkedin_jobs' },\n  { q: 'site:linkedin.com/jobs \"contract\" \"computer vision\" OR \"machine learning engineer\" OR \"ML engineer\"', type: 'linkedin_jobs' },\n  { q: 'site:linkedin.com/jobs \"contract\" \"python\" \"AI\" OR \"automation\" OR \"data pipeline\"', type: 'linkedin_jobs' },\n  { q: 'site:linkedin.com/jobs \"freelance\" OR \"contract\" \"n8n\" OR \"make.com\" OR \"workflow automation\"', type: 'linkedin_jobs' },\n\n  // === FUNDING SIGNALS — just raised money, actively building ===\n  { q: 'site:linkedin.com/posts \"we raised\" \"AI\" OR \"machine learning\" OR \"automation\"', type: 'linkedin_posts' },\n  { q: 'site:linkedin.com/posts \"Series A\" \"AI\" OR \"automation\" OR \"machine learning\" \"building\"', type: 'linkedin_posts' },\n  { q: 'site:linkedin.com/posts \"seed round\" OR \"pre-seed\" \"AI\" OR \"automation\" \"looking for\"', type: 'linkedin_posts' },\n\n  // === HIGH INTENT BUYER POSTS ===\n  { q: 'site:linkedin.com/posts \"looking for\" \"AI development\" OR \"AI agency\" OR \"tech partner\"', type: 'linkedin_posts' },\n  { q: 'site:linkedin.com/posts \"need a developer\" OR \"need a team\" \"AI\" OR \"automation\" OR \"SaaS\"', type: 'linkedin_posts' },\n  { q: 'site:linkedin.com/posts \"outsource\" OR \"build for us\" \"AI\" OR \"machine learning\" OR \"automation\"', type: 'linkedin_posts' },\n  { q: 'site:linkedin.com/posts \"RFP\" OR \"vendor selection\" \"AI\" OR \"software\" OR \"automation\"', type: 'linkedin_posts' },\n  { q: 'site:linkedin.com/posts \"we are building\" \"AI\" OR \"ML\" \"looking for\" OR \"hiring\" OR \"need\"', type: 'linkedin_posts' },\n];\nreturn queries.map(q => ({ json: q }));"
      },
      "id": "queries-li",
      "name": "Build Search Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -208
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q }}"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "api_key",
              "value": "={{ $env.SERPAPI_KEY }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "tbs",
              "value": "qdr:w"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "hl",
              "value": "en"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "serpapi-li",
      "name": "SerpAPI - Google Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        -208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const skipKeywords = [\n  'for hire', 'logo design', 'seo services', 'social media manager',\n  'content writer', 'virtual assistant', 'data entry', 'graphic designer',\n  'video editor', 'copywriter', 'i am available', 'available for hire',\n  'seeking clients', 'my services'\n];\n\nconst results = [];\nconst seenInRun = new Set();\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  if (!data || data.error) continue;\n\n  const organicResults = data.organic_results || [];\n  const queryType = data.search_parameters?.q?.includes('linkedin.com/jobs')\n    ? 'linkedin_jobs' : 'linkedin_posts';\n\n  for (const r of organicResults) {\n    if (!r.link) continue;\n    if (!r.link.includes('linkedin.com')) continue;\n\n    const isPost = r.link.includes('/posts/') || r.link.includes('/pulse/');\n    const isJob  = r.link.includes('/jobs/');\n    if (!isPost && !isJob) continue;\n\n    const id = 'li_' + (r.link || '').replace(/[^a-z0-9]/gi, '').substring(0, 80);\n    if (seenInRun.has(id)) continue;\n    seenInRun.add(id);\n\n    const title   = String(r.title   || '').substring(0, 500);\n    const snippet = String(r.snippet || '').replace(/<[^>]*>/g, '').substring(0, 3000);\n    if (!title) continue;\n\n    const fullText = (title + ' ' + snippet).toLowerCase();\n    if (skipKeywords.some(kw => fullText.includes(kw))) continue;\n\n    let author = '';\n    try {\n      const urlParts = r.link.split('/');\n      const inIdx = urlParts.indexOf('in');\n      if (inIdx > -1) author = urlParts[inIdx + 1] || '';\n      const companyIdx = urlParts.indexOf('company');\n      if (companyIdx > -1) author = urlParts[companyIdx + 1] || '';\n    } catch(e) {}\n\n    results.push({ json: {\n      title,\n      description: snippet,\n      source: queryType,\n      source_url: r.link,\n      source_id: id,\n      posted_at: (function(){ try { const dt = r.date ? new Date(r.date) : null; return dt && !isNaN(dt.getTime()) ? dt.toISOString() : new Date().toISOString(); } catch(e) { return new Date().toISOString(); } })(),\n      author: author.replace(/-/g, ' ').substring(0, 100),\n      subreddit: '',\n      upvotes: 0,\n      num_comments: 0,\n      flair_text: queryType === 'linkedin_jobs' ? 'Job/Contract' : 'Post',\n      budget_text: ''\n    }});\n  }\n}\n\nif (results.length === 0) return [];\n// Cap at 30 leads per run to avoid Gemini rate-limit timeouts\nreturn results.slice(0, 30);"
      },
      "id": "normalize-li",
      "name": "Normalize - LinkedIn Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const post = $input.item.json;\nconst apiKey = $env.GOOGLE_AI_API_KEY;\n\nconst SYSTEM_PROMPT = `You are a senior business development analyst for ScaleBuild AI (CEO: Ujjwal Roy, ex-Intel/IBM/Micron), a custom AI/ML software development company.\n\nScaleBuild BUILDS: AI/ML models, computer vision, enterprise automation, SaaS products, data pipelines.\n\nThese posts are from LinkedIn — found via Google search using site:linkedin.com.\n\nIDEAL LEAD: Someone actively looking for a tech partner, dev team, or AI implementation help.\n\nSCORE 4 DIMENSIONS (0.0-1.0):\n1. relevance_score: 0.9+=clearly seeking AI/software partner | 0.7=business pain | 0.5=vague tech need | 0.0=irrelevant\n2. budget_score: 1.0=$100K+ | 0.8=$50-100K | 0.6=$25-50K | 0.5=unknown but enterprise context | 0.2=small/unclear\n3. urgency_score: 1.0=this week | 0.7=1 month | 0.4=exploring | 0.2=no urgency\n4. win_probability: 0.8+=explicitly seeking agency/partner | 0.5=good fit unclear | 0.3=wants freelancer | 0.1=no fit\n\nBUDGET ESTIMATION (ALWAYS fill estimated_budget_text, never null):\n- Series A/B funding post → \"$50K-$200K (post-funding build)\"\n- Contract job posting → \"$10K-$50K (contract scope)\"\n- Looking for tech partner/agency → \"$25K-$100K (agency engagement)\"\n- Seed/MVP build → \"$10K-$30K (MVP scope)\"\n- Enterprise company context → \"$50K-$500K (enterprise)\"\n- Individual/small project → \"$5K-$20K\"\n\nCOMPANY EXTRACTION: Extract company name, founder name, website from LinkedIn URL or snippet. Never invent.`;\n\nconst prompt = SYSTEM_PROMPT + `\n\nScore this LinkedIn lead. Return ONLY a single valid JSON object:\n{\"relevance_score\":0.0,\"budget_score\":0.0,\"urgency_score\":0.0,\"win_probability\":0.0,\"summary\":\"3-5 sentence detailed summary of the opportunity, pain points, and why ScaleBuild AI is a fit\",\"industry\":\"FinTech/HealthTech/SaaS/General\",\"tags\":[\"tag1\",\"tag2\"],\"reasoning\":\"Full detailed AI reasoning: explain each score dimension in 2-3 sentences — why this relevance score, why this budget score, why this urgency score, why this win probability. Give overall recommendation on whether to pursue and suggested approach.\",\"estimated_budget_text\":\"$X-$Y (reason)\",\"tech_stack\":[],\"company_name\":null,\"lead_founder_name\":null,\"lead_website\":null}\n\nTitle: ${post.title}\nSource: ${post.source}\nAuthor: ${post.author || ''}\nDescription: ${(post.description||'').substring(0, 1000)}${post.budget_text ? '\\nBudget: ' + post.budget_text : ''}`;\n\nconst body = {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { maxOutputTokens: 100000, temperature: 0.2, responseMimeType: 'application/json' }\n};\n\nlet s = null;\ntry {\n  const respRaw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + apiKey,\n    body\n  });\n  const resp = typeof respRaw === 'string' ? JSON.parse(respRaw) : respRaw;\n  const raw = resp?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const cleaned = raw.replace(/```json[\\s\\S]*?```|```/g, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) s = JSON.parse(match[0]);\n} catch(e) {}\n\nif (!s) s = {\n  relevance_score:0.5, budget_score:0.5, urgency_score:0.3, win_probability:0.3,\n  summary:'Parse error - using defaults', industry:'General', tags:[], reasoning:'Could not parse Gemini response',\n  estimated_budget_text:'$10K-$50K (estimated)', tech_stack:[],\n  company_name:null, lead_founder_name:null, lead_website:null\n};\n\nconst overall = Math.round(((s.relevance_score*0.35)+(s.budget_score*0.30)+(s.urgency_score*0.15)+(s.win_probability*0.20))*100)/100;\nconst alert_tier = overall>=0.85?'instant':overall>=0.70?'digest':overall>=0.30?'dashboard':'discard';\n\nreturn { json: {\n  source_id: post.source_id, title: post.title, description: post.description,\n  source: post.source, source_url: post.source_url, posted_at: post.posted_at,\n  author: post.author, subreddit: post.subreddit || '', upvotes: post.upvotes || 0,\n  num_comments: post.num_comments || 0, flair_text: post.flair_text || '',\n  relevance_score: s.relevance_score, budget_score: s.budget_score,\n  urgency_score: s.urgency_score, win_probability: s.win_probability,\n  overall_score: overall, ai_summary: s.summary, industry: s.industry,\n  ai_tags: s.tags||[], ai_reasoning: s.reasoning,\n  estimated_budget_text: s.estimated_budget_text||'',\n  budget_mentioned: post.budget_text || s.estimated_budget_text || '',\n  tech_stack: s.tech_stack||[], company_name: s.company_name||null,\n  lead_founder: s.lead_founder_name||null, lead_company: s.company_name||null,\n  lead_website: s.lead_website||null, lead_contact: null,\n  lead_score: Math.round(overall*10),\n  alert_tier, discovered_at: new Date().toISOString(), status:'new',\n  location: s.location||null, deadline_text: s.deadline_text||null,\n  outreach_draft: '',\n  hunter_name:'', hunter_email:'', hunter_title:'', hunter_company:''\n}};"
      },
      "id": "score-li",
      "name": "Gemini - Score & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 0.6
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-li",
      "name": "Filter - Score >= 0.60",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        208,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1dPe3iitwzXQnVh0hPrGW8uIB3Xnf0Gzu2sx2-mflDkQ/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opportunities"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source ID": "={{ $json.source_id }}",
            "Title": "={{ $json.title }}",
            "Subreddit": "={{ $json.subreddit }}",
            "Source URL": "={{ $json.source_url }}",
            "Posted At": "={{ $json.posted_at }}",
            "Discovered At": "={{ $json.discovered_at }}",
            "Author": "={{ $json.author }}",
            "Overall Score": "={{ $json.overall_score }}",
            "Relevance Score": "={{ $json.relevance_score }}",
            "Budget Score": "={{ $json.budget_score }}",
            "Urgency Score": "={{ $json.urgency_score }}",
            "Win Probability": "={{ $json.win_probability }}",
            "Alert Tier": "={{ $json.alert_tier }}",
            "Industry": "={{ $json.industry }}",
            "AI Summary": "={{ $json.ai_summary }}",
            "AI Tags": "={{ ($json.ai_tags||[]).join(', ') }}",
            "Tech Stack": "={{ ($json.tech_stack||[]).join(', ') }}",
            "Budget Mentioned": "={{ $json.estimated_budget_text }}",
            "Location": "={{ $json.location }}",
            "Upvotes": "={{ $json.upvotes }}",
            "Comments": "={{ $json.num_comments }}",
            "Status": "new",
            "AI Reasoning": "={{ $json.ai_reasoning }}",
            "Lead Founder": "={{ $json.lead_founder||'' }}",
            "Lead Company": "={{ $json.lead_company||'' }}",
            "Lead Website": "={{ $json.lead_website||'' }}",
            "Lead Contact": "={{ $json.lead_contact||'' }}",
            "Lead Score": "={{ $json.lead_score||'' }}",
            "Hunter Name": "={{ $json.hunter_name||'' }}",
            "Hunter Email": "={{ $json.hunter_email||'' }}",
            "Hunter Title": "={{ $json.hunter_title||'' }}",
            "Hunter Company": "={{ $json.hunter_company||'' }}"
          },
          "matchingColumns": [
            "Source ID"
          ],
          "schema": [
            {
              "id": "Source ID",
              "displayName": "Source ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheet-li",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        448,
        -208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1dPe3iitwzXQnVh0hPrGW8uIB3Xnf0Gzu2sx2-mflDkQ/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 579672180,
          "mode": "list",
          "cachedResultName": "Opportunities",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dPe3iitwzXQnVh0hPrGW8uIB3Xnf0Gzu2sx2-mflDkQ/edit#gid=579672180"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "new"
            }
          ]
        },
        "options": {}
      },
      "id": "read-sheet-li",
      "name": "Read Sheet - New Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -768,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-li",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score || $json['Overall Score'] }}",
              "rightValue": 0.6
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-alert-li",
      "name": "Check Score >= 0.85",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": `You are writing as Ujjwal Roy, CEO of ScaleBuild AI (Junkiri Labs LLC).\\n\\nLEAD:\\nTitle: ${$json.title || $json['Title'] || ''}\\nSummary: ${$json.ai_summary || $json['AI Summary'] || ''}\\nCompany: ${$json.lead_company || $json['Lead Company'] || 'Unknown'}\\nIndustry: ${$json.industry || $json['Industry'] || 'Unknown'}\\nTech Requirements: ${($json.tech_stack || []).join(', ') || $json['Tech Stack'] || 'Not specified'}\\nRelevant ScaleBuild Capabilities: Custom AI/ML models, computer vision for manufacturing and security, enterprise workflow automation, full-stack SaaS development, data pipelines\\n\\nWrite a LinkedIn outreach message following this EXACT structure:\\n\\n1. HOOK (1-2 sentences): Reference their specific pain point or need directly. Make it personal and precise.\\n2. CREDENTIALS (2-3 sentences): Mention ScaleBuild AI builds custom AI/ML models, computer vision systems for manufacturing and security, and enterprise automation. Reference ex-Intel/IBM/Micron engineering background and shipped production systems.\\n3. SOFT CTA (1 sentence): Low-pressure ask — happy to connect or have a quick conversation if relevant.\\n\\nRULES:\\n- 150-200 words total\\n- Tone: direct, confident, no fluff, human-sounding, like one founder to another\\n- NO em dashes\\n- NO exclamation marks\\n- Do not start with \\\"I hope\\\" or generic openers\\n\\nSign-off:\\nUjjwal Roy\\nCEO, ScaleBuild AI\\n\\nReturn ONLY the message text. No markdown. No subject line.`\n  }]\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "claude-outreach-li",
      "name": "Claude - Generate Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        128
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const claudeResp = $input.item.json;\nconst original = $('Loop Over Leads').item.json;\nconst draft = claudeResp.content?.[0]?.text?.trim() || 'Outreach generation failed';\nreturn [{ json: { ...original, outreach_draft: draft } }];"
      },
      "id": "parse-outreach-li",
      "name": "Parse Outreach Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        128
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1dPe3iitwzXQnVh0hPrGW8uIB3Xnf0Gzu2sx2-mflDkQ/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opportunities"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source ID": "={{ $json.source_id || $json['Source ID'] }}",
            "Outreach Draft": "={{ $json.outreach_draft }}",
            "Status": "outreach_ready"
          },
          "matchingColumns": [
            "Source ID"
          ],
          "schema": [
            {
              "id": "Source ID",
              "displayName": "Source ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-sheet-li",
      "name": "Update Sheet - Outreach Draft",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1168,
        288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron - Every 4 Hours": {
      "main": [
        [
          {
            "node": "Build Search Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Queries": {
      "main": [
        [
          {
            "node": "SerpAPI - Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI - Google Search": {
      "main": [
        [
          {
            "node": "Normalize - LinkedIn Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize - LinkedIn Results": {
      "main": [
        [
          {
            "node": "Gemini - Score & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Score >= 0.60": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger - On-Demand Outreach": {
      "main": [
        [
          {
            "node": "Read Sheet - New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet - New Leads": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [],
        [
          {
            "node": "Check Score >= 0.85",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Score >= 0.85": {
      "main": [
        [
          {
            "node": "Claude - Generate Outreach",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Generate Outreach": {
      "main": [
        [
          {
            "node": "Parse Outreach Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Outreach Draft": {
      "main": [
        [
          {
            "node": "Update Sheet - Outreach Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet - Outreach Draft": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Score & Parse": {
      "main": [
        [
          {
            "node": "Filter - Score >= 0.60",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "74a3e3fb-db2e-4c99-a793-fe4d486ebf56",
  "meta": {
    "instanceId": "bfa881661c018749d441660d36f63fdf552d02437db15de1ed54bb7a572d9e36"
  },
  "id": "dealhunter-linkedin",
  "tags": []
}