misc_signals.json
{
  "name": "DealHunter - Google Alerts, Medium, Substack & Misc",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "cron-misc",
      "name": "Cron - Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        0
      ]
    },
    {
      "parameters": {},
      "id": "manual-misc",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const queries = [\n  // === GOOGLE ALERTS SIMULATION (High Priority) ===\n  // Fresh news signals — companies seeking AI/software partners\n  { q: '\"looking for\" OR \"seeking\" \"AI development company\" OR \"software agency\" OR \"ML company\" OR \"automation agency\" 2025', platform: 'google_alerts', priority: 'high' },\n  { q: '\"outsource\" OR \"outsourcing\" \"AI\" OR \"machine learning\" OR \"automation\" OR \"software development\" \"company\" OR \"startup\" 2025', platform: 'google_alerts', priority: 'high' },\n  { q: '\"just raised\" OR \"we raised\" OR \"closes funding\" \"AI\" OR \"SaaS\" OR \"automation\" \"build\" OR \"hire\" OR \"expand\" 2025', platform: 'google_alerts', priority: 'high' },\n  { q: '\"series a\" OR \"seed round\" OR \"pre-seed\" \"AI\" OR \"automation\" OR \"SaaS\" \"build\" OR \"engineering\" OR \"development\" 2025 -site:crunchbase.com -site:techcrunch.com', platform: 'google_alerts', priority: 'high' },\n  { q: '\"request for proposal\" OR \"RFP\" OR \"looking for vendor\" \"AI\" OR \"machine learning\" OR \"automation\" OR \"software\" private 2025', platform: 'google_alerts', priority: 'high' },\n  { q: '\"need a\" OR \"looking for a\" \"software development company\" OR \"AI company\" OR \"tech agency\" OR \"development partner\" 2025', platform: 'google_alerts', priority: 'high' },\n\n  // === MEDIUM — Low Priority ===\n  { q: 'site:medium.com/swlh \"AI\" OR \"automation\" OR \"SaaS\" \"build\" OR \"startup\" OR \"founder\" 2025', platform: 'medium', priority: 'low' },\n  { q: 'site:medium.com/better-programming \"AI\" OR \"machine learning\" OR \"automation\" \"build\" OR \"company\" OR \"startup\" 2025', platform: 'medium', priority: 'low' },\n  { q: 'site:medium.com \"AI development\" OR \"custom software\" OR \"automation agency\" \"startup\" OR \"founder\" OR \"company\" 2025', platform: 'medium', priority: 'low' },\n  { q: 'site:medium.com \"outsource software\" OR \"hire development team\" OR \"find AI agency\" OR \"software partner\" 2025', platform: 'medium', priority: 'low' },\n\n  // === SUBSTACK — Low Priority ===\n  { q: 'site:substack.com \"AI\" OR \"SaaS\" OR \"automation\" \"startup\" OR \"founder\" \"build\" OR \"hire\" OR \"partner\" 2025', platform: 'substack', priority: 'low' },\n  { q: 'site:substack.com \"software development\" OR \"AI development\" OR \"machine learning\" \"company\" OR \"agency\" OR \"outsource\" 2025', platform: 'substack', priority: 'low' },\n\n  // === TELEGRAM (publicly indexed channels) — Low Priority ===\n  { q: 'site:t.me \"AI\" OR \"automation\" OR \"software\" OR \"SaaS\" \"looking for\" OR \"hire\" OR \"build\" OR \"outsource\"', platform: 'telegram', priority: 'low' },\n  { q: 'site:t.me \"startup\" OR \"founder\" \"AI development\" OR \"software agency\" OR \"tech partner\" OR \"build MVP\"', platform: 'telegram', priority: 'low' },\n\n  // === INDEED CONTRACT POSTINGS — Low Priority ===\n  { q: 'site:indeed.com \"contract\" \"AI\" OR \"machine learning\" OR \"automation\" OR \"software development\" \"startup\" OR \"funded\" OR \"series a\"', platform: 'indeed', priority: 'low' },\n  { q: 'site:indeed.com \"contract\" OR \"freelance\" \"ML engineer\" OR \"AI engineer\" OR \"automation engineer\" OR \"data engineer\" \"startup\" OR \"seed\"', platform: 'indeed', priority: 'low' },\n  { q: 'site:indeed.com \"contract\" \"AI development\" OR \"computer vision\" OR \"LLM\" OR \"RAG\" OR \"AI agent\" OR \"data pipeline\"', platform: 'indeed', priority: 'low' }\n];\nreturn queries.map(q => ({ json: q }));"
      },
      "id": "build-queries-misc",
      "name": "Build Misc Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q }}"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "api_key",
              "value": "={{ $env.SERPAPI_KEY }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "tbs",
              "value": "qdr:w"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "serpapi-misc",
      "name": "SerpAPI - Misc Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const skipKeywords = [\n  'for hire', 'i am available', 'hire me', 'my portfolio', 'i offer',\n  'available for work', 'seeking employment', 'looking for work',\n  'logo design', 'seo services', 'social media manager', 'content writer',\n  'virtual assistant', 'data entry', 'graphic designer',\n  'how to become a developer', 'learn to code', 'best programming language',\n  'government contract', 'federal rfp', 'dod contract', 'state agency'\n];\n\nconst platformMap = {\n  'medium.com': 'medium',\n  'substack.com': 'substack',\n  't.me': 'telegram',\n  'telegram.me': 'telegram',\n  'indeed.com': 'indeed',\n  'techcrunch.com': 'google_alerts',\n  'venturebeat.com': 'google_alerts',\n  'businessinsider.com': 'google_alerts',\n  'forbes.com': 'google_alerts'\n};\n\nconst priorityMap = {\n  'google_alerts': 'high',\n  'medium': 'low',\n  'substack': 'low',\n  'telegram': 'low',\n  'indeed': 'low'\n};\n\nconst budgetPatterns = [\n  /([\\$€£][\\d,]+(?:,\\d{3})*(?:k)?(?:\\s[-–]\\s*[\\$€£]?[\\d,]+(?:k)?)?(?:\\s*(?:USD|EUR|GBP))?)/i,\n  /(\\d+[kK]\\s*[-–]\\s*\\d+[kK])/,\n  /budget[:\\s]+([\\$€£][\\d,k.]+[\\s\\w-]*)/i,\n  /raised\\s+([\\$€£][\\d,.]+ ?(?:million|M|billion|B)?)/i\n];\n\nconst results = [];\nconst seenInRun = new Set();\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  if (!data || data.error) continue;\n\n  const searchQ = data.search_parameters?.q || '';\n  const organicResults = data.organic_results || [];\n\n  // Infer platform from query\n  let platform = 'google_alerts';\n  if (searchQ.includes('medium.com')) platform = 'medium';\n  else if (searchQ.includes('substack.com')) platform = 'substack';\n  else if (searchQ.includes('t.me') || searchQ.includes('telegram')) platform = 'telegram';\n  else if (searchQ.includes('indeed.com')) platform = 'indeed';\n\n  for (const r of organicResults) {\n    const link = r.link || '';\n    if (!link) continue;\n\n    // Detect actual platform from URL\n    let actualPlatform = platform;\n    for (const [domain, pname] of Object.entries(platformMap)) {\n      if (link.includes(domain)) { actualPlatform = pname; break; }\n    }\n\n    // Skip Indeed full-time positions (keep contract only)\n    if (actualPlatform === 'indeed') {\n      const snippet = (r.snippet || '').toLowerCase();\n      const title = (r.title || '').toLowerCase();\n      if (!snippet.includes('contract') && !snippet.includes('freelance') && !title.includes('contract') && !title.includes('freelance')) continue;\n    }\n\n    const id = actualPlatform + '_' + link.replace(/[^a-z0-9]/gi, '').slice(-70);\n    if (seenInRun.has(id)) continue;\n    seenInRun.add(id);\n\n    const title   = String(r.title   || '').substring(0, 500);\n    const snippet = String(r.snippet || '').replace(/<[^>]*>/g, '').substring(0, 3000);\n    if (!title) continue;\n\n    const fullText = (title + ' ' + snippet).toLowerCase();\n    if (skipKeywords.some(kw => fullText.includes(kw))) continue;\n\n    let budget_text = '';\n    for (const pat of budgetPatterns) {\n      const m = (snippet + ' ' + title).match(pat);\n      if (m) { budget_text = (m[1] || m[0]).trim().substring(0, 80); break; }\n    }\n\n    results.push({ json: {\n      title,\n      description: snippet,\n      source: actualPlatform,\n      source_url: link,\n      source_id: id,\n      posted_at: (() => { try { const d = r.date ? new Date(r.date) : null; return (d && !isNaN(d)) ? d.toISOString() : new Date().toISOString(); } catch(e) { return new Date().toISOString(); } })(),\n      author: '',\n      subreddit: actualPlatform,\n      upvotes: 0,\n      num_comments: 0,\n      flair_text: priorityMap[actualPlatform] || 'low',\n      budget_text,\n      platform: actualPlatform\n    }});\n  }\n}\n\nif (results.length === 0) return [{ json: { _empty: true, platform: 'misc' } }];\nreturn results.slice(0, 30);"
      },
      "id": "normalize-misc",
      "name": "Normalize - Misc Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const post = $input.item.json;\nif (post._empty || post._noData) return { json: post };\n\nconst apiKey = $env.GOOGLE_AI_API_KEY;\n\nconst SYSTEM_PROMPT = `You are a senior business development analyst for ScaleBuild AI (CEO: Ujjwal Roy, ex-Intel/IBM/Micron), a custom AI/ML software development company.\n\nScaleBuild BUILDS: AI/ML models, computer vision, enterprise automation, custom software, data pipelines.\n\nThese leads come from MIXED SIGNALS — Google Alerts (news/web), Medium articles, Substack newsletters, Telegram channels, and Indeed contract postings. Each source has different signal quality:\n\nPLATFORM CONTEXT:\n- google_alerts: Real-time news — company funding announcements, companies seeking AI/software partners. HIGH signal.\n- indeed (contract): Contract job postings from companies that can't hire fast enough — prime outsourcing signal. HIGH signal.\n- medium: Startup/tech articles. Signal only if founder describing a build need or pain point.\n- substack: Newsletters by founders/operators. Signal if discussing a software problem or seeking partners.\n- telegram: Public startup/founder channels. Variable signal — good if discussing build needs.\n\nIDEAL LEAD: Company just funded seeking to build fast, or posting contract work, or publicly discussing a tech problem ScaleBuild AI can solve.\n\nHARD EXCLUSIONS — Score overall_score 0.0 immediately, do not process:\n- Lead is from India or an Indian company (location: India, .in domain, Indian city/company name context) → 0.0\n- Lead is requesting to build a SaaS subscription product (we do NOT build SaaS products) → 0.0  \n- Budget is clearly under $10,000 OR budget_score would be below 0.3 → 0.0\n- Individual freelancer or [For Hire] ad → 0.0\n\nSCORE 4 DIMENSIONS (0.0-1.0):\n1. relevance_score: 1.0=Indeed contract for AI/ML/automation OR news about company seeking AI partner | 0.9=funding news + build signal | 0.8=founder describing specific AI/software need | 0.7=startup content with tech build context | 0.5=general startup/tech content | 0.2=article/opinion no buyer signal | 0.0=irrelevant\n2. budget_score: 1.0=Indeed contract $50K+ OR Series A/B raise | 0.8=$10-50K contract OR seed raise | 0.7=funded startup unknown contract size | 0.6=bootstrapped with revenue | 0.5=unknown startup context | 0.3=small signal | 0.1=no signal\n3. urgency_score: 1.0=active Indeed contract posting this week | 0.8=funding announcement + build signal this month | 0.6=recent article discussing active need | 0.4=exploring options | 0.2=older content | 0.1=evergreen article no urgency\n4. win_probability: 0.9=contract posting for AI/ML/automation agency | 0.8=company explicitly seeking dev partner | 0.7=funded startup needs to build fast | 0.5=medium fit, needs nurturing | 0.3=indirect signal | 0.1=no fit\n\nBUDGET ESTIMATION (ALWAYS fill estimated_budget_text, never null):\n- Indeed contract AI/ML → \"$15K-$100K (contract scope)\"\n- Series A/B company → \"$50K-$500K (post-funding build)\"\n- Seed stage → \"$15K-$75K (seed build)\"\n- Medium/Substack founder → \"$10K-$50K (estimated from context)\"\n- Telegram group signal → \"$10K-$75K (startup scope)\"\n- Unknown → \"$15K-$75K (estimated)\"\n\nCOMPANY EXTRACTION: Extract company name, founder name, website from snippet/title/URL. Never invent. Return null if not found.`;\n\nconst prompt = SYSTEM_PROMPT + `\\n\\nScore this mixed-signal lead. Return ONLY a single valid JSON object:\\n{\"relevance_score\":0.0,\"budget_score\":0.0,\"urgency_score\":0.0,\"win_probability\":0.0,\"summary\":\"2-4 sentence summary: what the signal is, who it's from, what they need, and why ScaleBuild AI fits or doesn't\",\"industry\":\"FinTech/HealthTech/SaaS/AI/Manufacturing/eCommerce/General\",\"tags\":[\"tag1\",\"tag2\"],\"reasoning\":\"Explain each score — why relevance, why budget, why urgency, why win probability. Clear recommendation: pursue or skip and best outreach angle.\",\"estimated_budget_text\":\"$X-$Y (reason)\",\"tech_stack\":[],\"company_name\":null,\"lead_founder_name\":null,\"lead_website\":null}\\n\\nTitle: ${post.title}\\nPlatform: ${post.source} (Priority: ${post.flair_text})\\nDescription: ${(post.description||'').substring(0, 1200)}${post.budget_text ? '\\nBudget Signal: ' + post.budget_text : ''}`;\n\nconst body = {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { maxOutputTokens: 100000, temperature: 0.2, responseMimeType: 'application/json' }\n};\n\nlet s = null;\ntry {\n  const respRaw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + apiKey,\n    body\n  });\n  const resp = typeof respRaw === 'string' ? JSON.parse(respRaw) : respRaw;\n  const raw = resp?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const cleaned = raw.replace(/```json[\\s\\S]*?```|```/g, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) s = JSON.parse(match[0]);\n} catch(e) {}\n\nif (!s) s = {\n  relevance_score:0.3, budget_score:0.4, urgency_score:0.3, win_probability:0.3,\n  summary:'Parse error - using defaults', industry:'General', tags:[], reasoning:'Could not parse Gemini response',\n  estimated_budget_text:'$15K-$75K (estimated)', tech_stack:[],\n  company_name:null, lead_founder_name:null, lead_website:null\n};\n\nconst overall = Math.round(((s.relevance_score*0.35)+(s.budget_score*0.30)+(s.urgency_score*0.15)+(s.win_probability*0.20))*100)/100;\nconst alert_tier = overall>=0.85?'instant':overall>=0.70?'digest':overall>=0.30?'dashboard':'discard';\n\nreturn { json: {\n  source_id: post.source_id, title: post.title, description: post.description,\n  source: post.source, source_url: post.source_url, posted_at: post.posted_at,\n  author: post.author||'', subreddit: post.subreddit||post.source||'',\n  upvotes: 0, num_comments: 0, flair_text: post.flair_text||'misc',\n  relevance_score: s.relevance_score, budget_score: s.budget_score,\n  urgency_score: s.urgency_score, win_probability: s.win_probability,\n  overall_score: overall, ai_summary: s.summary, industry: s.industry,\n  ai_tags: s.tags||[], ai_reasoning: s.reasoning,\n  estimated_budget_text: s.estimated_budget_text||'',\n  budget_mentioned: post.budget_text || s.estimated_budget_text || '',\n  tech_stack: s.tech_stack||[], company_name: s.company_name||null,\n  lead_founder: s.lead_founder_name||null, lead_company: s.company_name||null,\n  lead_website: s.lead_website||null, lead_contact: null,\n  lead_score: Math.round(overall*10),\n  alert_tier, discovered_at: new Date().toISOString(), status:'new',\n  location: s.location||null, deadline_text: null,\n  outreach_draft: '',\n  hunter_name:'', hunter_email:'', hunter_title:'', hunter_company:'',\n  hunter_all_emails:'', hunter_all_names:'', hunter_all_titles:''\n}};"
      },
      "id": "gemini-misc",
      "name": "Gemini - Score & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-score",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-lead-info-misc",
      "name": "Check - Has Lead Info",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-real-company",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.lead_website || $json.lead_company || $json.company_name || '' }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-company-signal-misc",
      "name": "Check - Has Company Signal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -160
      ]
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "={{ $json.lead_website ? 'domain' : 'company' }}",
              "value": "={{ $json.lead_website ? ($json.lead_website).replace(/^https?:\\/\\/(www\\.)?/, '').split('/')[0] : ($json.lead_company||'') }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.HUNTER_API_KEY }}"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "hunter-misc",
      "name": "Hunter - Enrich Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const hunterResp = $input.item.json;\nconst original = $('Check - Has Lead Info').item.json;\nconst data = hunterResp?.data || {};\nconst emails = data.emails || [];\nconst org = data.organization || original.lead_company || '';\n\nif (emails.length === 0) {\n  return [{ json: { ...original, hunter_name: '', hunter_email: '', hunter_title: '', hunter_company: org, hunter_all_emails: '', hunter_all_names: '', hunter_all_titles: '' } }];\n}\n\nconst priority = ['ceo','founder','co-founder','cto','owner','president','vp','director'];\nconst best = emails.find(e => priority.some(t => (e.position||'').toLowerCase().includes(t))) || emails[0];\n\nconst allEmails  = emails.map(e => e.value || '').filter(Boolean).join(', ');\nconst allNames   = emails.map(e => (e.first_name||e.last_name) ? `${e.first_name||''} ${e.last_name||''}`.trim() : '').filter(Boolean).join(', ');\nconst allTitles  = emails.map(e => e.position || '').filter(Boolean).join(', ');\n\nreturn [{ json: {\n  ...original,\n  hunter_name:       best.first_name || best.last_name ? `${best.first_name||''} ${best.last_name||''}`.trim() : '',\n  hunter_email:      best.value || '',\n  hunter_title:      best.position || '',\n  hunter_company:    org,\n  hunter_all_emails: allEmails,\n  hunter_all_names:  allNames,\n  hunter_all_titles: allTitles\n}}];"
      },
      "id": "parse-hunter-misc",
      "name": "Parse Hunter Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, enrichment_source: 'hunter-miss' } }));"
      },
      "id": "flag-hunter-miss-misc",
      "name": "Flag - Hunter Miss",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-email-exists",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.hunter_email }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-hunter-email-misc",
      "name": "Check - Hunter Has Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{ json: { ...$input.item.json, hunter_name:'', hunter_email:'', hunter_title:'', hunter_company:'', hunter_all_emails:'', hunter_all_names:'', hunter_all_titles:'' }}];"
      },
      "id": "set-empty-hunter-misc",
      "name": "Set Empty Hunter Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const seen = new Map();\nfor (const item of $input.all()) {\n  const id = item.json.source_id;\n  if (!id) continue;\n  if (!seen.has(id)) {\n    seen.set(id, item.json);\n  } else {\n    if (item.json.hunter_email && !seen.get(id).hunter_email) {\n      seen.set(id, item.json);\n    }\n  }\n}\nreturn [...seen.values()]\n  .sort((a, b) => (b.overall_score||0) - (a.overall_score||0))\n  .map(json => ({ json }));"
      },
      "id": "dedup-misc",
      "name": "Dedup by Source ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "score-check",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 0.8
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-misc",
      "name": "Filter - Score >= 0.80",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1dPe3iitwzXQnVh0hPrGW8uIB3Xnf0Gzu2sx2-mflDkQ/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opportunities"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source ID": "={{ $json.source_id }}",
            "Title": "={{ $json.title }}",
            "Subreddit": "={{ $json.subreddit }}",
            "Source URL": "={{ $json.source_url }}",
            "Posted At": "={{ $json.posted_at }}",
            "Discovered At": "={{ $json.discovered_at }}",
            "Author": "={{ $json.author }}",
            "Overall Score": "={{ $json.overall_score }}",
            "Relevance Score": "={{ $json.relevance_score }}",
            "Budget Score": "={{ $json.budget_score }}",
            "Urgency Score": "={{ $json.urgency_score }}",
            "Win Probability": "={{ $json.win_probability }}",
            "Alert Tier": "={{ $json.alert_tier }}",
            "Industry": "={{ $json.industry }}",
            "AI Summary": "={{ $json.ai_summary }}",
            "AI Tags": "={{ ($json.ai_tags||[]).join(', ') }}",
            "Tech Stack": "={{ ($json.tech_stack||[]).join(', ') }}",
            "Budget Mentioned": "={{ $json.budget_mentioned }}",
            "Location": "={{ $json.location }}",
            "Upvotes": "={{ $json.upvotes }}",
            "Comments": "={{ $json.num_comments }}",
            "Status": "new",
            "AI Reasoning": "={{ $json.ai_reasoning }}",
            "Lead Founder": "={{ $json.lead_founder||'' }}",
            "Lead Company": "={{ $json.lead_company||'' }}",
            "Lead Website": "={{ $json.lead_website||'' }}",
            "Lead Contact": "={{ $json.lead_contact||'' }}",
            "Lead Score": "={{ $json.lead_score||'' }}",
            "Hunter Name": "={{ $json.hunter_name||'' }}",
            "Hunter Email": "={{ $json.hunter_email||'' }}",
            "Hunter Title": "={{ $json.hunter_title||'' }}",
            "Hunter Company": "={{ $json.hunter_company||'' }}"
          },
          "matchingColumns": [
            "Source ID"
          ],
          "schema": [
            {
              "id": "Source ID",
              "displayName": "Source ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheet-misc",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1920,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Cron - Every 6 Hours": {
      "main": [
        [
          {
            "node": "Build Misc Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Misc Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Misc Queries": {
      "main": [
        [
          {
            "node": "SerpAPI - Misc Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI - Misc Search": {
      "main": [
        [
          {
            "node": "Normalize - Misc Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize - Misc Results": {
      "main": [
        [
          {
            "node": "Gemini - Score & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Score & Parse": {
      "main": [
        [
          {
            "node": "Check - Has Lead Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Has Lead Info": {
      "main": [
        [
          {
            "node": "Check - Has Company Signal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Empty Hunter Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Has Company Signal": {
      "main": [
        [
          {
            "node": "Hunter - Enrich Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag - Hunter Miss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter - Enrich Lead": {
      "main": [
        [
          {
            "node": "Parse Hunter Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hunter Response": {
      "main": [
        [
          {
            "node": "Check - Hunter Has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Hunter Has Email": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag - Hunter Miss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag - Hunter Miss": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Empty Hunter Fields": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup by Source ID": {
      "main": [
        [
          {
            "node": "Filter - Score >= 0.35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Score >= 0.35": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "misc-signals-v1",
  "meta": {
    "instanceId": "bfa881661c018749d441660d36f63fdf552d02437db15de1ed54bb7a572d9e36"
  },
  "id": "dealhunter-misc-signals",
  "tags": []
}