nocode_graduation.json
{
  "name": "DealHunter - No-Code Graduation Signals",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "cron-nocode",
      "name": "Cron - Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        0
      ]
    },
    {
      "parameters": {},
      "id": "manual-nocode",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const queries = [\n  // === BUBBLE FORUM — High Priority ===\n  { q: 'site:forum.bubble.io \"outgrown\" OR \"too slow\" OR \"scaling issues\" OR \"performance problems\" OR \"Bubble limitations\"', platform: 'bubble_forum', priority: 'high' },\n  { q: 'site:forum.bubble.io \"migrate\" OR \"migrate to custom\" OR \"custom code\" OR \"need a real developer\" OR \"need custom functionality\"', platform: 'bubble_forum', priority: 'high' },\n  { q: 'site:forum.bubble.io \"looking for\" OR \"need help\" OR \"hire\" \"developer\" OR \"agency\" OR \"dev shop\" OR \"custom development\"', platform: 'bubble_forum', priority: 'high' },\n  { q: 'site:forum.bubble.io \"can\\'t do\" OR \"cannot do\" OR \"not possible in Bubble\" OR \"Bubble can\\'t\" OR \"hit a wall\" OR \"limits of Bubble\"', platform: 'bubble_forum', priority: 'high' },\n\n  // === WEBFLOW FORUM — High Priority ===\n  { q: 'site:forum.webflow.com \"outgrown\" OR \"too slow\" OR \"scaling\" OR \"Webflow can\\'t\" OR \"limitations\" OR \"performance\"', platform: 'webflow_forum', priority: 'high' },\n  { q: 'site:forum.webflow.com \"migrate\" OR \"custom code\" OR \"need a developer\" OR \"custom functionality\" OR \"beyond Webflow\"', platform: 'webflow_forum', priority: 'high' },\n  { q: 'site:forum.webflow.com \"looking for\" OR \"hire\" OR \"agency\" OR \"developer\" \"custom\" OR \"backend\" OR \"complex\"', platform: 'webflow_forum', priority: 'high' },\n\n  // === RETOOL COMMUNITY — Medium Priority ===\n  { q: 'site:community.retool.com \"limitations\" OR \"outgrown\" OR \"too slow\" OR \"scaling\" OR \"migrate\" OR \"custom code\"', platform: 'retool_community', priority: 'medium' },\n  { q: 'site:community.retool.com \"need\" \"developer\" OR \"agency\" OR \"custom\" OR \"backend\" OR \"real app\"', platform: 'retool_community', priority: 'medium' },\n\n  // === AIRTABLE COMMUNITY — Medium Priority ===\n  { q: 'site:community.airtable.com \"outgrown\" OR \"limitations\" OR \"too slow\" OR \"scaling\" OR \"migrate\" OR \"performance\"', platform: 'airtable_community', priority: 'medium' },\n  { q: 'site:community.airtable.com \"need\" \"developer\" OR \"custom\" OR \"agency\" OR \"real database\" OR \"proper backend\"', platform: 'airtable_community', priority: 'medium' },\n\n  // === MAKE (INTEGROMAT) COMMUNITY — Medium Priority ===\n  { q: 'site:community.make.com \"limitations\" OR \"outgrown\" OR \"scaling\" OR \"migrate\" OR \"custom\" OR \"can\\'t do\"', platform: 'make_community', priority: 'medium' },\n  { q: 'site:community.make.com \"need\" \"developer\" OR \"agency\" OR \"custom code\" OR \"proper integration\" OR \"complex automation\"', platform: 'make_community', priority: 'medium' },\n\n  // === ZAPIER COMMUNITY — Low Priority ===\n  { q: 'site:community.zapier.com \"limitations\" OR \"outgrown\" OR \"scaling\" OR \"migrate\" OR \"custom\" OR \"too slow\" OR \"complex\"', platform: 'zapier_community', priority: 'low' },\n  { q: 'site:community.zapier.com \"need\" \"developer\" OR \"agency\" OR \"custom code\" OR \"automation engineer\"', platform: 'zapier_community', priority: 'low' },\n\n  // === REDDIT r/nocode + r/lowcode — Medium Priority ===\n  { q: 'site:reddit.com/r/nocode \"outgrown\" OR \"too slow\" OR \"scaling issues\" OR \"need a real developer\" OR \"migrate to custom\" OR \"Bubble limitations\"', platform: 'reddit_nocode', priority: 'medium' },\n  { q: 'site:reddit.com/r/nocode \"looking for\" OR \"hire\" OR \"agency\" OR \"dev shop\" \"custom\" OR \"backend\" OR \"real code\" OR \"proper app\"', platform: 'reddit_nocode', priority: 'medium' },\n  { q: 'site:reddit.com/r/lowcode \"outgrown\" OR \"limitations\" OR \"need real developer\" OR \"scaling\" OR \"migrate\" OR \"performance problems\"', platform: 'reddit_lowcode', priority: 'medium' },\n  { q: 'site:reddit.com/r/lowcode \"hire\" OR \"agency\" OR \"custom development\" OR \"need a developer\" OR \"beyond no-code\"', platform: 'reddit_lowcode', priority: 'medium' },\n\n  // === CROSS-PLATFORM KEYWORD SIGNALS ===\n  { q: '\"outgrown Bubble\" OR \"outgrown Webflow\" OR \"outgrown Airtable\" OR \"outgrown no-code\" \"developer\" OR \"agency\" OR \"custom\"', platform: 'cross_platform', priority: 'high' },\n  { q: '\"migrate from Bubble\" OR \"migrate from Webflow\" OR \"migrate from no-code\" OR \"graduating from no-code\" OR \"beyond no-code\" 2025', platform: 'cross_platform', priority: 'high' },\n  { q: '\"Bubble performance\" OR \"Bubble scaling\" OR \"Bubble too slow\" OR \"replace Bubble\" \"developer\" OR \"agency\" OR \"custom\" 2025', platform: 'cross_platform', priority: 'high' }\n];\nreturn queries.map(q => ({ json: q }));"
      },
      "id": "build-queries-nocode",
      "name": "Build No-Code Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q }}"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "api_key",
              "value": "={{ $env.SERPAPI_KEY }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "tbs",
              "value": "qdr:m"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "serpapi-nocode",
      "name": "SerpAPI - No-Code Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const skipKeywords = [\n  'for hire', 'i am available', 'hire me', 'my portfolio',\n  'available for work', 'seeking employment', 'looking for work',\n  'i built this for fun', 'personal project', 'just learning',\n  'how to learn', 'tutorial', 'beginner guide', 'getting started guide'\n];\n\nconst platformMap = {\n  'forum.bubble.io': 'bubble_forum',\n  'forum.webflow.com': 'webflow_forum',\n  'community.retool.com': 'retool_community',\n  'community.airtable.com': 'airtable_community',\n  'community.make.com': 'make_community',\n  'community.zapier.com': 'zapier_community',\n  'reddit.com/r/nocode': 'reddit_nocode',\n  'reddit.com/r/lowcode': 'reddit_lowcode'\n};\n\nconst priorityMap = {\n  'bubble_forum': 'high',\n  'webflow_forum': 'high',\n  'cross_platform': 'high',\n  'retool_community': 'medium',\n  'airtable_community': 'medium',\n  'make_community': 'medium',\n  'reddit_nocode': 'medium',\n  'reddit_lowcode': 'medium',\n  'zapier_community': 'low'\n};\n\n// Graduation signals — the core of this workflow\nconst graduationSignals = [\n  'outgrown', 'too slow', 'scaling issue', 'performance problem', 'hit a wall',\n  'limitations', 'can\\'t do', 'cannot do', 'not possible', 'migrate',\n  'custom code', 'real developer', 'custom functionality', 'custom development',\n  'beyond no-code', 'graduating', 'replace bubble', 'replace webflow',\n  'need a developer', 'need an agency', 'dev shop', 'proper backend',\n  'real app', 'real database', 'proper app', 'complex automation',\n  'scaling', 'speed issues', 'slow performance'\n];\n\nconst results = [];\nconst seenInRun = new Set();\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  if (!data || data.error) continue;\n\n  const searchQ = data.search_parameters?.q || '';\n  const organicResults = data.organic_results || [];\n\n  // Detect platform from query\n  let platform = 'cross_platform';\n  for (const [domain, pname] of Object.entries(platformMap)) {\n    if (searchQ.includes(domain) || searchQ.includes(pname)) { platform = pname; break; }\n  }\n\n  for (const r of organicResults) {\n    const link = r.link || '';\n    if (!link) continue;\n\n    // Detect actual platform from URL\n    let actualPlatform = platform;\n    for (const [domain, pname] of Object.entries(platformMap)) {\n      if (link.includes(domain)) { actualPlatform = pname; break; }\n    }\n\n    const id = actualPlatform + '_' + link.replace(/[^a-z0-9]/gi, '').slice(-70);\n    if (seenInRun.has(id)) continue;\n    seenInRun.add(id);\n\n    const title   = String(r.title   || '').substring(0, 500);\n    const snippet = String(r.snippet || '').replace(/<[^>]*>/g, '').substring(0, 3000);\n    if (!title) continue;\n\n    const fullText = (title + ' ' + snippet).toLowerCase();\n    if (skipKeywords.some(kw => fullText.includes(kw))) continue;\n\n    // Must contain at least one graduation signal\n    if (!graduationSignals.some(s => fullText.includes(s))) continue;\n\n    results.push({ json: {\n      title,\n      description: snippet,\n      source: actualPlatform,\n      source_url: link,\n      source_id: id,\n      posted_at: (() => { try { const d = r.date ? new Date(r.date) : null; return (d && !isNaN(d)) ? d.toISOString() : new Date().toISOString(); } catch(e) { return new Date().toISOString(); } })(),\n      author: '',\n      subreddit: actualPlatform,\n      upvotes: 0,\n      num_comments: 0,\n      flair_text: priorityMap[actualPlatform] || 'medium',\n      budget_text: '',\n      platform: actualPlatform\n    }});\n  }\n}\n\nif (results.length === 0) return [{ json: { _empty: true, platform: 'nocode-graduation' } }];\nreturn results.slice(0, 30);"
      },
      "id": "normalize-nocode",
      "name": "Normalize - No-Code Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const post = $input.item.json;\nif (post._empty || post._noData) return { json: post };\n\nconst apiKey = $env.GOOGLE_AI_API_KEY;\n\nconst SYSTEM_PROMPT = `You are a senior business development analyst for ScaleBuild AI (CEO: Ujjwal Roy, ex-Intel/IBM/Micron), a custom AI/ML software development company.\n\nScaleBuild BUILDS: AI/ML models, computer vision, enterprise automation, custom software, data pipelines. ScaleBuild also migrates no-code/low-code MVPs to production-grade custom software.\n\nThese leads come from NO-CODE COMMUNITY \"GRADUATION\" SIGNALS — posts on Bubble Forum, Webflow Forum, Retool Community, Airtable Community, Make Community, Zapier Community, and Reddit r/nocode / r/lowcode. These are founders who built MVPs on no-code platforms and are hitting scaling, performance, or feature walls.\n\nWHY THIS IS HIGH-VALUE: These founders already have:\n- A working product (de-risked)\n- Real users or paying customers\n- Proven need for the software\n- Budget validated by existing product\nThey JUST need a dev partner to take it to the next level.\n\nKEY GRADUATION SIGNALS: \"outgrown Bubble\", \"too slow\", \"Bubble limitations\", \"Webflow can't do\", \"migrate to custom\", \"need a real developer\", \"scaling issues\", \"performance problems\", \"hit a wall\", \"beyond no-code\"\n\nPLATFORM CONTEXT:\n- Bubble Forum: Founders building SaaS on Bubble. HIGH-VALUE — often have paying customers.\n- Webflow Forum: Web/SaaS builders hitting Webflow limits. HIGH-VALUE.\n- Retool Community: Internal tool builders. MEDIUM — often enterprise, good budget.\n- Airtable Community: Ops/data teams outgrowing Airtable. MEDIUM — good budget signal.\n- Make/Zapier Community: Automation builders needing custom integrations. MEDIUM.\n- Reddit r/nocode / r/lowcode: Founders sharing frustrations. HIGH if they mention revenue/customers.\n\n\nHARD EXCLUSIONS — Score overall_score 0.0 immediately, do not process:\n- Lead is from India or an Indian company (location: India, .in domain, Indian city/company name context) → 0.0\n- Lead is requesting to build a SaaS subscription product (we do NOT build SaaS products) → 0.0  \n- Budget is clearly under $10,000 OR budget_score would be below 0.3 → 0.0\n- Individual freelancer or [For Hire] ad → 0.0\n\nSCORE 4 DIMENSIONS (0.0-1.0):\n1. relevance_score: 1.0=explicitly saying Bubble/Webflow too slow or limited AND asking for dev help | 0.9=clear graduation signal (outgrown, migrate, limitations) | 0.8=hitting walls with no-code but not yet asking for help | 0.7=general frustration with no-code limitations | 0.5=general no-code discussion | 0.2=learning/tutorial | 0.0=irrelevant\n2. budget_score: 1.0=mentions revenue/customers + graduation signal ($50K+ implied) | 0.8=has paying users, funded | 0.7=SaaS product with users | 0.6=pre-revenue but real product built | 0.5=unclear but product exists | 0.3=hobby/side project | 0.1=student/learning\n3. urgency_score: 1.0=actively asking for dev referral this week | 0.8=hit wall and frustrated, seeking solution now | 0.6=aware of limitation, exploring options | 0.4=has limitation but not urgent | 0.2=general question | 0.1=old post\n4. win_probability: 0.9=asking for agency/dev shop recommendation directly | 0.8=migration need is clear, good fit for ScaleBuild | 0.7=strong signals, needs nurturing | 0.5=possible fit if they decide to migrate | 0.3=may solve with more no-code tools | 0.1=no fit\n\nBUDGET ESTIMATION (ALWAYS fill estimated_budget_text, never null):\n- Bubble SaaS with paying customers → \"$25K-$150K (migration + rebuild scope)\"\n- Webflow site with business → \"$15K-$75K (custom dev scope)\"\n- Enterprise internal tool (Retool/Airtable) → \"$25K-$200K (enterprise automation)\"\n- Make/Zapier automation with complex needs → \"$10K-$75K (custom integration)\"\n- Reddit post, revenue mentioned → \"$20K-$100K (estimated from product context)\"\n- No revenue signals → \"$10K-$50K (MVP migration scope)\"\n\nCOMPANY EXTRACTION: Extract product name, company name, founder name, website. No-code founders often mention their product or company in posts. Never invent.`;\n\nconst prompt = SYSTEM_PROMPT + `\\n\\nScore this no-code graduation lead. Return ONLY a single valid JSON object:\\n{\"relevance_score\":0.0,\"budget_score\":0.0,\"urgency_score\":0.0,\"win_probability\":0.0,\"summary\":\"2-4 sentence summary: what no-code platform they use, what graduation signal they showed (limitation/scaling/migration need), whether they have revenue/customers, and why ScaleBuild AI is the perfect fit\",\"industry\":\"FinTech/HealthTech/SaaS/eCommerce/Operations/General\",\"tags\":[\"tag1\",\"tag2\"],\"reasoning\":\"Explain each score — why relevance (what graduation signal?), why budget (revenue/customers/product stage?), why urgency (how desperate?), why win probability (how explicitly are they seeking a dev partner?). Recommended outreach angle: migration expertise, speed, ScaleBuild's track record.\",\"estimated_budget_text\":\"$X-$Y (reason)\",\"no_code_platform\":\"Bubble/Webflow/Airtable/Retool/Make/Zapier/Unknown\",\"graduation_signal\":\"specific quote or signal from the post\",\"tech_stack\":[],\"company_name\":null,\"lead_founder_name\":null,\"lead_website\":null}\\n\\nTitle: ${post.title}\\nPlatform: ${post.source} (Priority: ${post.flair_text})\\nDescription: ${(post.description||'').substring(0, 1200)}`;\n\nconst body = {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { maxOutputTokens: 100000, temperature: 0.2, responseMimeType: 'application/json' }\n};\n\nlet s = null;\ntry {\n  const respRaw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + apiKey,\n    body\n  });\n  const resp = typeof respRaw === 'string' ? JSON.parse(respRaw) : respRaw;\n  const raw = resp?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const cleaned = raw.replace(/```json[\\s\\S]*?```|```/g, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) s = JSON.parse(match[0]);\n} catch(e) {}\n\nif (!s) s = {\n  relevance_score:0.4, budget_score:0.5, urgency_score:0.4, win_probability:0.4,\n  summary:'Parse error - using defaults', industry:'General', tags:[], reasoning:'Could not parse Gemini response',\n  estimated_budget_text:'$15K-$75K (estimated migration scope)',\n  no_code_platform:'Unknown', graduation_signal:'',\n  tech_stack:[], company_name:null, lead_founder_name:null, lead_website:null\n};\n\nconst overall = Math.round(((s.relevance_score*0.35)+(s.budget_score*0.30)+(s.urgency_score*0.15)+(s.win_probability*0.20))*100)/100;\nconst alert_tier = overall>=0.85?'instant':overall>=0.70?'digest':overall>=0.30?'dashboard':'discard';\n\nreturn { json: {\n  source_id: post.source_id, title: post.title, description: post.description,\n  source: post.source, source_url: post.source_url, posted_at: post.posted_at,\n  author: post.author||'', subreddit: post.subreddit||post.source||'',\n  upvotes: 0, num_comments: 0, flair_text: post.flair_text||'medium',\n  relevance_score: s.relevance_score, budget_score: s.budget_score,\n  urgency_score: s.urgency_score, win_probability: s.win_probability,\n  overall_score: overall, ai_summary: s.summary, industry: s.industry,\n  ai_tags: s.tags||[], ai_reasoning: s.reasoning,\n  estimated_budget_text: s.estimated_budget_text||'',\n  budget_mentioned: post.budget_text || s.estimated_budget_text || '',\n  tech_stack: s.tech_stack||[], company_name: s.company_name||null,\n  lead_founder: s.lead_founder_name||null, lead_company: s.company_name||null,\n  lead_website: s.lead_website||null, lead_contact: null,\n  lead_score: Math.round(overall*10),\n  alert_tier, discovered_at: new Date().toISOString(), status:'new',\n  location: s.location||null, deadline_text: null,\n  outreach_draft: '',\n  hunter_name:'', hunter_email:'', hunter_title:'', hunter_company:'',\n  hunter_all_emails:'', hunter_all_names:'', hunter_all_titles:''\n}};"
      },
      "id": "gemini-nocode",
      "name": "Gemini - Score & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-score",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-lead-info-nocode",
      "name": "Check - Has Lead Info",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-real-company",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.lead_website || $json.lead_company || $json.company_name || '' }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-company-signal-nocode",
      "name": "Check - Has Company Signal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -160
      ]
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "={{ $json.lead_website ? 'domain' : 'company' }}",
              "value": "={{ $json.lead_website ? ($json.lead_website).replace(/^https?:\\/\\/(www\\.)?/, '').split('/')[0] : ($json.lead_company||'') }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.HUNTER_API_KEY }}"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "hunter-nocode",
      "name": "Hunter - Enrich Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const hunterResp = $input.item.json;\nconst original = $('Check - Has Lead Info').item.json;\nconst data = hunterResp?.data || {};\nconst emails = data.emails || [];\nconst org = data.organization || original.lead_company || '';\n\nif (emails.length === 0) {\n  return [{ json: { ...original, hunter_name: '', hunter_email: '', hunter_title: '', hunter_company: org, hunter_all_emails: '', hunter_all_names: '', hunter_all_titles: '' } }];\n}\n\nconst priority = ['ceo','founder','co-founder','cto','owner','president','vp','director'];\nconst best = emails.find(e => priority.some(t => (e.position||'').toLowerCase().includes(t))) || emails[0];\n\nconst allEmails  = emails.map(e => e.value || '').filter(Boolean).join(', ');\nconst allNames   = emails.map(e => (e.first_name||e.last_name) ? `${e.first_name||''} ${e.last_name||''}`.trim() : '').filter(Boolean).join(', ');\nconst allTitles  = emails.map(e => e.position || '').filter(Boolean).join(', ');\n\nreturn [{ json: {\n  ...original,\n  hunter_name:       best.first_name || best.last_name ? `${best.first_name||''} ${best.last_name||''}`.trim() : '',\n  hunter_email:      best.value || '',\n  hunter_title:      best.position || '',\n  hunter_company:    org,\n  hunter_all_emails: allEmails,\n  hunter_all_names:  allNames,\n  hunter_all_titles: allTitles\n}}];"
      },
      "id": "parse-hunter-nocode",
      "name": "Parse Hunter Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, enrichment_source: 'hunter-miss' } }));"
      },
      "id": "flag-hunter-miss-nocode",
      "name": "Flag - Hunter Miss",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-email-exists",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.hunter_email }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-hunter-email-nocode",
      "name": "Check - Hunter Has Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{ json: { ...$input.item.json, hunter_name:'', hunter_email:'', hunter_title:'', hunter_company:'', hunter_all_emails:'', hunter_all_names:'', hunter_all_titles:'' }}];"
      },
      "id": "set-empty-hunter-nocode",
      "name": "Set Empty Hunter Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const seen = new Map();\nfor (const item of $input.all()) {\n  const id = item.json.source_id;\n  if (!id) continue;\n  if (!seen.has(id)) {\n    seen.set(id, item.json);\n  } else {\n    if (item.json.hunter_email && !seen.get(id).hunter_email) {\n      seen.set(id, item.json);\n    }\n  }\n}\nreturn [...seen.values()]\n  .sort((a, b) => (b.overall_score||0) - (a.overall_score||0))\n  .map(json => ({ json }));"
      },
      "id": "dedup-nocode",
      "name": "Dedup by Source ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "score-check",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 0.8
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-nocode",
      "name": "Filter - Score >= 0.80",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1dPe3iitwzXQnVh0hPrGW8uIB3Xnf0Gzu2sx2-mflDkQ/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opportunities"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source ID": "={{ $json.source_id }}",
            "Title": "={{ $json.title }}",
            "Subreddit": "={{ $json.subreddit }}",
            "Source URL": "={{ $json.source_url }}",
            "Posted At": "={{ $json.posted_at }}",
            "Discovered At": "={{ $json.discovered_at }}",
            "Author": "={{ $json.author }}",
            "Overall Score": "={{ $json.overall_score }}",
            "Relevance Score": "={{ $json.relevance_score }}",
            "Budget Score": "={{ $json.budget_score }}",
            "Urgency Score": "={{ $json.urgency_score }}",
            "Win Probability": "={{ $json.win_probability }}",
            "Alert Tier": "={{ $json.alert_tier }}",
            "Industry": "={{ $json.industry }}",
            "AI Summary": "={{ $json.ai_summary }}",
            "AI Tags": "={{ ($json.ai_tags||[]).join(', ') }}",
            "Tech Stack": "={{ ($json.tech_stack||[]).join(', ') }}",
            "Budget Mentioned": "={{ $json.budget_mentioned }}",
            "Location": "={{ $json.location }}",
            "Upvotes": "={{ $json.upvotes }}",
            "Comments": "={{ $json.num_comments }}",
            "Status": "new",
            "AI Reasoning": "={{ $json.ai_reasoning }}",
            "Lead Founder": "={{ $json.lead_founder||'' }}",
            "Lead Company": "={{ $json.lead_company||'' }}",
            "Lead Website": "={{ $json.lead_website||'' }}",
            "Lead Contact": "={{ $json.lead_contact||'' }}",
            "Lead Score": "={{ $json.lead_score||'' }}",
            "Hunter Name": "={{ $json.hunter_name||'' }}",
            "Hunter Email": "={{ $json.hunter_email||'' }}",
            "Hunter Title": "={{ $json.hunter_title||'' }}",
            "Hunter Company": "={{ $json.hunter_company||'' }}"
          },
          "matchingColumns": [
            "Source ID"
          ],
          "schema": [
            {
              "id": "Source ID",
              "displayName": "Source ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheet-nocode",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1920,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Cron - Every 6 Hours": {
      "main": [
        [
          {
            "node": "Build No-Code Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build No-Code Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build No-Code Queries": {
      "main": [
        [
          {
            "node": "SerpAPI - No-Code Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI - No-Code Search": {
      "main": [
        [
          {
            "node": "Normalize - No-Code Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize - No-Code Results": {
      "main": [
        [
          {
            "node": "Gemini - Score & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Score & Parse": {
      "main": [
        [
          {
            "node": "Check - Has Lead Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Has Lead Info": {
      "main": [
        [
          {
            "node": "Check - Has Company Signal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Empty Hunter Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Has Company Signal": {
      "main": [
        [
          {
            "node": "Hunter - Enrich Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag - Hunter Miss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter - Enrich Lead": {
      "main": [
        [
          {
            "node": "Parse Hunter Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hunter Response": {
      "main": [
        [
          {
            "node": "Check - Hunter Has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Hunter Has Email": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag - Hunter Miss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag - Hunter Miss": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Empty Hunter Fields": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup by Source ID": {
      "main": [
        [
          {
            "node": "Filter - Score >= 0.40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Score >= 0.40": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "nocode-graduation-v1",
  "meta": {
    "instanceId": "bfa881661c018749d441660d36f63fdf552d02437db15de1ed54bb7a572d9e36"
  },
  "id": "dealhunter-nocode-graduation",
  "tags": []
}