quera.json
{
  "name": "DealHunter - Quora Buyer Intent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "cron-quora",
      "name": "Cron - Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        0
      ]
    },
    {
      "parameters": {},
      "id": "manual-quora",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const queries = [\n  // === TOPIC: Software Development ===\n  { q: 'site:quora.com \"software development company\" OR \"development agency\" \"recommend\" OR \"where can I find\" OR \"looking for\" OR \"how do I find\"', platform: 'quora', topic: 'software_dev' },\n  { q: 'site:quora.com \"where to find\" OR \"best way to find\" \"software developers\" OR \"development team\" OR \"engineering team\" \"hire\" OR \"build\"', platform: 'quora', topic: 'software_dev' },\n  { q: 'site:quora.com \"outsource\" \"software development\" OR \"AI development\" OR \"automation\" OR \"SaaS\" \"company\" OR \"agency\" OR \"team\"', platform: 'quora', topic: 'software_dev' },\n\n  // === TOPIC: Startups ===\n  { q: 'site:quora.com \"startup\" \"build\" OR \"develop\" \"software\" OR \"AI\" OR \"app\" OR \"platform\" \"agency\" OR \"company\" OR \"team\" OR \"hire\"', platform: 'quora', topic: 'startups' },\n  { q: 'site:quora.com \"how do I build\" OR \"how to build\" \"AI\" OR \"SaaS\" OR \"automation\" OR \"software\" \"startup\"', platform: 'quora', topic: 'startups' },\n  { q: 'site:quora.com \"need a developer\" OR \"need developers\" OR \"need a tech team\" OR \"looking for CTO\" \"startup\" OR \"idea\" OR \"product\"', platform: 'quora', topic: 'startups' },\n\n  // === TOPIC: SaaS ===\n  { q: 'site:quora.com \"build SaaS\" OR \"develop SaaS\" OR \"custom SaaS\" \"agency\" OR \"company\" OR \"team\" OR \"how\"', platform: 'quora', topic: 'saas' },\n  { q: 'site:quora.com \"SaaS product\" OR \"SaaS platform\" \"build\" OR \"develop\" OR \"create\" \"where\" OR \"who\" OR \"best\"', platform: 'quora', topic: 'saas' },\n\n  // === BUYER INTENT: AI / ML ===\n  { q: 'site:quora.com \"AI development company\" OR \"AI agency\" OR \"machine learning company\" \"recommend\" OR \"best\" OR \"where\" OR \"how to find\"', platform: 'quora', topic: 'ai_ml' },\n  { q: 'site:quora.com \"implement AI\" OR \"build AI\" OR \"integrate AI\" OR \"automate\" \"business\" OR \"company\" OR \"startup\" \"help\" OR \"agency\" OR \"developer\"', platform: 'quora', topic: 'ai_ml' },\n  { q: 'site:quora.com \"computer vision\" OR \"machine learning\" OR \"LLM\" OR \"AI automation\" \"vendor\" OR \"agency\" OR \"company\" OR \"build\" \"recommend\" OR \"where\"', platform: 'quora', topic: 'ai_ml' },\n\n  // === BUYER INTENT: General Software / Agency Search ===\n  { q: 'site:quora.com \"hire software agency\" OR \"find software agency\" OR \"choose software company\" \"how\" OR \"best\" OR \"recommendation\"', platform: 'quora', topic: 'agency_search' },\n  { q: 'site:quora.com \"custom software\" \"build\" OR \"develop\" OR \"create\" \"need\" OR \"looking\" OR \"want\" \"company\" OR \"agency\" OR \"developer\"', platform: 'quora', topic: 'agency_search' },\n  { q: 'site:quora.com \"data pipeline\" OR \"data engineering\" OR \"data platform\" \"build\" OR \"need\" OR \"looking\" \"company\" OR \"agency\" OR \"team\"', platform: 'quora', topic: 'agency_search' }\n];\nreturn queries.map(q => ({ json: q }));"
      },
      "id": "build-queries-quora",
      "name": "Build Quora Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q }}"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "api_key",
              "value": "={{ $env.SERPAPI_KEY }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "tbs",
              "value": "qdr:m"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "serpapi-quora",
      "name": "SerpAPI - Quora Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const skipKeywords = [\n  'how to become', 'how do i become', 'learn programming', 'learn to code',\n  'best programming language', 'which language should i learn',\n  'for hire', 'i am a developer', 'i offer', 'my services',\n  'freelancer profile', 'available for work', 'hire me',\n  'what is software development', 'definition of', 'history of',\n  'quora partner', 'answer request'\n];\n\nconst results = [];\nconst seenInRun = new Set();\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  if (!data || data.error) continue;\n\n  const searchQ = data.search_parameters?.q || '';\n  const organicResults = data.organic_results || [];\n\n  // Infer topic from query\n  let topic = 'general';\n  if (searchQ.includes('startup')) topic = 'startups';\n  else if (searchQ.includes('SaaS') || searchQ.includes('saas')) topic = 'saas';\n  else if (searchQ.includes('AI') || searchQ.includes('machine learning') || searchQ.includes('automation')) topic = 'ai_ml';\n  else if (searchQ.includes('software development')) topic = 'software_dev';\n  else if (searchQ.includes('agency') || searchQ.includes('outsource')) topic = 'agency_search';\n\n  for (const r of organicResults) {\n    const link = r.link || '';\n    if (!link) continue;\n    if (!link.includes('quora.com')) continue;\n\n    // Only include actual question pages, not topic/profile/space pages\n    const isQuestion = link.includes('/What-') || link.includes('/How-') || link.includes('/Where-')\n      || link.includes('/Why-') || link.includes('/Can-') || link.includes('/Is-')\n      || link.includes('/Should-') || link.includes('/Which-') || link.includes('/Who-')\n      || link.includes('/Does-') || link.includes('/Do-') || link.includes('/Are-')\n      || (link.includes('quora.com/') && !link.includes('/profile/') && !link.includes('/topic/') && !link.includes('/spaces/'));\n    if (!isQuestion) continue;\n\n    const id = 'quora_' + link.replace(/[^a-z0-9]/gi, '').slice(-70);\n    if (seenInRun.has(id)) continue;\n    seenInRun.add(id);\n\n    const title   = String(r.title   || '').substring(0, 500);\n    const snippet = String(r.snippet || '').replace(/<[^>]*>/g, '').substring(0, 3000);\n    if (!title) continue;\n\n    const fullText = (title + ' ' + snippet).toLowerCase();\n    if (skipKeywords.some(kw => fullText.includes(kw))) continue;\n\n    // Must have at least one buyer-intent signal\n    const buyerSignals = [\n      'where can i find', 'how do i find', 'looking for', 'recommend', 'best',\n      'how to hire', 'who should i', 'outsource', 'need help', 'need a',\n      'build', 'develop', 'create', 'automate', 'implement', 'integrate'\n    ];\n    if (!buyerSignals.some(s => fullText.includes(s))) continue;\n\n    results.push({ json: {\n      title,\n      description: snippet,\n      source: 'quora',\n      source_url: link,\n      source_id: id,\n      posted_at: (() => { try { const d = r.date ? new Date(r.date) : null; return (d && !isNaN(d)) ? d.toISOString() : new Date().toISOString(); } catch(e) { return new Date().toISOString(); } })(),\n      author: '',\n      subreddit: topic,\n      upvotes: 0,\n      num_comments: 0,\n      flair_text: topic,\n      budget_text: '',\n      platform: 'quora'\n    }});\n  }\n}\n\nif (results.length === 0) return [{ json: { _empty: true, platform: 'quora' } }];\n// Cap at 30 leads per run\nreturn results.slice(0, 30);"
      },
      "id": "normalize-quora",
      "name": "Normalize - Quora Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const post = $input.item.json;\nif (post._empty || post._noData) return { json: post };\n\nconst apiKey = $env.GOOGLE_AI_API_KEY;\n\nconst SYSTEM_PROMPT = `You are a senior business development analyst for ScaleBuild AI (CEO: Ujjwal Roy, ex-Intel/IBM/Micron), a custom AI/ML software development company.\n\nScaleBuild BUILDS: AI/ML models, computer vision, enterprise automation, custom software, data pipelines.\n\nThese leads come from QUORA — people publicly asking questions about finding software/AI development companies, building products, or automating business processes. The person asking is often the BUYER themselves.\n\nIDEAL LEAD: A founder, business owner, or decision-maker asking where to find a dev company, how to build AI/automation, or seeking recommendations for software agencies.\n\nHARD EXCLUSIONS — Score overall_score 0.0 immediately, do not process:\n- Lead is from India or an Indian company (location: India, .in domain, Indian city/company name context) → 0.0\n- Lead is requesting to build a SaaS subscription product (we do NOT build SaaS products) → 0.0  \n- Budget is clearly under $10,000 OR budget_score would be below 0.3 → 0.0\n- Individual freelancer or [For Hire] ad → 0.0\n\nSCORE 4 DIMENSIONS (0.0-1.0):\n1. relevance_score: 1.0=explicitly asking for AI/ML/automation agency or dev company | 0.8=asking how to build AI/SaaS/automation product | 0.7=asking for software dev recommendation | 0.5=general tech question with business context | 0.2=learning/career question | 0.0=irrelevant\n2. budget_score: 0.7=mentions enterprise/company context ($50K+ implied) | 0.6=mentions startup with funding | 0.5=unknown but business context | 0.4=small business implied | 0.2=individual/student | 0.0=no budget signal\n3. urgency_score: 1.0=posted this week, actively deciding | 0.7=recent post, comparing options | 0.5=exploring options | 0.3=researching | 0.1=old question/academic\n4. win_probability: 0.9=directly asking for agency/company referral | 0.7=asking how to find/hire, strong buyer signal | 0.5=asking about process, could be buyer | 0.3=ambiguous | 0.1=likely not a buyer\n\nBUDGET ESTIMATION (ALWAYS fill estimated_budget_text, never null):\n- Enterprise context → \"$50K-$500K (enterprise implied)\"\n- Funded startup → \"$25K-$150K (startup budget)\"\n- Business owner/SMB → \"$10K-$75K (SMB scope)\"\n- Unknown context → \"$10K-$50K (estimated from question context)\"\n- Individual/small → \"$5K-$20K\"\n\nCOMPANY EXTRACTION: Scan snippet for company name, person name, website. Most Quora posts won't have this — return null if not found. Never invent.`;\n\nconst prompt = SYSTEM_PROMPT + `\\n\\nScore this Quora question as a lead. Return ONLY a single valid JSON object:\\n{\"relevance_score\":0.0,\"budget_score\":0.0,\"urgency_score\":0.0,\"win_probability\":0.0,\"summary\":\"2-4 sentence summary: what the person is asking, their apparent role/context, why they are or aren't a good lead for ScaleBuild AI\",\"industry\":\"FinTech/HealthTech/SaaS/Manufacturing/eCommerce/General\",\"tags\":[\"tag1\",\"tag2\"],\"reasoning\":\"Explain each score dimension — why this relevance (what makes them a buyer or not), why this budget score (what signals exist), why this urgency (how recent/active), why this win probability (how directly are they seeking a company). Give a clear recommendation: pursue or skip, and if pursue, what angle.\",\"estimated_budget_text\":\"$X-$Y (reason)\",\"tech_stack\":[],\"company_name\":null,\"lead_founder_name\":null,\"lead_website\":null}\\n\\nQuora Question Title: ${post.title}\\nTopic: ${post.subreddit}\\nSnippet/Answers: ${(post.description||'').substring(0, 1200)}`;\n\nconst body = {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { maxOutputTokens: 100000, temperature: 0.2, responseMimeType: 'application/json' }\n};\n\nlet s = null;\ntry {\n  const respRaw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + apiKey,\n    body\n  });\n  const resp = typeof respRaw === 'string' ? JSON.parse(respRaw) : respRaw;\n  const raw = resp?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const cleaned = raw.replace(/```json[\\s\\S]*?```|```/g, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) s = JSON.parse(match[0]);\n} catch(e) {}\n\nif (!s) s = {\n  relevance_score:0.3, budget_score:0.4, urgency_score:0.3, win_probability:0.3,\n  summary:'Parse error - using defaults', industry:'General', tags:[], reasoning:'Could not parse Gemini response',\n  estimated_budget_text:'$10K-$50K (estimated)', tech_stack:[],\n  company_name:null, lead_founder_name:null, lead_website:null\n};\n\nconst overall = Math.round(((s.relevance_score*0.35)+(s.budget_score*0.30)+(s.urgency_score*0.15)+(s.win_probability*0.20))*100)/100;\nconst alert_tier = overall>=0.85?'instant':overall>=0.70?'digest':overall>=0.30?'dashboard':'discard';\n\nreturn { json: {\n  source_id: post.source_id, title: post.title, description: post.description,\n  source: post.source, source_url: post.source_url, posted_at: post.posted_at,\n  author: post.author||'', subreddit: post.subreddit||'quora',\n  upvotes: 0, num_comments: 0, flair_text: post.flair_text||'Quora',\n  relevance_score: s.relevance_score, budget_score: s.budget_score,\n  urgency_score: s.urgency_score, win_probability: s.win_probability,\n  overall_score: overall, ai_summary: s.summary, industry: s.industry,\n  ai_tags: s.tags||[], ai_reasoning: s.reasoning,\n  estimated_budget_text: s.estimated_budget_text||'',\n  budget_mentioned: post.budget_text || s.estimated_budget_text || '',\n  tech_stack: s.tech_stack||[], company_name: s.company_name||null,\n  lead_founder: s.lead_founder_name||null, lead_company: s.company_name||null,\n  lead_website: s.lead_website||null, lead_contact: null,\n  lead_score: Math.round(overall*10),\n  alert_tier, discovered_at: new Date().toISOString(), status:'new',\n  location: s.location||null, deadline_text: null,\n  outreach_draft: '',\n  hunter_name:'', hunter_email:'', hunter_title:'', hunter_company:'',\n  hunter_all_emails:'', hunter_all_names:'', hunter_all_titles:''\n}};"
      },
      "id": "gemini-quora",
      "name": "Gemini - Score & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-score",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-lead-info-quora",
      "name": "Check - Has Lead Info",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-real-company",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.lead_website || $json.lead_company || $json.company_name || '' }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-company-signal-quora",
      "name": "Check - Has Company Signal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -160
      ]
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "={{ $json.lead_website ? 'domain' : 'company' }}",
              "value": "={{ $json.lead_website ? ($json.lead_website).replace(/^https?:\\/\\/(www\\.)?/, '').split('/')[0] : ($json.lead_company||'') }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.HUNTER_API_KEY }}"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "hunter-quora",
      "name": "Hunter - Enrich Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const hunterResp = $input.item.json;\nconst original = $('Check - Has Lead Info').item.json;\nconst data = hunterResp?.data || {};\nconst emails = data.emails || [];\nconst org = data.organization || original.lead_company || '';\n\nif (emails.length === 0) {\n  return [{ json: { ...original, hunter_name: '', hunter_email: '', hunter_title: '', hunter_company: org, hunter_all_emails: '', hunter_all_names: '', hunter_all_titles: '' } }];\n}\n\n// Pick best contact by seniority priority\nconst priority = ['ceo','founder','co-founder','cto','owner','president','vp','director'];\nconst best = emails.find(e => priority.some(t => (e.position||'').toLowerCase().includes(t))) || emails[0];\n\nconst allEmails  = emails.map(e => e.value || '').filter(Boolean).join(', ');\nconst allNames   = emails.map(e => (e.first_name||e.last_name) ? `${e.first_name||''} ${e.last_name||''}`.trim() : '').filter(Boolean).join(', ');\nconst allTitles  = emails.map(e => e.position || '').filter(Boolean).join(', ');\n\nreturn [{ json: {\n  ...original,\n  hunter_name:       best.first_name || best.last_name ? `${best.first_name||''} ${best.last_name||''}`.trim() : '',\n  hunter_email:      best.value || '',\n  hunter_title:      best.position || '',\n  hunter_company:    org,\n  hunter_all_emails: allEmails,\n  hunter_all_names:  allNames,\n  hunter_all_titles: allTitles\n}}];"
      },
      "id": "parse-hunter-quora",
      "name": "Parse Hunter Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, enrichment_source: 'hunter-miss' } }));"
      },
      "id": "flag-hunter-miss-quora",
      "name": "Flag - Hunter Miss",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-email-exists",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.hunter_email }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-hunter-email-quora",
      "name": "Check - Hunter Has Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{ json: { ...$input.item.json, hunter_name:'', hunter_email:'', hunter_title:'', hunter_company:'', hunter_all_emails:'', hunter_all_names:'', hunter_all_titles:'' }}];"
      },
      "id": "set-empty-hunter-quora",
      "name": "Set Empty Hunter Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const seen = new Map();\nfor (const item of $input.all()) {\n  const id = item.json.source_id;\n  if (!id) continue;\n  if (!seen.has(id)) {\n    seen.set(id, item.json);\n  } else {\n    if (item.json.hunter_email && !seen.get(id).hunter_email) {\n      seen.set(id, item.json);\n    }\n  }\n}\nreturn [...seen.values()]\n  .sort((a, b) => (b.overall_score||0) - (a.overall_score||0))\n  .map(json => ({ json }));"
      },
      "id": "dedup-quora",
      "name": "Dedup by Source ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "score-check",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 0.8
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-quora",
      "name": "Filter - Score >= 0.80",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1dPe3iitwzXQnVh0hPrGW8uIB3Xnf0Gzu2sx2-mflDkQ/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opportunities"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source ID": "={{ $json.source_id }}",
            "Title": "={{ $json.title }}",
            "Subreddit": "={{ $json.subreddit }}",
            "Source URL": "={{ $json.source_url }}",
            "Posted At": "={{ $json.posted_at }}",
            "Discovered At": "={{ $json.discovered_at }}",
            "Author": "={{ $json.author }}",
            "Overall Score": "={{ $json.overall_score }}",
            "Relevance Score": "={{ $json.relevance_score }}",
            "Budget Score": "={{ $json.budget_score }}",
            "Urgency Score": "={{ $json.urgency_score }}",
            "Win Probability": "={{ $json.win_probability }}",
            "Alert Tier": "={{ $json.alert_tier }}",
            "Industry": "={{ $json.industry }}",
            "AI Summary": "={{ $json.ai_summary }}",
            "AI Tags": "={{ ($json.ai_tags||[]).join(', ') }}",
            "Tech Stack": "={{ ($json.tech_stack||[]).join(', ') }}",
            "Budget Mentioned": "={{ $json.budget_mentioned }}",
            "Location": "={{ $json.location }}",
            "Upvotes": "={{ $json.upvotes }}",
            "Comments": "={{ $json.num_comments }}",
            "Status": "new",
            "AI Reasoning": "={{ $json.ai_reasoning }}",
            "Lead Founder": "={{ $json.lead_founder||'' }}",
            "Lead Company": "={{ $json.lead_company||'' }}",
            "Lead Website": "={{ $json.lead_website||'' }}",
            "Lead Contact": "={{ $json.lead_contact||'' }}",
            "Lead Score": "={{ $json.lead_score||'' }}",
            "Hunter Name": "={{ $json.hunter_name||'' }}",
            "Hunter Email": "={{ $json.hunter_email||'' }}",
            "Hunter Title": "={{ $json.hunter_title||'' }}",
            "Hunter Company": "={{ $json.hunter_company||'' }}"
          },
          "matchingColumns": [
            "Source ID"
          ],
          "schema": [
            {
              "id": "Source ID",
              "displayName": "Source ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheet-quora",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1920,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Cron - Every 6 Hours": {
      "main": [
        [
          {
            "node": "Build Quora Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Quora Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Quora Queries": {
      "main": [
        [
          {
            "node": "SerpAPI - Quora Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI - Quora Search": {
      "main": [
        [
          {
            "node": "Normalize - Quora Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize - Quora Results": {
      "main": [
        [
          {
            "node": "Gemini - Score & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Score & Parse": {
      "main": [
        [
          {
            "node": "Check - Has Lead Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Has Lead Info": {
      "main": [
        [
          {
            "node": "Check - Has Company Signal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Empty Hunter Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Has Company Signal": {
      "main": [
        [
          {
            "node": "Hunter - Enrich Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag - Hunter Miss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter - Enrich Lead": {
      "main": [
        [
          {
            "node": "Parse Hunter Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hunter Response": {
      "main": [
        [
          {
            "node": "Check - Hunter Has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Hunter Has Email": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag - Hunter Miss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag - Hunter Miss": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Empty Hunter Fields": {
      "main": [
        [
          {
            "node": "Dedup by Source ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup by Source ID": {
      "main": [
        [
          {
            "node": "Filter - Score >= 0.40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Score >= 0.40": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "quora-buyer-intent-v1",
  "meta": {
    "instanceId": "bfa881661c018749d441660d36f63fdf552d02437db15de1ed54bb7a572d9e36"
  },
  "id": "dealhunter-quora",
  "tags": []
}