test.json
{
  "name": "DealHunter - Agentic AI Lead Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron - Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1296,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subreddits",
              "name": "subreddits",
              "type": "array",
              "value": "={{ [\n  { \"name\": \"forhire\",             \"flair\": \"Hiring\", \"priority\": \"critical\" },\n  { \"name\": \"startups\",            \"flair\": null,     \"priority\": \"critical\" },\n  { \"name\": \"SaaS\",                \"flair\": null,     \"priority\": \"high\" },\n  { \"name\": \"Entrepreneur\",        \"flair\": null,     \"priority\": \"high\" },\n  { \"name\": \"cofounder\",           \"flair\": null,     \"priority\": \"high\" },\n  { \"name\": \"ArtificialIntelligence\", \"flair\": null,  \"priority\": \"high\" }\n] }}"
            },
            {
              "id": "keywords-skip",
              "name": "keywordsSkip",
              "type": "array",
              "value": "={{ [\"[for hire]\", \"for hire]\", \"wordpress theme\", \"shopify theme\", \"logo design\", \"SEO services\", \"social media management\", \"content writing\", \"virtual assistant\", \"data entry\", \"graphic design\", \"video editing\", \"copywriting\", \"i am available\", \"available for hire\", \"seeking clients\", \"my portfolio\", \"i offer\", \"my services include\", \"hire me\", \"looking for work\", \"seeking employment\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "init-config",
      "name": "Initialize Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\nconst subreddits = config.subreddits || [];\n\nconst startUrls = subreddits.map(s => ({\n  url: `https://www.reddit.com/r/${s.name}/new/?sort=new`,\n  userData: { subreddit: s.name, flair: s.flair, priority: s.priority }\n}));\n\nreturn [{ json: {\n  startUrls,\n  maxItems: 10,\n  keywordsSkip: config.keywordsSkip,\n  subreddits: config.subreddits\n}}];"
      },
      "id": "build-apify-input",
      "name": "Build Apify Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Build Apify Input').first().json;\nconst keywordsSkip = config.keywordsSkip || [];\nconst flairMap = {};\n(config.subreddits || []).forEach(s => {\n  if (s.flair) flairMap[s.name.toLowerCase()] = s.flair.toLowerCase();\n});\n\nconst rawItems = $input.all();\nconst results = [];\nconst seenIds = new Set();\n\nfor (const item of rawItems) {\n  if (!item.json || typeof item.json !== 'object') continue;\n  const post = item.json;\n  const src = post._source || 'reddit';\n\n  try {\n\n    if (post._noData) continue; // empty-run sentinel\n\n        // ── LINKEDIN ────────────────────────────────────────────────────────\n    if (src === 'linkedin') {\n      const title = String(post.title || '').substring(0, 500);\n      if (!title) continue;\n      const id = 'linkedin_' + String(post.id || post.link || title).substring(0, 80);\n      if (seenIds.has(id)) continue;\n      seenIds.add(id);\n      const body = String(post.descriptionText || post.description || '').substring(0, 3000);\n      const salaryText = post.salary ? String(post.salary).substring(0, 100) : '';\n      const companyDomain = String(post.companyWebsite || '');\n      const contactName = String(post.jobPosterName || '');\n      const contactProfile = String(post.jobPosterProfileUrl || '');\n      results.push({ json: {\n        title, description: body,\n        source: 'linkedin',\n        source_url: String(post.link || post.applyUrl || ''),\n        source_id: id,\n        posted_at: post.postedAt || post.postedDate || new Date().toISOString(),\n        author: String(post.companyName || ''),\n        subreddit: '', upvotes: 0, num_comments: 0,\n        flair_text: String(post.employmentType || post.jobFunction || ''),\n        budget_text: salaryText,\n        company_domain: companyDomain,\n        contact_name: contactName,\n        contact_linkedin: contactProfile,\n      }});\n      continue;\n    }\n\n    // ── HACKER NEWS ─────────────────────────────────────────────────────\n    if (src === 'hackernews') {\n      const title = String(post.title || '').substring(0, 500);\n      if (!title) continue;\n      const id = 'hn_' + String(post.objectID || '');\n      if (seenIds.has(id)) continue;\n      if (id !== 'hn_') seenIds.add(id);\n      const body = String(post._hn_description || post.story_text || '').replace(/<[^>]*>/g, '').substring(0, 3000);\n      results.push({ json: {\n        title, description: body,\n        source: 'hackernews',\n        source_url: post.url || `https://news.ycombinator.com/item?id=${post.objectID}`,\n        source_id: id,\n        posted_at: post.created_at || new Date().toISOString(),\n        author: String(post.author || ''),\n        subreddit: '',\n        upvotes: Number(post.points || 0),\n        num_comments: Number(post.num_comments || 0),\n        flair_text: '', budget_text: '',\n      }});\n      continue;\n    }\n\n    // ── REDDIT ──────────────────────────────────────────────────────────\n    if (post.error || post.type === 'run-failed') continue;\n    const posts = Array.isArray(post) ? post : [post];\n    for (const p of posts) {\n      if (!p || typeof p !== 'object') continue;\n      const postTitle = String(p.title || '').substring(0, 500);\n      if (!postTitle) continue;\n      const postId = 'reddit_' + String(p.parsedId || p.id || '');\n      if (seenIds.has(postId)) continue;\n      if (postId !== 'reddit_') seenIds.add(postId);\n      const postBody = String(p.body || p.text || p.selfText || '');\n      const postFlair = String(p.flair || p.linkFlair || p.link_flair_text || '');\n      const postUrl = String(p.url || p.link || '');\n      const postSubreddit = String(p.communityName || p.subreddit || '');\n      const postAuthor = typeof p.author === 'object' ? (p.author?.name || '') : String(p.author || '');\n      const postScore = Number(p.score || p.upVotes || 0);\n      const postComments = Number(p.numberOfComments || p.numComments || 0);\n      const postDate = p.createdAt || p.publishedAt || (p.created_utc ? new Date(p.created_utc * 1000).toISOString() : new Date().toISOString());\n      if (p.dataType === 'comment' || p.postId || p.parentId) continue;\n      if (postBody === '[removed]' || postBody === '[deleted]') continue;\n      if (postFlair.toLowerCase() === 'for hire' || postTitle.toLowerCase().startsWith('[for hire]')) continue;\n      const requiredFlair = flairMap[postSubreddit.toLowerCase()];\n      if (requiredFlair && postFlair && !postFlair.toLowerCase().includes(requiredFlair)) continue;\n      const fullText = (postTitle + ' ' + postBody).toLowerCase();\n      if (keywordsSkip.some(kw => fullText.includes(kw.toLowerCase()))) continue;\n      results.push({ json: {\n        title: postTitle,\n        description: postBody.substring(0, 3000),\n        source: 'reddit_' + postSubreddit.toLowerCase(),\n        source_url: postUrl || `https://reddit.com/r/${postSubreddit}`,\n        source_id: postId,\n        posted_at: postDate,\n        author: postAuthor,\n        subreddit: postSubreddit,\n        upvotes: postScore,\n        num_comments: postComments,\n        flair_text: postFlair,\n        budget_text: '',\n      }});\n    }\n\n  } catch(e) {}\n}\nreturn results;"
      },
      "id": "normalize-posts",
      "name": "Normalize to RawOpportunity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $env.GOOGLE_AI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"contents\": [{\"parts\": [{\"text\": `You are a senior business development analyst for ScaleBuild AI (CEO: Ujjwal Roy, ex-Intel/IBM/Micron), a custom AI/ML software development company.\n\nScaleBuild BUILDS: AI/ML models, computer vision, enterprise automation, SaaS products, data pipelines.\n\nIDEAL LEAD: Founder/CTO/SMB owner with a business PROBLEM needing custom software. Pain point posts are HIGH VALUE — they don't need to say \"looking for developer\".\n\nGOOD LEAD EXAMPLES:\n- \"compliance audits take weeks\" → needs automation software → HIGH\n- \"we outgrew our no-code tool\" → needs custom dev → HIGH\n- \"evaluating dev shops after bad outsourcing\" → MEDIUM\n- \"I built a meme AI\" → joke → 0.0\n- Individual [For Hire] ad → 0.0\n\nPOST TO EVALUATE:\nTitle: ${$json.title}\nSource: r/${$json.subreddit}\nDescription: ${($json.description || '').substring(0, 2000)}\n\nSCORE 4 DIMENSIONS (0.0–1.0):\n1. relevance_score: Does this business need software/AI built?\n   0.9+=clear AI/automation/enterprise need | 0.7-0.8=business pain point | 0.5-0.6=startup needs tech help | 0.0-0.2=irrelevant/joke/individual ad\n\n2. budget_score: 1.0=$100K+ | 0.8=$50-100K | 0.6=$25-50K | 0.4=$10-25K | 0.2=<$10K | 0.5=unknown but substantial scope\n\n3. urgency_score: 1.0=this week | 0.7=1 month | 0.4=3 months | 0.2=no timeline\n\n4. win_probability: 0.8+=agency/partner sought | 0.5-0.7=good fit vague | 0.2-0.4=wants freelancer | 0.0-0.1=no fit\n\nFormula: relevance*0.35 + budget*0.25 + urgency*0.15 + win_probability*0.25\n\nReturn ONLY valid JSON (no markdown):\n{\"relevance_score\":0.0,\"budget_score\":0.0,\"urgency_score\":0.0,\"win_probability\":0.0,\"overall_score\":0.0,\"summary\":\"2-3 sentence summary\",\"industry\":\"FinTech/HealthTech/SaaS/Manufacturing/eCommerce/General\",\"tags\":[\"tag1\"],\"reasoning\":\"brief explanation\",\"estimated_budget_text\":null,\"deadline_text\":null,\"location\":null,\"tech_stack\":[],\"company_name\":null,\"contact_info\":null,\"lead_founder_name\":null,\"lead_website\":null}`}]}],\n  \"generationConfig\": {\"maxOutputTokens\": 6000, \"temperature\": 0.2}\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "gemini-score",
      "name": "Gemini AI - Score Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const geminiItems  = $input.all();\nconst originalPosts = $('Normalize to RawOpportunity').all();\nconst results = [];\n\nfor (let i = 0; i < geminiItems.length; i++) {\n  const geminiResp = geminiItems[i].json;\n  const post = (originalPosts[i] || originalPosts[0]).json;\n\n  let s = {};\n  try {\n    const raw = geminiResp.candidates?.[0]?.content?.parts?.[0]?.text || '';\n    const cleaned = raw.replace(/```json|```/g, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    s = match ? JSON.parse(match[0]) : {};\n    if (!s.relevance_score && s.relevance_score !== 0) throw new Error('empty');\n  } catch(e) {\n    s = { relevance_score:0.1, budget_score:0.1, urgency_score:0.1, win_probability:0.1,\n          summary:'Parse error: '+e.message, industry:'Unknown', tags:[], reasoning:e.message,\n          estimated_budget_text:null, deadline_text:null, location:null, tech_stack:[],\n          company_name:null, contact_info:null };\n  }\n\n  const overall = Math.round((\n    (s.relevance_score||0)*0.35 + (s.budget_score||0)*0.25 +\n    (s.urgency_score||0)*0.15   + (s.win_probability||0)*0.25\n  ) * 100) / 100;\n\n  let alertTier = 'discard';\n  if (overall >= 0.85) alertTier = 'instant';\n  else if (overall >= 0.70) alertTier = 'digest';\n  else if (overall >= 0.30) alertTier = 'dashboard';\n\n  results.push({ json: {\n    title:                 post.title,\n    description:           post.description,\n    source:                post.source,\n    source_url:            post.source_url,\n    source_id:             post.source_id,\n    posted_at:             post.posted_at,\n    author:                post.author,\n    subreddit:             post.subreddit,\n    upvotes:               post.upvotes,\n    num_comments:          post.num_comments,\n    relevance_score:       s.relevance_score,\n    budget_score:          s.budget_score,\n    urgency_score:         s.urgency_score,\n    win_probability:       s.win_probability,\n    overall_score:         overall,\n    ai_summary:            s.summary,\n    industry:              s.industry,\n    ai_tags:               s.tags || [],\n    ai_reasoning:          s.reasoning,\n    estimated_budget_text: s.estimated_budget_text,\n    deadline_text:         s.deadline_text,\n    location:              s.location,\n    tech_stack:            s.tech_stack || [],\n    company_name:          s.company_name,\n    contact_info:          s.contact_info,\n    lead_founder:          s.lead_founder_name || null,\n    lead_company:          s.company_name || null,\n    lead_website:          s.lead_website || null,\n    lead_contact:          s.contact_info || null,\n    lead_score:            Math.round(overall * 10),\n    alert_tier:            alertTier,\n    discovered_at:         new Date().toISOString(),\n    status:                'new',\n    outreach_draft:        ''\n  }});\n}\nreturn results;"
      },
      "id": "parse-scores",
      "name": "Parse & Merge AI Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "score-check",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 0.3
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-score",
      "name": "Filter - Score >= 0.30",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        272,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1dPe3iitwzXQnVh0hPrGW8uIB3Xnf0Gzu2sx2-mflDkQ/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opportunities"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source ID": "={{ $json.source_id }}",
            "Title": "={{ $json.title }}",
            "Subreddit": "={{ $json.subreddit }}",
            "Source URL": "={{ $json.source_url }}",
            "Posted At": "={{ $json.posted_at }}",
            "Discovered At": "={{ $json.discovered_at }}",
            "Author": "={{ $json.author }}",
            "Overall Score": "={{ $json.overall_score }}",
            "Relevance Score": "={{ $json.relevance_score }}",
            "Budget Score": "={{ $json.budget_score }}",
            "Urgency Score": "={{ $json.urgency_score }}",
            "Win Probability": "={{ $json.win_probability }}",
            "Alert Tier": "={{ $json.alert_tier }}",
            "Industry": "={{ $json.industry }}",
            "AI Summary": "={{ $json.ai_summary }}",
            "AI Tags": "={{ ($json.ai_tags || []).join(', ') }}",
            "Tech Stack": "={{ ($json.tech_stack || []).join(', ') }}",
            "Budget Mentioned": "={{ $json.estimated_budget_text }}",
            "Location": "={{ $json.location }}",
            "Upvotes": "={{ $json.upvotes }}",
            "Comments": "={{ $json.num_comments }}",
            "Status": "new",
            "AI Reasoning": "={{ $json.ai_reasoning }}",
            "Lead Founder": "={{ $json.lead_founder || '' }}",
            "Lead Company": "={{ $json.lead_company || '' }}",
            "Lead Website": "={{ $json.lead_website || '' }}",
            "Lead Contact": "={{ $json.lead_contact || '' }}",
            "Lead Score": "={{ $json.lead_score || '' }}",
            "Hunter Name": "={{ $json.hunter_name || '' }}",
            "Hunter Email": "={{ $json.hunter_email || '' }}",
            "Hunter LinkedIn": "={{ $json.hunter_linkedin || '' }}",
            "Hunter Title": "={{ $json.hunter_title || '' }}",
            "Hunter Company": "={{ $json.hunter_company || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source ID",
              "displayName": "Source ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subreddit",
              "displayName": "Subreddit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posted At",
              "displayName": "Posted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Discovered At",
              "displayName": "Discovered At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overall Score",
              "displayName": "Overall Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Relevance Score",
              "displayName": "Relevance Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget Score",
              "displayName": "Budget Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency Score",
              "displayName": "Urgency Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Win Probability",
              "displayName": "Win Probability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alert Tier",
              "displayName": "Alert Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Tags",
              "displayName": "AI Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tech Stack",
              "displayName": "Tech Stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget Mentioned",
              "displayName": "Budget Mentioned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline Mentioned",
              "displayName": "Deadline Mentioned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Filter Result",
              "displayName": "Filter Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Upvotes",
              "displayName": "Upvotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Reasoning",
              "displayName": "AI Reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outreach Draft",
              "displayName": "Outreach Draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Founder",
              "displayName": "Lead Founder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Lead Company",
              "displayName": "Lead Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Lead Website",
              "displayName": "Lead Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Lead Contact",
              "displayName": "Lead Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "Hunter Name",
              "displayName": "Hunter Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Hunter Email",
              "displayName": "Hunter Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Hunter LinkedIn",
              "displayName": "Hunter LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Hunter Title",
              "displayName": "Hunter Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Hunter Company",
              "displayName": "Hunter Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "append-to-sheet",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        480,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-items",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        -656
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "wait-loop",
      "name": "Wait - Process Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        0
      ],
      "webhookId": "e5a544d7-4065-4671-9928-df7a57450b92"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "alert-check",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json[\"Overall Score\"] }}",
              "rightValue": 0.6
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-alert",
      "name": "Check - Score >= 0.85 (Instant Alert)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $env.GOOGLE_AI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"contents\": [{\"parts\": [{\"text\": `You are writing as Ujjwal Roy, CEO of ScaleBuild AI (Junkiri Labs LLC).\n\nLEAD:\nTitle: ${$json.title}\nSummary: ${$json.ai_summary}\nIndustry: ${$json.industry}\nTech Stack: ${($json.tech_stack||[]).join(', ')||'Not specified'}\nBudget: ${$json.estimated_budget_text||'Not mentioned'}\nSource: r/${$json.subreddit}\n\nRULES:\n- Write as Ujjwal Roy, CEO of ScaleBuild AI\n- Tone: direct, confident, no fluff, human-sounding, NO em dashes, NO exclamation marks\n- Max 180 words\n- Structure: Hook (reference their specific need) → Credentials (Intel/IBM/Micron + AI/CV capabilities) → Soft 15-min CTA\n- NO generic openers like \"I hope this finds you well\"\n- Sign off exactly:\nUjjwal Roy\nCEO, ScaleBuild AI\nujjwal@scalebuild.ai\n\nReturn ONLY the email body. No subject line. No markdown.`}]}],\n  \"generationConfig\": {\"maxOutputTokens\": 6000, \"temperature\": 0.6}\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "gemini-outreach",
      "name": "Gemini - Generate Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const geminiResp = $input.first().json;\nconst original   = $('Check - Score >= 0.85 (Instant Alert)').item.json;\n\nconst draft = geminiResp.candidates?.[0]?.content?.parts?.[0]?.text?.trim() || 'Outreach generation failed';\n\nreturn [{ json: { ...original, outreach_draft: draft } }];"
      },
      "id": "parse-outreach",
      "name": "Parse Outreach Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        -160
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#dealhunter-alerts",
          "mode": "name"
        },
        "text": "=🚨 *HIGH-VALUE LEAD* (Score: {{ $json[\"Overall Score\"] }})\n\n*{{ $json.Title }}*\nr/{{ $json.Subreddit }}| Industry: {{ $json.Industry }}\n\n*AI Summary:*\n{{ $json[\"AI Summary\"] }}\n\n📊 Relevance: {{ $json[\"Relevance Score\"] }} | Budget: {{ $json[\"Budget Score\"] }} | Win Prob: {{ $json[\"Win Probability\"] }}\n💰 Budget: {{ $json[\"Budget Mentioned\"] || 'Not mentioned' }}\n\n*👤 Lead Contact (Hunter Enriched)*\n• Name: {{ $json[\"Hunter Name\"] || $json[\"Lead Founder\"] || 'Not found' }}\n• Company: {{ $json[\"Hunter Company\"] || $json[\"Lead Company\"] || 'Not found' }}\n• Title: {{ $json[\"Hunter Title\"] || 'Not found' }}\n• Email: {{ $json[\"Hunter Email\"] || $json[\"Lead Contact\"] || 'Not found' }}\n• LinkedIn: {{ $json[\"Hunter LinkedIn\"] || 'Not found' }}\n• Website: {{ $json[\"Lead Website\"] || 'Not found' }}\n⭐ Lead Score: {{ $json[\"Lead Score\"] }}/10\n\n<{{ $json[\"Source URL\"] }}|View Post>",
        "otherOptions": {}
      },
      "id": "slack-instant",
      "name": "Slack - Instant Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1808,
        -256
      ],
      "webhookId": "b221b58c-acdf-48e8-a77d-1f2820f1dcee",
      "credentials": {
        "slackApi": {
          "id": "12yhiaMJlTGLSK74",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "deshpane834@gmail.com",
        "toEmail": "deshpane834@gmail.com",
        "subject": "=🚨 DealHunter [{{ $json[\"Overall Score\"] }}] - {{ $json[\"Title\"].substring(0,60) }}",
        "message": "=<h2>🚨 High-Value Lead — DealHunter</h2><p><b>Overall Score:</b> {{ $json[\"Overall Score\"] }} &nbsp;|&nbsp; <b>Lead Score:</b> {{ $json[\"Lead Score\"] }}/10</p><h3>{{ $json.Title }}</h3><p><b>Subreddit:</b> r/{{ $json.Subreddit }} &nbsp;|&nbsp; <b>Industry:</b> {{ $json.Industry }}</p><h3>AI Summary</h3><p>{{ $json[\"AI Summary\"] }}</p><h3>🔍 Hunter Enriched Contact</h3><table style=\"border-collapse:collapse;width:100%;font-family:sans-serif\"><tr style=\"background:#1a1a2e;color:#fff\"><th style=\"padding:8px;text-align:left\">Field</th><th style=\"padding:8px;text-align:left\">Value</th></tr><tr><td style=\"padding:7px;border:1px solid #ddd\"><b>👤 Name</b></td><td style=\"padding:7px;border:1px solid #ddd\">{{ $json[\"Hunter Name\"] || $json[\"Lead Founder\"] || \"Not found\" }}</td></tr><tr style=\"background:#f8f9fa\"><td style=\"padding:7px;border:1px solid #ddd\"><b>🏢 Company</b></td><td style=\"padding:7px;border:1px solid #ddd\">{{ $json[\"Hunter Company\"] || $json[\"Lead Company\"] || \"Not found\" }}</td></tr><tr><td style=\"padding:7px;border:1px solid #ddd\"><b>💼 Title</b></td><td style=\"padding:7px;border:1px solid #ddd\">{{ $json[\"Hunter Title\"] || \"Not found\" }}</td></tr><tr style=\"background:#f8f9fa\"><td style=\"padding:7px;border:1px solid #ddd\"><b>📧 Email</b></td><td style=\"padding:7px;border:1px solid #ddd\">{{ $json[\"Hunter Email\"] || $json[\"Lead Contact\"] || \"Not found\" }}</td></tr><tr><td style=\"padding:7px;border:1px solid #ddd\"><b>🔗 LinkedIn</b></td><td style=\"padding:7px;border:1px solid #ddd\">{{ $json[\"Hunter LinkedIn\"] || \"Not found\" }}</td></tr><tr style=\"background:#f8f9fa\"><td style=\"padding:7px;border:1px solid #ddd\"><b>🌐 Website</b></td><td style=\"padding:7px;border:1px solid #ddd\">{{ $json[\"Lead Website\"] || \"Not found\" }}</td></tr></table><h3>📊 Scores</h3><p>Relevance: {{ $json[\"Relevance Score\"] }} | Budget: {{ $json[\"Budget Score\"] }} | Urgency: {{ $json[\"Urgency Score\"] }} | Win Prob: {{ $json[\"Win Probability\"] }}</p><p>💰 Budget Mentioned: {{ $json[\"Budget Mentioned\"] || \"Not mentioned\" }}</p><p><a href=\"{{ $json[\"Source URL\"] }}\" style=\"background:#e74c3c;color:#fff;padding:8px 16px;text-decoration:none;border-radius:4px\">View Original Post →</a></p><hr/><h3>✍️ Outreach Draft</h3><p style=\"background:#f8f9fa;padding:12px;border-left:4px solid #2980b9\">{{ $json.outreach_draft || \"Not generated yet\" }}</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "email-instant",
      "name": "Email - Instant Alert (SendGrid)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1808,
        -80
      ],
      "webhookId": "2760fafa-5075-44ec-8c6c-dfe465b1b6b0",
      "credentials": {
        "smtp": {
          "id": "FNx0wyiO1TAuFQu3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1dPe3iitwzXQnVh0hPrGW8uIB3Xnf0Gzu2sx2-mflDkQ/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opportunities"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source ID": "={{ $json.source_id }}",
            "Outreach Draft": "={{ $json.outreach_draft }}",
            "Status": "outreach_ready"
          },
          "matchingColumns": [
            "Source ID"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "update-sheet-outreach",
      "name": "Update Sheet - Add Outreach Draft",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1808,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#dealhunter-digest",
          "mode": "name"
        },
        "text": "=📋 *New Lead Added* (Score: {{ $json.overall_score }})\n*{{ $json.title }}*\nr/{{ $json.subreddit }} | {{ $json.industry }}\n{{ $json.ai_summary }}\n<{{ $json.source_url }}|View Post>",
        "otherOptions": {}
      },
      "id": "slack-digest",
      "name": "Slack - Digest Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1360,
        160
      ],
      "webhookId": "d878e0ac-5e03-4bf4-9ae9-3086408ea1d4",
      "credentials": {
        "slackApi": {
          "id": "12yhiaMJlTGLSK74",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * *"
            }
          ]
        }
      },
      "id": "daily-cron",
      "name": "Cron - Daily Digest 8AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1296,
        480
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1dPe3iitwzXQnVh0hPrGW8uIB3Xnf0Gzu2sx2-mflDkQ/edit"
        }
      },
      "id": "fetch-digest-leads",
      "name": "Fetch Last 24h Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1088,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HopOeXjaGgSku8RO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\nconst yesterday = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\nconst leads = items\n  .filter(item => {\n    const discovered = new Date(item.json['Discovered At'] || item.json.discovered_at || 0);\n    const score = parseFloat(item.json['Overall Score'] || item.json.overall_score) || 0;\n    return discovered >= yesterday && score >= 0.70;\n  })\n  .sort((a, b) => {\n    const sa = parseFloat(a.json['Overall Score'] || a.json.overall_score) || 0;\n    const sb = parseFloat(b.json['Overall Score'] || b.json.overall_score) || 0;\n    return sb - sa;\n  })\n  .slice(0, 15);\n\nif (leads.length === 0) {\n  return [{ json: { count: 0, emailBody: '<p>No leads scored >= 0.70 in the last 24 hours.</p>', hasLeads: false } }];\n}\n\nconst rows = leads.map((item, idx) => {\n  const d = item.json;\n  const score = parseFloat(d['Overall Score'] || d.overall_score) || 0;\n  const title = d['Title'] || d.title || '';\n  const url   = d['Source URL'] || d.source_url || '';\n  const sub   = d['Subreddit'] || d.subreddit || '';\n  const summ  = d['AI Summary'] || d.ai_summary || '';\n  return `<tr><td>${idx+1}</td><td><a href=\"${url}\">${title}</a></td><td>r/${sub}</td><td><strong>${score.toFixed(2)}</strong></td><td>${summ.substring(0,120)}...</td></tr>`;\n}).join('');\n\nconst emailBody = `<h2>📊 DealHunter Daily Digest</h2>\n<p><strong>${leads.length} leads</strong> scored ≥ 0.70 in the last 24 hours</p>\n<table border=\"1\" cellpadding=\"6\" style=\"border-collapse:collapse;width:100%\">\n<tr><th>#</th><th>Title</th><th>Source</th><th>Score</th><th>Summary</th></tr>\n${rows}\n</table>\n<p><em>Generated ${now.toISOString()}</em></p>`;\n\nreturn [{ json: { count: leads.length, emailBody, hasLeads: true } }];"
      },
      "id": "build-digest",
      "name": "Build Daily Digest Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-leads",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.hasLeads }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "check-digest-leads",
      "name": "Check - Has Leads Today",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        480
      ]
    },
    {
      "parameters": {
        "fromEmail": "deshpane834@gmail.com",
        "toEmail": "deshpane834@gmail.com",
        "subject": "=📊 DealHunter Daily Digest - {{ $json.count }} New Leads",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-digest",
      "name": "Send Daily Digest Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -416,
        480
      ],
      "webhookId": "950530c0-974a-47e2-8281-dfd68972a851",
      "credentials": {
        "smtp": {
          "id": "FNx0wyiO1TAuFQu3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $env.WHATSAPP_PHONE_NUMBER_ID }}",
        "recipientPhoneNumber": "={{ $env.WHATSAPP_RECIPIENT_NUMBER }}",
        "textBody": "=📊 *DealHunter Daily Digest*\n\n{{ $json.count }} leads scored ≥ 0.70 in the last 24 hours.\n\nCheck your email (deshpane834@gmail.com) for the full report.\n\n_Generated: {{ new Date().toISOString() }}_",
        "additionalFields": {}
      },
      "id": "whatsapp-digest",
      "name": "WhatsApp - Send Daily Digest",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -208,
        480
      ],
      "webhookId": "9926dc17-0682-4334-ab28-8c75b4f872f0",
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp-creds",
          "name": "WhatsApp API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.apify.com/v2/acts/trudax~reddit-scraper-lite/runs?token=' + $env.APIFY_API_TOKEN + '&memory=256' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"startUrls\": $json.startUrls,\n  \"maxItems\": $json.maxItems,\n  \"proxy\": {\"useApifyProxy\": true},\n  \"includeComments\": false,\n  \"sort\": \"new\"\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "apify-start-run",
      "name": "Apify - Start Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        0
      ]
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "apify-wait-poll",
      "name": "Wait - Apify Poll (20s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -848,
        -320
      ],
      "webhookId": "057bd95f-2189-4374-bc3d-1123f72db2f6"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.apify.com/v2/actor-runs/' + $json.runId + '?token=' + $env.APIFY_API_TOKEN }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "apify-check-status",
      "name": "Apify - Check Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "status-check",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "ING"
            }
          ]
        },
        "options": {}
      },
      "id": "apify-run-done",
      "name": "Run Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        -272
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.apify.com/v2/datasets/' + $json.data.defaultDatasetId + '/items?token=' + $env.APIFY_API_TOKEN + '&limit=100&clean=true' }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "apify-fetch-results",
      "name": "Apify - Fetch Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-id",
              "name": "runId",
              "type": "string",
              "value": "={{ $json.data.id }}"
            },
            {
              "id": "dataset-id",
              "name": "datasetId",
              "type": "string",
              "value": "={{ $json.data.defaultDatasetId }}"
            },
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "={{ $json.data.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "store-run-id",
      "name": "Store Run ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "keep-runid",
              "name": "runId",
              "type": "string",
              "value": "={{ $json.data?.id || $json.runId }}"
            },
            {
              "id": "keep-dataset",
              "name": "datasetId",
              "type": "string",
              "value": "={{ $json.data?.defaultDatasetId || $json.datasetId }}"
            },
            {
              "id": "keep-status",
              "name": "status",
              "type": "string",
              "value": "={{ $json.data?.status || $json.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "keep-run-id",
      "name": "Keep Run ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-lead-data",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ ($json.lead_company || '') + ($json.lead_website || '') }}"
            },
            {
              "id": "check-score",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 0.3
            },
            {
              "id": "check-not-discard",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.alert_tier }}",
              "rightValue": "discard"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-lead-info",
      "name": "Check - Has Lead Info",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "={{ $json.lead_website ? 'domain' : 'company' }}",
              "value": "={{ $json.lead_website ? ($json.lead_website).replace(/^https?:\\/\\/(www\\.)?/, '').split('/')[0] : ($json.lead_company || $json.company_name || '') }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.HUNTER_API_KEY }}"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "hunter-enrich",
      "name": "Hunter - Enrich Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "const hunterResp = $input.item.json;\nconst original = $('Check - Has Lead Info').item.json;\nconst emails = hunterResp.data?.emails || [];\nconst priority = ['ceo','founder','co-founder','cto','owner','president'];\nlet person = emails.find(e => priority.some(t => (e.position || '').toLowerCase().includes(t))) || emails[0] || null;\nreturn [{ json: {\n  ...original,\n  hunter_name:     person ? `${person.first_name || ''} ${person.last_name || ''}`.trim() : '',\n  hunter_email:    person?.value || '',\n  hunter_linkedin: person?.linkedin || '',\n  hunter_title:    person?.position || '',\n  hunter_company:  hunterResp.data?.organization || '',\n}}];"
      },
      "id": "parse-hunter",
      "name": "Parse Hunter Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -200
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-lead-branches",
      "name": "Merge Lead Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        760,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Store raw Reddit items for later combination\nconst staticData = $getWorkflowStaticData('global');\nstaticData.redditRaw = $input.all().map(item => item.json);\n\n// Return LinkedIn Apify config\nreturn [{ json: {\n  urls: [\n    'https://www.linkedin.com/jobs/search/?keywords=AI+automation+developer&sortBy=DD&f_TPR=r86400',\n    'https://www.linkedin.com/jobs/search/?keywords=machine+learning+engineer+custom+software&sortBy=DD&f_TPR=r86400',\n    'https://www.linkedin.com/jobs/search/?keywords=SaaS+enterprise+software+AI+build&sortBy=DD&f_TPR=r86400',\n  ],\n  maxResults: 10,\n}}];"
      },
      "id": "store-reddit-start-upwork",
      "name": "Store Reddit & Start LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/runs?token=' + $env.APIFY_API_TOKEN + '&memory=256' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"urls\": $json.urls, \"maxResults\": $json.maxResults }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "upwork-start-run",
      "name": "LinkedIn - Start Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        -320
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "upwork-run-id",
              "name": "linkedinRunId",
              "type": "string",
              "value": "={{ $json.data.id }}"
            },
            {
              "id": "upwork-dataset-id",
              "name": "linkedinDatasetId",
              "type": "string",
              "value": "={{ $json.data.defaultDatasetId }}"
            },
            {
              "id": "poll-attempt",
              "name": "pollAttempt",
              "type": "number",
              "value": "=0"
            }
          ]
        }
      },
      "id": "store-upwork-run-id",
      "name": "Store LinkedIn Run ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -520
      ]
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "upwork-wait-poll",
      "name": "Wait - LinkedIn Poll (20s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        -520
      ],
      "webhookId": "b7c2d3e4-f5a6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.apify.com/v2/actor-runs/' + $json.linkedinRunId + '?token=' + $env.APIFY_API_TOKEN }}",
        "options": {}
      },
      "id": "apify-check-upwork-status",
      "name": "Apify - Check LinkedIn Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -520
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "upwork-succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "upwork-run-done",
      "name": "LinkedIn Run Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        -320
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.apify.com/v2/datasets/' + $json.data?.defaultDatasetId + '/items?token=' + $env.APIFY_API_TOKEN + '&limit=100&clean=true' }}",
        "options": {}
      },
      "id": "fetch-upwork-results",
      "name": "Apify - Fetch LinkedIn Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "keep-linkedin-run-id",
              "name": "linkedinRunId",
              "type": "string",
              "value": "={{ $json.data?.id || $json.linkedinRunId }}"
            },
            {
              "id": "keep-linkedin-dataset-id",
              "name": "linkedinDatasetId",
              "type": "string",
              "value": "={{ $json.data?.defaultDatasetId || $json.linkedinDatasetId }}"
            },
            {
              "id": "keep-poll-attempt",
              "name": "pollAttempt",
              "type": "number",
              "value": "={{ ($json.pollAttempt || 0) + 1 }}"
            }
          ]
        }
      },
      "id": "keep-upwork-run-id",
      "name": "Keep LinkedIn Run ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        -520
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retrieve stored Reddit raw items\nconst staticData = $getWorkflowStaticData('global');\nconst redditRaw = staticData.redditRaw || [];\n\n// Get LinkedIn raw items — check if this run was skipped/failed\nconst inputItems = $input.all();\nlet linkedinRaw = [];\nconst wasSkipped = staticData.linkedinSkipped || (inputItems[0]?.json?._linkedinSkipped === true);\nif (!wasSkipped) {\n  linkedinRaw = inputItems.map(i => ({ ...i.json, _source: 'linkedin' }));\n}\n\n// Fetch HN stories via Algolia API (last 48h)\nconst hnQueries = [\n  'AI automation developer hiring',\n  'machine learning custom software build',\n  'SaaS enterprise automation engineer',\n  'enterprise software build custom',\n];\nconst since = Math.floor((Date.now() - 48 * 3600 * 1000) / 1000);\nconst hnRaw = [];\nconst seenHN = new Set();\nfor (const q of hnQueries) {\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://hn.algolia.com/api/v1/search_by_date?query=${encodeURIComponent(q)}&tags=story&hitsPerPage=30&numericFilters=created_at_i>${since}`,\n    });\n    for (const hit of (resp.hits || [])) {\n      if (!hit.title || seenHN.has(hit.objectID)) continue;\n      seenHN.add(hit.objectID);\n      // Build richer description: combine story_text + url as context\n      const storyText = (hit.story_text || '').replace(/<[^>]*>/g, '').trim();\n      const description = storyText\n        ? storyText.substring(0, 3000)\n        : (hit.url ? `External link: ${hit.url}` : '');\n      hnRaw.push({ ...hit, _source: 'hackernews', _hn_description: description });\n    }\n  } catch(e) {\n    // HN fetch failed — continue without it\n  }\n}\n\n// Clear static data\ndelete staticData.redditRaw;\ndelete staticData.linkedinSkipped;\ndelete staticData.linkedinSkipReason;\n\n// Combine all sources\nconst allRaw = [\n  ...redditRaw.map(i => ({ ...i, _source: 'reddit' })),\n  ...linkedinRaw,\n  ...hnRaw,\n];\n\nif (allRaw.length === 0) {\n  // Safety: if everything failed, return a sentinel so workflow doesn't crash\n  return [{ json: { _noData: true, title: 'NO DATA', description: '', source: 'none', source_url: '', source_id: 'empty_run', posted_at: new Date().toISOString(), author: '', subreddit: '', upvotes: 0, num_comments: 0, flair_text: '', budget_text: '' } }];\n}\n\nreturn allRaw.map(item => ({ json: item }));\n"
      },
      "id": "combine-all-fetch-hn",
      "name": "Combine All & Fetch HN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -320
      ]
    },
    {
      "id": "upwork-abort-check",
      "name": "LinkedIn Abort?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "upwork-failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "FAILED"
            },
            {
              "id": "upwork-timeout",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.pollAttempt || 0 }}",
              "rightValue": 15
            },
            {
              "id": "upwork-aborted",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "ABORTED"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      }
    },
    {
      "id": "upwork-skip-store",
      "name": "LinkedIn Skip - Store Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        300
      ],
      "parameters": {
        "jsCode": "// LinkedIn failed/timed out — store flag and return empty array\n// Combine All & Fetch HN will skip LinkedIn and continue with Reddit + HN\nconst staticData = $getWorkflowStaticData('global');\nstaticData.linkedinSkipped = true;\nstaticData.linkedinSkipReason = `Status: ${$json.data?.status || 'unknown'}, Attempts: ${$json.pollAttempt || 0}`;\nreturn [{ json: { _linkedinSkipped: true, linkedinItems: [] } }];"
      }
    },
    {
      "id": "upwork-start-fail",
      "name": "LinkedIn Failed - Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        550
      ],
      "parameters": {
        "jsCode": "// LinkedIn actor could not start (actor not found, API error, etc.)\nconst staticData = $getWorkflowStaticData('global');\nstaticData.linkedinSkipped = true;\nstaticData.linkedinSkipReason = 'Actor start failed: ' + ($json.error?.message || JSON.stringify($json).substring(0,200));\nreturn [{ json: { _linkedinSkipped: true, linkedinItems: [] } }];"
      }
    },
    {
      "id": "upwork-status-fail",
      "name": "Status Check Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2600,
        600
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sf-run-id",
              "name": "linkedinRunId",
              "type": "string",
              "value": "={{ $json.linkedinRunId }}"
            },
            {
              "id": "sf-dataset-id",
              "name": "linkedinDatasetId",
              "type": "string",
              "value": "={{ $json.linkedinDatasetId }}"
            },
            {
              "id": "sf-attempt",
              "name": "pollAttempt",
              "type": "number",
              "value": "={{ ($json.pollAttempt || 0) + 1 }}"
            },
            {
              "id": "sf-status",
              "name": "data",
              "type": "object",
              "value": "={{ { status: 'RUNNING' } }}"
            }
          ]
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron - Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Initialize Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Config": {
      "main": [
        [
          {
            "node": "Build Apify Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Apify Input": {
      "main": [
        [
          {
            "node": "Apify - Start Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize to RawOpportunity": {
      "main": [
        [
          {
            "node": "Gemini AI - Score Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI - Score Opportunity": {
      "main": [
        [
          {
            "node": "Parse & Merge AI Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Merge AI Scores": {
      "main": [
        [
          {
            "node": "Check - Has Lead Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Score >= 0.30": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait - Process Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Process Rate Limit": {
      "main": [
        [
          {
            "node": "Check - Score >= 0.85 (Instant Alert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Score >= 0.85 (Instant Alert)": {
      "main": [
        [
          {
            "node": "Gemini - Generate Outreach",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Digest Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Outreach": {
      "main": [
        [
          {
            "node": "Parse Outreach Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Outreach Draft": {
      "main": [
        [
          {
            "node": "Slack - Instant Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email - Instant Alert (SendGrid)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Sheet - Add Outreach Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Instant Alert": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Instant Alert (SendGrid)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet - Add Outreach Draft": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Digest Notification": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron - Daily Digest 8AM ET": {
      "main": [
        [
          {
            "node": "Fetch Last 24h Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last 24h Leads": {
      "main": [
        [
          {
            "node": "Build Daily Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Digest Email": {
      "main": [
        [
          {
            "node": "Check - Has Leads Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Has Leads Today": {
      "main": [
        [
          {
            "node": "Send Daily Digest Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Daily Digest Email": {
      "main": [
        [
          {
            "node": "WhatsApp - Send Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify - Start Run": {
      "main": [
        [
          {
            "node": "Store Run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Apify Poll (20s)": {
      "main": [
        [
          {
            "node": "Apify - Check Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify - Check Run Status": {
      "main": [
        [
          {
            "node": "Run Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Complete?": {
      "main": [
        [
          {
            "node": "Apify - Fetch Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keep Run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify - Fetch Results": {
      "main": [
        [
          {
            "node": "Store Reddit & Start LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Run ID": {
      "main": [
        [
          {
            "node": "Wait - Apify Poll (20s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Run ID": {
      "main": [
        [
          {
            "node": "Wait - Apify Poll (20s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Has Lead Info": {
      "main": [
        [
          {
            "node": "Hunter - Enrich Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Lead Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hunter - Enrich Lead": {
      "main": [
        [
          {
            "node": "Parse Hunter Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hunter Response": {
      "main": [
        [
          {
            "node": "Merge Lead Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lead Branches": {
      "main": [
        [
          {
            "node": "Filter - Score >= 0.30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Reddit & Start LinkedIn": {
      "main": [
        [
          {
            "node": "LinkedIn - Start Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn - Start Run": {
      "main": [
        [
          {
            "node": "Store LinkedIn Run ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn Failed - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store LinkedIn Run ID": {
      "main": [
        [
          {
            "node": "Wait - LinkedIn Poll (20s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - LinkedIn Poll (20s)": {
      "main": [
        [
          {
            "node": "Apify - Check LinkedIn Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify - Check LinkedIn Status": {
      "main": [
        [
          {
            "node": "LinkedIn Run Complete?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status Check Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Run Complete?": {
      "main": [
        [
          {
            "node": "Apify - Fetch LinkedIn Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn Abort?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep LinkedIn Run ID": {
      "main": [
        [
          {
            "node": "Wait - LinkedIn Poll (20s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify - Fetch LinkedIn Results": {
      "main": [
        [
          {
            "node": "Combine All & Fetch HN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All & Fetch HN": {
      "main": [
        [
          {
            "node": "Normalize to RawOpportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Abort?": {
      "main": [
        [
          {
            "node": "LinkedIn Skip - Store Flag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keep LinkedIn Run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Skip - Store Flag": {
      "main": [
        [
          {
            "node": "Combine All & Fetch HN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Failed - Skip": {
      "main": [
        [
          {
            "node": "Combine All & Fetch HN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check Failed": {
      "main": [
        [
          {
            "node": "LinkedIn Run Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a33ae8e-a5c7-438a-b9de-827057ab00cc",
  "meta": {
    "instanceId": "bfa881661c018749d441660d36f63fdf552d02437db15de1ed54bb7a572d9e36",
    "templateCredsSetupCompleted": true
  },
  "id": "dealhunter-v2",
  "tags": []
}